{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body_id %}{% endblock %}
{%  block class %}
	{% if commande is not defined %}
	{% if taxe is not defined %}
		body-accueil
	{% endif %}
	{% endif %}
{%  endblock %}

{% block page_content %}
	{% if database %}
		{% if commande is defined %}
			{% if taxe is defined %}
				{% if recap is defined %}
    				<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-12 resultat-estimation mx-auto">
								<div class="row recap-demande-wrapper  pt-5 pb-5">
									<img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}" class="rounded col-2 mx-auto d-block img-thumbnail mb-3 src_img" style="height:100px;" alt="{{commande.carInfo.marque}}">
									<div class="col-10 mx-auto">
										<h2 class="col-12 mb-5 row mx-0">{{ 'home.recapDemande'|trans}}</h2>
										{{ include('commande/_resum_recap_demande.html.twig') }}
									</div>
								</div>
								<div class="col-md-12 px-0 col-lg-12 mx-auto d-flex my-flex-container pb-5">
									<div class="col-12 px-0 row">
										<div class="col-6 mx-auto">
											<h2 class="mb-4">{{ 'home.carSkills'|trans}}</h2>
											{{ include('commande/_resum_caracteristics_car.html.twig') }}
										</div>
										<div class="col-6 mx-auto">
											<h2 class="mb-4">{{ 'home.detailTaxes'|trans}}</h2>
											{{ include('commande/_resum_taxe_car.html.twig') }}
										</div>
										<div class="col-12 mx-auto mt-5">
											{% if app.user %}
												<a class="btn btn-blue" href="{{path('payment_request', {'commande': recap.id })}}">{{ 'label.paid'|trans}} <i class="icon-right-arrow"></i></a>
											{% else %}
												<!-- Button trigger modal -->
												<button type="button" class="btn-validate-command d-flex align-items-center justify-content-between btn btn-blue" data-toggle="modal" data-target="#exampleModalCenter">
													{{ 'home.validateComand'|trans}}<i class="icon-right-arrow"></i>
												</button>
												<!-- Modal -->
												<div class="modal fade mx-auto custom-mobile-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h3 class="modal-title" id="exampleModalCenterTitle">Connectez-vous <span>pour valider et suivre votre commande</span></h3>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<i class="icomoon icon-close"></i>
																</button>
															</div>
															<div class="modal-body">
																<div class="row">
																	<div class="col-12 col-lg-10 mx-auto">
																		<div class="custom-container-flex">
																			<p class="se-connecter">{{ 'home.loginConnnex'|trans}}</p>
																			{% include "bundles/FOSUserBundle/Security/login_content.html.twig" %}
																		</div>
																		<div class="custom-container-flex bdr-sep text-center">
																			<p class="mb-1">{{ 'home.noAcount'|trans}}</p>
																			<a class="btn link-connexion link-connexion-register" href="{{ path('fos_user_registration_register') }}">
																				{{ 'home.createAcountButton'|trans}} <i class="icomoon icon-modifier"></i>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
                            				{% endif %}
                        				</div>
                    				</div>
                				</div>
            				</div>
    					</div>

								<!-- Modal -->
								<div class="modal fade mx-auto custom-mobile-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
											<h3 class="modal-title" id="exampleModalCenterTitle">Connectez-vous <span>pour valider et suivre votre commande</span></h3>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<i class="icomoon icon-close"></i>
											</button>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-10 col-lg-10 mx-auto mt-4">
														<div class="custom-container-flex">
															<p class="se-connecter text-center">{{ 'home.loginConnnex'|trans}}</p>
															{{ include('bundles/FOSUserBundle/Security/login_content.html.twig') }}
														</div>
														<div class="custom-container-flex bdr-sep text-center">
															<p class="mb-1">{{ 'home.noAcount'|trans}}</p>
															<a class="btn link-connexion link-connexion-register" href="{{ path('fos_user_registration_register') }}">
																{{ 'home.createAcountButton'|trans}} <i class="icomoon icon-modifier"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
			{{ include('home/composant/menu-commander-fin.html.twig') }}
		{% endif %}
	{% else %}
		{% if commande is defined %}
			{% if taxe is defined %}
				<div class="col-md-12 col-lg-10 mx-auto d-flex flex-row justify-content-center my-flex-container align-items-center">
					<div class="row d-flex flex-row-reverse my-flex-container pt-5 pb-5">
						<img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}" class="rounded mx-auto d-block img-thumbnail mb-3" style="height:100px;" class="img-thumbnail src_img" alt="{{carInfo.marque}}">
						<h2 class="col-12">
							{{ 'home.recapDemande'|trans}}
							{{commande.demarche.type | lower}}</h2>
						{{ include('commande/_resum_recap_demande.html.twig') }}

						<h2 class="col-12">{{ 'home.carSkills'|trans }}</h2>
						{{ include('commande/_resum_caracteristics_car.html.twig') }}
						<br>

						<h2 class="col-12">{{'home.detailTaxes'|trans}}</h2>
						{{ include('commande/_resum_taxe_car.html.twig') }}
						<br>
						<div class="col-12 resultat-estimation-p">
							<p>
								{{ 'home.condition'|trans }}
							</p>
						</div>

						{% if app.user %}
							<a class="col-12 btn btn-success" href="{{path('Accueil')}}{{ commande.demarche.type | lower}}/?commande={{ commande.id }}">{{ 'home.validate'|trans }}</a>
						{% else %}
							{# <a class="col-12 btn btn-primary mb-3" href="{{ path('france_connect_login') }}">{{ 'home.franceConnecte'|trans }}</a> #}
							<a class="col-12 btn btn-success" href="{{ path('fos_user_registration_register',{'commande':commande.id}) }}">{{ 'home.validate'|trans }}</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% else %}
			{{ include('home/composant/menu-commander-fin.html.twig') }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block pagetext_content %}
	{{ include('home/composant/texte/accueil-texte.html.twig') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="application/javascript">
		{% if defaultDepartment is defined and defaultDepartment is not null %}
			$("#formulaire_codePostal").parent('div').find('ul.select-options').find('li[rel="{{defaultDepartment}}"]').click();
		{% endif %}
	</script>
	<script type="application/javascript">
		// URL is a built-in JavaScript class to manipulate URLs
			const url = new URL('http://dev3.cgofficiel.fr/hub/hub');
			url.searchParams.append('topic', 'http://cgofficiel.com/addNewSimulator');
			// Subscribe to updates of several Book resources
			url.searchParams.append('topic', 'http://example.com/books/2');
			// All Review resources will match this pattern
			url.searchParams.append('topic', 'http://example.com/reviews/{id}');

			const eventSource = new EventSource(url);
			eventSource.onmessage = event => {
				console.log(JSON.parse(event.data));
			}
	</script>
{% endblock %}