{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-accueil{% endblock %}

{% block page_content %}
	{% if database %}
		{% if commande is defined %}
			{% if taxe is defined %}
				{% if recap is defined %}
					<div class="col-md-12 row col-lg-12">
						<div class="row col-md-12 col-lg-6 resultat-estimation mx-auto pt-5 pb-5">
							<img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}" class="rounded mx-auto d-block img-thumbnail mb-3" style="height:100px;" class="img-thumbnail src_img" alt="{{commande.carInfo.marque}}">
							<div class="col-10 mx-auto">
								<h2 class="col-12 text-center">{{ 'home.carSkills'|trans}}</h2>
								{{ include('commande/_resum_caracteristics_car.html.twig') }}
								<hr>
							</div>
						</div>
						<div class="row col-md-12 col-lg-6 resultat-estimation mx-auto d-flex flex-row-reverse my-flex-container pt-5 pb-5">
							<div class="col-10 mx-auto">
								<h2 class="col-12">{{ 'home.recapDemande'|trans}}</h2>
								{{ include('commande/_resum_recap_demande.html.twig') }}
								<hr>

								<h2 class="col-12">{{ 'home.detailTaxes'|trans}}</h2>
								{{ include('commande/_resum_taxe_car.html.twig') }}
								<br>

								{% if app.user %}
									{# <a class="col-12 btn btn-success" href="{{path('new_demande', {'commande': recap.id })}}">{{ 'home.continue'|trans}}</a> #}
									<a class="col-12 btn btn-success" href="{{path('payment_request', {'commande': recap.id })}}">{{ 'home.continue'|trans}}</a>
								{% else %}
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
									{{ 'home.validateComand'|trans}}
								</button>
								
								<!-- Modal -->
								<div class="modal fade col-8 mx-auto custom-mobile-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title" id="exampleModalCenterTitle"></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										</div>
										<div class="modal-body">
												<div class="col-10 col-lg-10 mx-auto mt-4">
													<div class="col-12 mx-auto resultat-estimation-p mt-5">
														<p class="text-center font-24">
															{{ 'home.createAcountDescription'|trans}}
														</p>
													</div>

													<div class="custom-container-flex">
														<p class="text-center">{{ 'home.noAcount'|trans}}</p>
														<a class="link-connexion" href="{{ path('fos_user_registration_register') }}">
															{{ 'home.createAcountButton'|trans}}
														</a>
													</div>
													<div class="custom-container-flex">
														<p class="text-center">{{ 'home.loginDescription'|trans}}</p>
														<a class="link-connexion" href="{{ path('fos_user_security_login') }}">
															{{ 'home.login'|trans}}
														</a>
													</div>
													{# <div class="custom-container-flex">
														<p class="text-center">{{ 'home.franceConnecteDescription'|trans}}</p>
														<a class="link-connexion no-border" href="{{ path('france_connect_login') }}" class="btnLink">
															<img class="img-thumbnail col-12 rounded mx-auto d-block tooltiped" style="max-width: 100%;height:auto;" src="{{ asset('bundles/franceconnect/images/FCboutons-10.png') }}" alt="FranceConnect button"/>
														</a>
													</div>											 #}
												</div>													
										</div>
										<div class="modal-footer">
										</div>
									</div>
									</div>
								</div>	{% endif %}

							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
			{{ include('home/composant/menu-commander-fin.html.twig') }}
		{% endif %}
	{% else %}
		{% if commande is defined %}
			{% if taxe is defined %}
				<div class="col-md-12 col-lg-10 mx-auto d-flex flex-row justify-content-center my-flex-container align-items-center">
					<div class="row d-flex flex-row-reverse my-flex-container pt-5 pb-5">
						<img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}" class="rounded mx-auto d-block img-thumbnail mb-3" style="height:100px;" class="img-thumbnail src_img" alt="{{carInfo.marque}}">
						<h2 class="col-12">
							{{ 'home.recapDemande'|trans}}
							{{commande.demarche.type | lower}}</h2>
						{{ include('commande/_resum_recap_demande.html.twig') }}

						<h2 class="col-12">{{ 'home.carSkills'|trans }}</h2>
						{{ include('commande/_resum_caracteristics_car.html.twig') }}
						<br>

						<h2 class="col-12">{{'home.detailTaxes'|trans}}</h2>
						{{ include('commande/_resum_taxe_car.html.twig') }}
						<br>
						<div class="col-12 resultat-estimation-p">
							<p>
								{{ 'home.condition'|trans }}
							</p>
						</div>
						
						{% if app.user %}
							<a class="col-12 btn btn-success" href="{{path('Accueil')}}{{ commande.demarche.type | lower}}/?commande={{ commande.id }}">{{ 'home.validate'|trans }}</a>
						{% else %}
							{# <a class="col-12 btn btn-primary mb-3" href="{{ path('france_connect_login') }}">{{ 'home.franceConnecte'|trans }}</a> #}
							<a class="col-12 btn btn-success" href="{{ path('fos_user_registration_register',{'commande':commande.id}) }}">{{ 'home.validate'|trans }}</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% else %}
			{{ include('home/composant/menu-commander-fin.html.twig') }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block pagetext_content %}
	{{ include('home/composant/texte/accueil-texte.html.twig') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}