{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-accueil{% endblock %}

{% block page_content %}
	{% if database %}
		{% if commande is defined %}
			{% if taxe is defined %}
				{% if recap is defined %}
					<div class="col-md-12 row col-lg-8">
						<div class="row col-md-12 col-lg-6 resultat-estimation mx-auto pt-5 pb-5">
							<img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}" class="rounded mx-auto d-block img-fluid mb-3" alt="">
							<div class="col-10 mx-auto">
								<h2 class="col-12">CARACTÉRISTIQUES DU VÉHICULE</h2>
								{{ include('commande/_resum_caracteristics_car.html.twig') }}
								<hr>
								<h2 class="col-12">Récapitulatif de la demande</h2>
								{{ include('commande/_resum_recap_demande.html.twig') }}
							</div>
						</div>
						<div class="row col-md-12 col-lg-6 resultat-estimation mx-auto d-flex flex-row-reverse my-flex-container pt-5 pb-5">
							<div class="col-10 mx-auto">

								<h2 class="col-12">DÉTAIL DES TAXES</h2>
								{{ include('commande/_resum_taxe_car.html.twig') }}
								<br>
								<div class="col-12 resultat-estimation-p mb-5">
									<p>Les produits ou services achetés sur cgofficiel.fr doivent être réglés en euros soit en ligne, soit par chèque. Les catres bancaires accéptées par le système sécuriséHiPay sont Carte bleue, Visa, Eurocard Mastercard.</p>
								</div>

								{% if app.user %}
									<a class="col-12 btn btn-success" href="{{path('new_demande', {'commande': recap.id })}}">Continuer</a>
								{% else %}
									<a class="col-12 btn btn-primary mb-3" href="{{ path('france_connect_login') }}">FranceConnect</a>
									<a class="col-12 btn btn-success" href="{{ path('fos_user_registration_register') }}">Continuer</a>
								{% endif %}

							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
			{{ include('home/composant/menu-commander-fin.html.twig') }}
		{% endif %}
	{% else %}
		{% if commande is defined %}
			{% if taxe is defined %}
				<div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">
					<div class="row d-flex flex-row-reverse my-flex-container pt-5 pb-5">
						<img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}"
							class="rounded mx-auto d-block img-fluid mb-3" alt="">
						<h2 class="col-12">Récapitulatif de la demande
							{{commande.demarche.type | lower}}</h2>
						{{ include('commande/_resum_recap_demande.html.twig') }}

						<h2 class="col-12">CARACTÉRISTIQUES DU VÉHICULE</h2>
						{{ include('commande/_resum_caracteristics_car.html.twig') }}
						<br>

						<h2 class="col-12">DÉTAIL DES TAXES</h2>
						{{ include('commande/_resum_taxe_car.html.twig') }}
						<br>
						<div class="col-12 resultat-estimation-p">
							<p>Les produits ou services achetés sur cgofficiel.fr doivent être réglés en euros soit en ligne, soit par chèque. Les catres bancaires accéptées par le système sécuriséHiPay sont Carte bleue, Visa, Eurocard Mastercard.</p>
						</div>
						
						{% if app.user %}
							<a class="col-12 btn btn-success" href="{{path('Accueil')}}{{ commande.demarche.type | lower}}/?commande={{ commande.id }}">VALIDER</a>
						{% else %}
							<a class="col-12 btn btn-primary mb-3" href="{{ path('france_connect_login') }}">FranceConnect</a>
							<a class="col-12 btn btn-success" href="{{ path('fos_user_registration_register',{'commande':commande.id}) }}">VALIDER</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% else %}
			{{ include('home/composant/menu-commander-fin.html.twig') }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block pagetext_content %}
	{{ include('home/composant/texte/accueil-texte.html.twig') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('javascripts/home.js') }}"></script>
{% endblock %}