{% extends 'base.html.twig' %}

{% block seo %}
	<!-- <base href="http://dev.cgofficiel.fr/contact"/> <meta name="keywords" content=""/> <meta name="x-ua-compatible" content="IE=edge,chrome=1"/> <meta name="description" content="Commander sur cgofficiel.fr"/> <meta property="og:title"
	content="CGofficiel.fr | Contact "> <meta property="og:type" content="page"> <meta property="og:url" content="http://dev.cgofficiel.fr/contact"> <meta property="og:image" content=""> <meta property="og:description" content="Accueil cgofficiel.fr">
	<meta property="og:video" content=""> <meta property="og:locale" content="fr_FR"> <meta name="twitter:card" content="summary_large_image"/> <meta name="twitter:url" content="http://dev.cgofficiel.fr/Accueil"/> <meta name="twitter:title"
	content="CGofficiel.fr | Accueil "/> <meta property="twitter:description" content="Accueil cgofficiel.fr"/> -->
{% endblock %}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-accueil{% endblock %}

{% block page_content %}
<div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">
	<div class="row d-flex flex-row-reverse my-flex-container pt-5 pb-5">
		<h1 class="col-12 col-sm-12 home-secondview--titre">Commandez votre certificat d'immatriculation</h1>

		<div class="col-12 col-sm-6 col-lg-6">
			<button type="button" data-toggle="modal" data-target="#demande-de-duplicata" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
					<i class="fas fa-3x fa-clone"></i>
				</span>
				<div class="col-8 mx-auto menu-commander--button---text">
					<h2 class="col-10 mx-auto">Demande de duplicata
					</h2>
					<h3 class="col-10 mx-auto">vol, perte, déterioration</h3>
					<div class="col-10 mx-auto menu-box--description hidden-xl-down">
						Vous disposez d’un délai d’un mois soit 30 jours pour le faire, sinon vous vous exposez à une amende de 4ème classe.
					</div>
				</div>
			</button>
		</div>

		<div class="col-12 col-sm-6 col-lg-6">
			<button type="button" data-toggle="modal" data-target="#changement-prop-veh-occ-fr" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
					<i class="fas fa-3x fa-random"></i>
				</span>
				<div class="col-8 mx-auto menu-commander--button---text">
					<h2 class="col-10 mx-auto">Immatriculation d'un véhicule d'occasion</h2>
					<div class="col-10 mx-auto menu-box--description hidden-xl-down">
						Pour tout achat d’un véhicule précédemment immatriculé en France, l’acheteur doit procéder à l’immatriculation de ce véhicule dans un délai d’un mois.
					</div>
				</div>
			</button>
		</div>

		<div class="col-12 col-sm-6 col-lg-6">
			<button type="button" data-toggle="modal" data-target="#changement-de-domicile" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
					<i class="fas fa-3x fa-map-marker"></i>
				</span>
				<div class="col-8 mx-auto menu-commander--button---text">
					<h2 class="col-10 mx-auto">Changement d'adresse</h2>
					<div class="col-10 mx-auto menu-box--description hidden-xl-down">
						Le propriétaire d’un véhicule dispose d’un mois pour mettre à jour sa carte grise en cas de changement de domicile.
					</div>
				</div>

			</button>
		</div>

		<div class="col-12 col-sm-6 col-lg-6">
			<button type="button" data-toggle="modal" data-target="#changement-de-statut-matrimonial" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
					<i class="fas fa-3x fa-folder"></i>
				</span>

				<div class="col-8 mx-auto menu-commander--button---text">
					<h2 class="col-10 mx-auto">Changement de statut
					</h2>
					<h3 class="col-10 mx-auto">raison sociale, état civil ou matrimonial</h3>
					<div class="col-10 mx-auto menu-box--description hidden-xl-down">
						Selon votre requête, vous devrez fournir livret de famille, acte de mariage, jugement de divorce, acte d’état civil rectifié ou nouvel extrait Kbis.
					</div>
				</div>
			</button>
		</div>

		<div class="col-12 col-sm-6 col-lg-6">
			<button type="button" data-toggle="modal" data-target="#declaration-de-cession" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
					<i class="fas fa-3x fa-handshake"></i>
				</span>

				<div class="col-8 mx-auto menu-commander--button---text">
					<h2 class="col-10 mx-auto">Déclaration de cession
					</h2>
					<h3 class="col-10 mx-auto">vente ou don de votre véhicule</h3>
					<div class="col-10 mx-auto menu-box--description hidden-xl-down">
						Déclarez la vente ou le don de votre véhicule.
					</div>
				</div>
			</button>
		</div>

		<div class="col-12 col-sm-6 col-lg-6">
			<button type="button" data-toggle="modal" data-target="#immatriculation-veh-neuf" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
				<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
					<i class="fas fa-3x fa-car"></i>
				</span>

				<div class="col-8 mx-auto menu-commander--button---text">
					<h2 class="col-10 mx-auto">Immatriculation d'un véhicule neuf</h2>
					<div class="col-10 mx-auto menu-box--description hidden-xl-down">
						Avant de circuler pour la première fois vous devez faire établir dans un délai d’un mois le certificat d’immatriculation, sous peine d’amende.
					</div>
				</div>
			</button>
		</div>
	</div>
</div>

<div id="resultecg"></div>

<div class="modal" id="changement-de-titulaire">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					  {{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="changement-de-domicile">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					{{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="demande-de-duplicata">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					{{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="declaration-de-cession">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					{{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="changement-prop-veh-occ-fr">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					{{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>

		</div>
	</div>
</div>

<div class="modal" id="immatriculation-veh-neuf">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					{{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="changement-de-statut-matrimonial">
	<div class="col-8 mx-auto modal-dialog">
		<div class="modal-content">
			<!-- Modal body -->
			<div class="modal-body">
				<div id="Changement-de-titulaire" class="row commander">
					{{ include('home/composant/formulaire-carte-grise.html.twig') }}
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>{% endblock %}

{% block pagetext_content %}

{% endblock %}