{% extends 'base.html.twig' %}

{% block seo %}
<base href="{{path('doc_telechargeable')}}"/>
	<meta name="keywords" content="Documents nécessaires pour une demande concernant un certificat d'immatriculation (carte grise) sur CGOfficiel"/> 
	<meta name="x-ua-compatible" content="IE=edge,chrome=1"/> 
	<meta name="description" content="Documents nécessaires pour une demande concernant un certificat d'immatriculation (carte grise) sur CGOfficiel"/> 
	<meta property="og:title" content="CGOfficiel | Conditions générale de vente "> 
	<meta property="og:type" content="page"> 
	<meta property="og:url" content="{{path('doc_telechargeable')}}"> 
	<meta property="og:image" content=""> 
	<meta property="og:description" content="Documents nécessaires pour une demande concernant un certificat d'immatriculation (carte grise) sur CGOfficiel">
	<meta property="og:video" content=""> 
	<meta property="og:locale" content="fr_FR"> 
	<meta name="twitter:card" content="summary_large_image"/> 
	<meta name="twitter:url" content="{{path('doc_telechargeable')}}"/> 
	<meta name="twitter:title" content="CGOfficiel | Conditions générale de vente "/> 
	<meta property="twitter:description" content="Documents nécessaires pour une demande concernant un certificat d'immatriculation (carte grise) sur CGOfficiel"/>
{% endblock %}

{% block title %}| Documents téléchargeables{% endblock %}

{% block page_content %}
<style>
    .js-toggle {
        text-decoration: underline;
    }
    .js-toggle:hover, .js-toggle:focus{
        text-decoration: none;
        cursor: pointer;
    }
    .toggle-content{
        padding: 25px;
    }
    .toggle-content h4{
        color: red;
        margin-bottom: 1.5rem;
        text-transform: none;
    }
    .toggle-content li:before{
        display:none;
    }
    .toggle-content li{
        padding-left: 15px !important;
        color: #219de4;
        list-style-type: disc;
    }
</style>
<div class="block_CCM">
	<div class="container">
		<div class="row reverse-col_">
            <div class="col-12 col-lg-8 col-xll-12 doc-telechargeable">
                <h3 class="home-secondview--titre">Documents téléchargeables</h3>
                <div class="text-head">
                    <p>Documents nécessaires pour une demande concernant un certificat d'immatriculation <b>(carte grise)</b>:</p>
                </div>
                <ul class="list col-lg-10">
                    <li>Le formulaire de demande de certificat d’immatriculation <b>(carte grise)</b> CERFA n° 13750*05
                        <a href="/../download/cgofficiel_cerfa_13750-05.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li>La déclaration de cession CERFA n° 15776*01,
                        <a href="/../download/cgofficiel_cerfa-15776-01.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                    <li>Le Mandat pour effectuer les formalités d'immatriculation auprès du  Ministre de l'intérieur,
                        <a href="/../download/cgofficiel_cerfa_13757-03.pdf" target="blank">
                            <button class="btn btn-blue btn-sm" type="button" id="button-addon2"><i class="far fa-file-pdf"></i> CERFA</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Demarche formulaire /Iary  -->
			<div class="col-lg-4 d-xll-none">
				<div id="aside_right" class="aside_right">
					<div id="col_formulaireFx" class="sectionTop_ text-center">
						<div class="form_demarche">
							<div class="demarche_block">
								{% include "home/composant/formSidebarBlog.html.twig" %}
							</div>
						</div>
                        {# <img src="{{ asset("asset/img/multiplePay.png")}}" class="mx-auto"/> #}
					</div>
				</div>
			</div>
			<!-- End Demarche formulaire /Iary  -->
		</div>
	</div>
</div>
<div class="d-none d-xll-block">
    <div id="aside_right" class="aside_right">
        <div id="right_formulaireFx" class="sectionTop_">
            <div class="form_demarche"></div>
            {# <img src="{{ asset("asset/img/multiplePay.png")}}" class="mx-auto"/> #}
        </div>
    </div>
</div>
{% endblock %}
