{% extends 'base.html.twig' %}

{% block page_content %}
<div class="block_CCM">
	<div class="container">
		<div class="row reverse-col_">
            <div class="col-lg-8 col-xll-12 doc-telechargeable">
                <h3 class="home-secondview--titre">Pièces à Fournir</h3>
				<div class="block_pcs_a_fournir">
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/mandat.jpg')}})">
									<div class="numbr"><span>1</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Procutation par mandat</h3>
									<ul>
										<li>Le mandat original dûrement complété autorise CGOfficiel à réaliser la démarche administrative en votre nom. Le numéro VIN à renseigner sur le mandat correspondant à la case <strong>"E"</strong> de votre carte grise</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--Mandats-->
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/carte-grise.jpg')}})">
									<div class="numbr"><span>2</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Carte grise</h3>
									<ul>
										<li><p><strong><em>Carte grise originale :</em></strong> <br>
											Copie recto/verso du certificat d'immatriculation (carte grise) barré, daté et signé par le vendeur ou l'original du certificat d'immatriculation pour les changements de titulaire de véhicule d'occasion .</p>
											<p>L'article 4 du décret n° 2017-1278 du 9 août 2017 modifie l'article R. 322-5 du code de la route et instaure que le nouveau propriétaire d'un véhicule doit pouvoir justifier sur demande de l'ancien certificat d'immatriculation barré, daté et signé.</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--carte grise-->
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/just_domicile.jpg')}})">
									<div class="numbr"><span>3</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Justificatif de domicile</h3>
									<ul>
										<li>Quittance de loyer éditée par une agence immatriculée au RCS</li>
										<li>Dernier avis d'imposition ou de non imposition</li>
										<li>Quittance de gaz</li>
										<li>Quittance d'électricité</li>
										<li>Facture de téléphone fixe ou portable</li>
										<li>Facture d'un fournisseur d'accès à Internet</li>
										<li>Attestation d'un fournisseur d'énergie (EDF, Engie, ...)</li>
										<li>Attestation d'assurance habitation</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--justificatif de domicilee-->
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/premis_c.jpg')}})">
									<div class="numbr"><span>4</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Permis de conduire</h3>
									<ul>
										<li>Preuve que le titulaire dispose du droit de conduire le véhicule.</li>
										<li>Copie du permis de conduire en cours de validité ou document provisoire établissant les droits à conduire <em>(décret n°2017-1278 du 9 août 2017)</em>.</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--permis de conduire-->
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/pcs_identite.jpg')}})">
									<div class="numbr"><span>5</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Pièce d’identité valide</h3>
									<ul>
										<li>Copie recto/verso d'une carte d'identité (ou passeport) en cours de validité, ou d'un titre de séjour (dans ce cas, même adresse que la carte grise).</li>
										<li>Pour un nom marital qui n'apparaît pas sur la pièce d'identité, <br/><strong>fournir en plus une copie du livret de famille mis à jour.</strong></li>
										<li>Pour un passeport établi hors UE, si l'adresse du passeport est en France, <br/><strong>fournir en plus une copie de la carte de séjour ou du permis de conduire français</strong></li>
										<li>si l'adresse du passeport est hors de France, <br/><strong>fournir une copie du visa</strong>.</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--pièce d’identité valide-->
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/controle_tech.jpg')}})">
									<div class="numbr"><span>6</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Copie du contrôle technique</h3>
									<ul>
										<li>Copie du Contrôle technique ou la vignette collée au dos de la carte grise qui prouve qu'il a été effectué il y a moins de 6 mois <em>(ou moins de 2 mois en cas de contre-visite)</em>.</li>
										<li>Les motos, cyclomoteurs, caravanes, remorques et engins agricoles ne sont pas concernés.</li>
										<li><strong>Important:</strong> c'est la date de saisie du dossier qui est prise en compte et non la date de commande !</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--copie du contrôle technique-->
					<div class="item_pcs_a_fournir">
						<div class="row">
							<div class="col-md-4">
								<div class="img_pcs" style="background-image:url({{ asset('asset/img/peace_fournir/demande-originale.jpg')}})">
									<div class="numbr"><span>7</span></div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="text_pcs">
									<h3>Attestation d’assurance du véhicule</h3>
									<ul>
										<li>Attestation d’assurance / carte verte du véhicule en cours de validité.</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--demande originale-->
				</div>
            </div>
			<!-- Demarche formulaire /Iary  -->
			<div class="col-lg-4 d-xll-none">
				<div id="aside_right" class="aside_right">
					<div id="col_formulaireFx"  class="sectionTop_">
						<div class="form_demarche">
							<div class="demarche_block">
								{% include "home/composant/formSidebarBlog.html.twig" %}
							</div>
						</div>
                        <img src="{{ asset("asset/img/multiplePay.png")}}" class="mx-auto"/>
					</div>
				</div>
			</div>
			<!-- End Demarche formulaire /Iary  -->
		</div>
	</div>
</div>
<div class="d-none d-xll-block">
    <div id="aside_right" class="aside_right">
        <div id="right_formulaireFx" class="sectionTop_">
            <div class="form_demarche"></div>
            <img src="{{ asset("asset/img/multiplePay.png")}}" class="mx-auto"/>
        </div>
    </div>
</div>
{% endblock %}