{% extends 'base.html.twig' %}

{% block seo %}
<base href="{{path('prix_carte_grise')}}"/>
<meta name="keywords" content="Estimez le coût de votre carte grise selon votre département. Découvrez le tarif de la taxe régionale en vigueur dans votre département pour votre certificat d’immatriculation."/> 
<meta name="x-ua-compatible" content="IE=edge,chrome=1"/> 
<meta name="description" content="Estimez le coût de votre carte grise selon votre département. Découvrez le tarif de la taxe régionale en vigueur dans votre département pour votre certificat d’immatriculation."/> 
<meta property="og:title" content="CGofficiel.fr | Prix de la carte grise "> 
<meta property="og:type" content="page"> 
<meta property="og:url" content="{{path('prix_carte_grise')}}"> 
<meta property="og:image" content=""> 
<meta property="og:description" content="Estimez le coût de votre carte grise selon votre département. Découvrez le tarif de la taxe régionale en vigueur dans votre département pour votre certificat d’immatriculation.">
<meta property="og:video" content=""> 
<meta property="og:locale" content="fr_FR"> 
<meta name="twitter:card" content="summary_large_image"/> 
<meta name="twitter:url" content="{{path('prix_carte_grise')}}"/> 
<meta name="twitter:title" content="CGofficiel.fr | Prix de la carte grise "/> 
<meta property="twitter:description" content="Estimez le coût de votre carte grise selon votre département. Découvrez le tarif de la taxe régionale en vigueur dans votre département pour votre certificat d’immatriculation."/>
{% endblock %}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-accueil{% endblock %}

{% block page_content %}
<div class="col-md-11 home-texte col-lg-11 d-flex flex-row justify-content-center my-flex-container align-items-center mx-auto">
    <div class="row d-flex flex-row-reverse my-flex-container pt-5 pb-5">
        <h2 class="col-12 col-sm-12 home-prix--titre">Quel est le coût d'une Carte Grise?</h2>
        
        <div class="col-12 ">
            <h3>Prix de votre carte grise par département</h3>
            <p>Cliquez sur la carte pour sélectionner votre département.</p>
            <div class="map-container d-flex mx-auto text-center">
                <div id="francemap" style="margin:auto; min-width: 550px; height: 600px; position: relative; overflow: hidden; background-color: rgb(249, 249, 249);"></div>
                <div class="info-map">
                </div>
            </div>
            <h3 class="mt-5">Prix de la Carte Grise dans <span class="departement_selectione"> votre département</span></h3>
            <center>
                <table class="col-6 text-center">
                    <tr class="text-center">
                        <td>Tarif cheval fiscal</td>
                        <td>Tarif exoneration</td>
                    </tr>
                    <tr class="text-center">
                        <td class="departement_tarif"> -- €</td>
                        <td class="departement_exoneration"> -- %</td>
                    </tr>
                </table>
                <a href="#" class="lien_pref target_blank" target="_self">
                    <img src="{{ asset('asset/img/logo.png')}}" style="height:50px;" class="img-thumbnail src_img" alt="...">
                </a>
                <br>
                <a class="btn btn-outline-success mt-3 lien_pref target_blank"  target="_self" href="#" >
                    En savoir plus sur cette préfécture 
                </a><br>
                <a class="btn btn-success mt-3 " href="{{path('Accueil')}}">
                    PASSER MA COMMANDE 
                </a>
            </center>
        </div>
    </div>
</div>
{% endblock %}

{% block pagetext_content %}
	{{ include('home/composant/texte/accueil-texte.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('javascripts/card/dist/jquery.vmap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('javascripts/card/dist/maps/jquery.vmap.france-customed.js') }}" charset="utf-8"></script>
    <script src="{{ asset('javascripts/card/value.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'france_fr',
                enableZoom: false,
                showTooltip: true
            });
        });

    </script>
    <script src="{{ asset('javascripts/home.js') }}"></script>
{% endblock %}