{% extends 'email_base.html.twig' %}


{% block body %}
        <td class="bodyEmail" bgcolor="#ffffff">
            <br>
            <br>
            <br>
            <br>
            Bonjour {{ user.client|displayRelanceInfos }}
            <br>
            <br>      
                <p>Vous avez effectué une commande sur <a href="{{basePath}}" target="_blank">CG Officiel</a>, 
                mais vous n'avez pas numérisé vos documents pour finaliser votre demande. </p>
                <p>Pour rappel, il vous reste [jour restant] jours avant l'annulation de votre demande</p>
                <p>Rendez vous sur votre <a href="{{ basePath ~ path('demande_dossiers_a_fournir', {'id': demande.id}) }}" target="_blank">espace client</a> pour le compléter.</p>
                <p>Si vous avez besoin d’assistance, n’hésitez pas à contacter notre support téléphonique au 09 72 76 01 07 </p>
            <p>Cordialement,</p>
            <p>L'équipe <a href="{{basePath}}" target="_blank">CG OFFICIEL</a> vous remercie.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 0 10px 0 10px;" class="bodyEmail" bgcolor="#ffffff">
        <br>
            <a href="tel:0972760107"><img src="{{ url('home') ~ asset('asset/img/0972760107.png') }}" alt="" border="0" style="max-width: 300px;background:fff" /></a>
        <br>
        <br>
        <br>
        </td>
    </tr>
    <tr>
        <td class="footer" bgcolor="#03347e">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" class="footercopy">
                        Agrément du Trésor Public N° 55337 <br>Habilitation du Ministère de l'Interieur N° 222442
                    </td>
                </tr>
                <tr>
                    <td align="center" class="footercopy">
                        <br>
                        <br>
                        Ce mail est envoyé automatiquement, veuillez ne pas y répondre
                    </td>
                </tr>
            </table>
        </td>
{% endblock %}