<div class="row">
    <div class="col-md-5">
        <h2>Caractéristiques du véhicule</h2>
        <div class="list-grid">
            <div class="list-grid__item">
                <div >Marque</div>
                <div>{{commande.carInfo.marque}}</div>
            </div>
            <div  class="list-grid__item">
                <div>Modèle</div>
                <div>{{commande.carInfo.model}}</div>
            </div>
            <div class="list-grid__item">
                <div>VIN</div>
                <div>{{ commande.taxes.VIN }}</div>
            </div>
            <div class="list-grid__item">
                <div>CO2</div>
                <div>{{ commande.taxes.CO2 }}</div>
            </div>
            <div class="list-grid__item">
                <div>Genre</div>
                <div>{{ commande.taxes.Genre }}</div>
            </div>
            <div class="list-grid__item">
                <td></td>
                <div>PTAC</div>
                <div>{{ commande.taxes.PTAC }}</div>
            </div>
            <div class="list-grid__item">
                <div>Energie</div>
                <div>{{ commande.taxes.Energie }}</div>
            </div>
            <div class="list-grid__item">
                <div>Mise en ciruclation</div>
                <div>{{ commande.taxes.DateMEC | date('Y-m-d') }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2>Récapitulatif de la demande</h2>
        <div class="list-grid">
            <div class="list-grid__item">
                <div>Demarche</div>
                <div>{{commande.demarche}}</div>
            </div>
            <div  class="list-grid__item">
                <div>Immatriculation</div>
                <div>{{commande.immatriculation}}</div>
            </div>
            <div class="list-grid__item">
                <div>Département</div>
                <div>{{commande.codePostal}}</div>
            </div>
        </div>
    </div>
</div>