{% extends 'base.html.twig' %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block stylesheets %} {{ parent()}} {% endblock %}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block page_content %}
<div class="col-sm-10 col-lg-12 d-flex flex-row justify-content-center my-flex-container align-items-center mobile-center">
	<div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <div class="col-12 commander-firstview mt-4 custom-form">
            <h2 class="col-md-10 mx-auto full-mobile">{{ commande.demarche.nom|upper }}</h2>
            <div class="row">
                <hr>
                {{ form_start(form, {'attr': {'class': 'row'}}) }}
                    <div class="col-4 col-md-10 mx-auto full-mobile">
                        {% include "demande/caracteristicVehicle.html.twig" %}
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center"> INFORMATION DE LA VENTE DU VEHICULE </h3>
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="form-group row d-flex flex-bottom-custom">
                            {{ form_errors(form.cession.dateHeureDeLaVente)}}
                            <div class="col-md-7 col-12">
                                <h6 class="text-left"> {{ form_label(form.cession.dateHeureDeLaVente.date)}} </h6>
                                <div class="row d-flex">
                                    <div class="col-3">
                                        {{ form_widget(form.cession.dateHeureDeLaVente.date.day)}}
                                    </div>
                                    <div class="col-5">
                                        {{ form_widget(form.cession.dateHeureDeLaVente.date.month)}}
                                    </div>
                                    <div class="col-4">
                                        {{ form_widget(form.cession.dateHeureDeLaVente.date.year)}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <h6 class="text-left"> {{ form_label(form.cession.dateHeureDeLaVente.time)}} </h6>
                                <div class="row d-flex">
                                    <div class="col-6">
                                        {{ form_widget(form.cession.dateHeureDeLaVente.time.hour)}}
                                    </div>
                                    <div class="col-6">
                                        {{ form_widget(form.cession.dateHeureDeLaVente.time.minute)}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="ancientitulaire">
                            {{ form_label(form.cession.numeroDeLaFormulCarteGrise)}}
                            <span type="button" class="fa fa-question-circle" data-html="true" data-toggle="tooltip" data-placement="top" template='{% include "demande/tooltips/templateCessionNumFormulCarteGrise.html.twig" %}' title="{% include 'demande/tooltips/cessionNumFormulCarteGrise.html.twig' %}" >
                            </span>
                            {{ form_errors(form.cession.numeroDeLaFormulCarteGrise)}}
                            {{ form_widget(form.cession.numeroDeLaFormulCarteGrise)}}
                            <br>
                        </div>
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="col-10 col-sm-12 mx-auto">
                            <h3 class="text-center"> {{ form_label(form.cession.vendeur) }} </h3>
                            <hr>
                            {% for acquerreur in form.cession.vendeur %}
                                <div class="form-group">
                                    {{ form_label(acquerreur)}}
                                    {{ form_errors(acquerreur)}}
                                    {{ form_widget(acquerreur, {'attr': {'class': ''}})}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="col-10 col-sm-12 mx-auto">
                            <h3 class="text-center"> {{ form_label(form.cession.acheteur) }} </h3>
                            <hr>
                            {% for acquerreur in form.cession.acheteur %}
                                <div class="form-group">
                                    {{ form_label(acquerreur)}}
                                    {{ form_errors(acquerreur)}}
                                    {{ form_widget(acquerreur, {'attr': {'class': ''}})}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 text-center mb-5">
                        <br>
                        <input type="submit" class="btn btn-lg btn-success" value="Valider">
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script type="application/javascript">
$('.choice-type-ancientitulaire').on('change', function(e) {
    $(e.target).parent('.form-group').siblings().toggle();
})
</script>
{% endblock %}