{% extends 'base.html.twig' %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block page_content %}
<div class="col-sm-10 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center mobile-center">
	<div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <div class="col-12 commander-firstview custom-form">
            <h2 class="col-md-10 mx-auto full-mobile">{{ commande.demarche.nom|upper }}</h2>
            <div class="row">
                <hr>
                {{ form_start(form, {'attr': {'class': 'row'}}) }}
                    <div class="col-4 col-md-10 mx-auto full-mobile">
                        {% include "demande/caracteristicVehicle.html.twig" %}
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="col-10 col-sm-12 mx-auto">
                            <h3 class="text-center"> {{ form_label(form.cession.dateCession) }} </h3>
                            <hr>
                            <div class="form-group">
                                {{ form_label(form.cession.dateCession)}}
                                {{ form_errors(form.cession.dateCession)}}
                                {{ form_widget(form.cession.dateCession, {'attr': {'class': ''}})}}
                            </div>
                            <br>
                            <h3 class="text-center"> {{ form_label(form.cession.ancienTitulaire) }} </h3>
                            <hr>
                            <div class="ancientitulaire">
                                {{ form_row(form.cession.ancienTitulaire.type)}}
                                {{ form_row(form.cession.ancienTitulaire.raisonsociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                {{ form_row(form.cession.ancienTitulaire.nomprenom)}}
                                <br>
                            </div>
                            <h3 class="text-center"> {{ form_label(form.cession.acquerreur) }} </h3>
                            <hr>
                            <div class="newtitulaire">
                            {{ form_row(form.cession.acquerreur.type)}}
                            {{ form_row(form.cession.acquerreur.nomPrenomTitulaire)}}
                            {{ form_row(form.cession.acquerreur.prenomTitulaire)}}
                            {{ form_row(form.cession.acquerreur.genre)}}
                            {{ form_row(form.cession.acquerreur.dateN)}}
                            {{ form_row(form.cession.acquerreur.lieuN)}}
                            {{ form_row(form.cession.acquerreur.raisonSociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                            {{ form_row(form.cession.acquerreur.societeCommerciale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="col-10 col-sm-12 mx-auto">
                            <h3 class="text-center"> {{ form_label(form.cession.acquerreur.adresseNewTitulaire) }} </h3>
                            <hr>
                            {% for addresseNewTitulaire in form.cession.acquerreur.adresseNewTitulaire %}
                                <div class="form-group">
                                    {{ form_label(addresseNewTitulaire)}}
                                    {{ form_errors(addresseNewTitulaire)}}
                                    {{ form_widget(addresseNewTitulaire, {'attr': {'class': ''}})}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div style="display:none">
                            {{form_rest(form)}}
                        </div>
                    </div>
                    <div class="col-12 text-center mb-5">
                        <br>
                        <input type="submit" class="btn btn-lg btn-success" value="Valider">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="application/javascript">
$('.choice-type-newtitulaire').on('change', function(e) {
    $(e.target).parent('.form-group').siblings().toggle();
})
</script>
<script type="application/javascript">
$('.choice-type-ancientitulaire').on('change', function(e) {
    $(e.target).parent('.form-group').siblings().toggle();
})
</script>
{% endblock %}