{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('Utils/jquerySteps/css/jquery.steps.css')}}" rel="stylesheet">
    <link href="{{asset('Utils/jquerySteps/css/main.css')}}" rel="stylesheet">
    <link href="{{asset('Utils/jquerySteps/css/normalize.css')}}" rel="stylesheet">
    <style>
        .tooltip-inner {
            min-width: 100px;
            max-width: 50%;
        }
    </style>
{% endblock %}

{% block page_content %}
    <h2 class="col-md-10 mx-auto full-mobile">{{ commande.demarche.nom|upper }}</h2>
    <div class="col-md-12">
        <div class="col-4 col-md-10 mx-auto full-mobile">
            {% include "demande/caracteristicVehicle.html.twig" %}
        </div>
        <div>
        {{ form_start(form, {'attr': {'id': 'example-advanced-form'}}) }}
            <h3>{{ form_label(form.changementAdresse.nouveauxTitulaire) }}</h3>
            <fieldset style="position: relative;width: 100%;">
                <div class="titulaire">
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.type)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.raisonSociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.siren, {'attr': {'data-row-style': 'display:none !important;'} })}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.societeCommerciale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.nomPrenomTitulaire)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.birthName)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.prenomTitulaire)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.genre)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.dateN)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.lieuN)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.departementN)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.paysN)}}
                    {{ form_row(form.changementAdresse.nouveauxTitulaire.droitOpposition)}}
                </div>
            </fieldset>

            <h3>{{ form_label(form.changementAdresse.ancienAdresse) }}</h3>
            <fieldset style="position: relative;width: 100%;">
                {% for adresse in form.changementAdresse.ancienAdresse %}
                <div class="form-group">
                    {{ form_label(adresse)}}
                    {{ form_errors(adresse)}}
                    {{ form_widget(adresse, {'attr': {'class': ''}})}}
                </div>
                {% endfor %}
            </fieldset>

            <h3>{{ form_label(form.changementAdresse.nouveauxTitulaire.adresseNewTitulaire) }}</h3>
            <fieldset style="position: relative;width: 100%;">
                {% for address in form.changementAdresse.nouveauxTitulaire.adresseNewTitulaire %}
                {% if loop.index < 9 %}
                <div class="form-group">
                    {{ form_label(address)}}
                    {{ form_errors(address)}}
                    {{ form_widget(address, {'attr': {'class': ''}})}}
                </div>
                {% endif %}
            {% endfor %}
            <div class="col-12 text-center">
                <div style="display:none">
                    {{form_rest(form)}}
                </div>
            </div>
            </fieldset>

            <h3>{{ form_label(form.changementAdresse.numeroFormule)}}</h3>
            <fieldset style="position: relative;width: 100%;">
                <span type="button" class="fa fa-question-circle" data-html="true" data-toggle="tooltip" data-placement="top"
                    template='{% include "demande/tooltips/templateCessionNumFormulCarteGrise.html.twig" %}'
                    title="{% include 'demande/tooltips/cessionNumFormulCarteGrise.html.twig' %}">
                </span>
                {{ form_errors(form.changementAdresse.numeroFormule)}}
                {{ form_widget(form.changementAdresse.numeroFormule)}}
            </fieldset>
        {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('Utils/jquerySteps/js/jquery.steps.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/jqueryValidate.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/changementAddress.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.12.0/d3.min.js"></script>
<script type="application/javascript">
    $('.choice-type-ancientitulaire').on('change', function(e) {
        $(e.target).parent().siblings().toggle();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<!--<script type="application/javascript">
    $('.choice-type-personne').on('change', function(e) {
        $(e.target).parent('.form-group').siblings().toggle();
    })
</script>-->
<script type="text/javascript">
    $('.js-datepicker').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });
</script>
<script>
    $(document).ready(
        function(){
            initFormStep(
                $("#example-advanced-form"),
                "h3",
                "fieldset",
                "fade"
            );
        }
    );
    $(document).ready(
        function(){
            showElement(
                $('.choice-type-personne')
            );
        }
    );
</script>
{% endblock %}