{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('Utils/jquerySteps/css/jquery.steps.css')}}" rel="stylesheet">
    <link href="{{asset('Utils/jquerySteps/css/main.css')}}" rel="stylesheet">
    <link href="{{asset('Utils/jquerySteps/css/normalize.css')}}" rel="stylesheet">
    <style>
        .tooltip-inner {
            min-width: 100px;
            max-width: 50%;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="">
        <form id="example-advanced-form" action="#">
            <h3>Account</h3>
            <fieldset>
                <legend>Account Information</legend>
        
                <label for="userName-2">User name *</label>
                <input id="userName-2" name="userName" type="text" class="required">
                <label for="password-2">Password *</label>
                <input id="password-2" name="password" type="text" class="required">
                <label for="confirm-2">Confirm Password *</label>
                <input id="confirm-2" name="confirm" type="text" class="required">
                <p>(*) Mandatory</p>
            </fieldset>
        
            <h3>Profile</h3>
            <fieldset>
                <legend>Profile Information</legend>
        
                <label for="name-2">First name *</label>
                <input id="name-2" name="name" type="text" class="required">
                <label for="surname-2">Last name *</label>
                <input id="surname-2" name="surname" type="text" class="required">
                <label for="email-2">Email *</label>
                <input id="email-2" name="email" type="text" class="required email">
                <label for="address-2">Address</label>
                <input id="address-2" name="address" type="text">
                <label for="age-2">Age (The warning step will show up if age is less than 18) *</label>
                <input id="age-2" name="age" type="text" class="required number">
                <p>(*) Mandatory</p>
            </fieldset>
        
            <h3>Warning</h3>
            <fieldset>
                <legend>You are to young</legend>
        
                <p>Please go away ;-)</p>
            </fieldset>
        
            <h3>Finish</h3>
            <fieldset>
                <legend>Terms and Conditions</legend>
        
                <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms-2">I
                    agree with the Terms and Conditions.</label>
            </fieldset>
        </form>
    </div>

<div class="col-sm-10 col-lg-12 d-flex flex-row justify-content-center my-flex-container align-items-center mobile-center">
    <div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <div class="col-12 commander-firstview mt-4 custom-form">
            <h2 class="col-md-10 mx-auto full-mobile">{{ commande.demarche.nom|upper }}</h2>
            <div class="row">
                <hr>
                {{ form_start(form, {'attr': {'class': 'row'}}) }}
                <div class="col-4 col-md-10 mx-auto full-mobile">
                    {% include "demande/caracteristicVehicle.html.twig" %}
                </div>
                <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                    <div class="col-10 col-sm-12 mx-auto">
                        {{ form_label(form.changementAdresse.numeroFormule)}}
                        <span type="button" class="fa fa-question-circle" data-html="true" data-toggle="tooltip" data-placement="top"
                            template='{% include "demande/tooltips/templateCessionNumFormulCarteGrise.html.twig" %}'
                            title="{% include 'demande/tooltips/cessionNumFormulCarteGrise.html.twig' %}">
                        </span>
                        {{ form_errors(form.changementAdresse.numeroFormule)}}
                        {{ form_widget(form.changementAdresse.numeroFormule)}}
                    </div>
                    <div class="col-10 col-sm-12 mx-auto">
                        <h3 class="text-center">{{ form_label(form.changementAdresse.nouveauxTitulaire) }}</h3>
                            <hr>
                            <div class="titulaire">
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.type)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.raisonSociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.siren, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.societeCommerciale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.nomPrenomTitulaire)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.birthName)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.prenomTitulaire)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.genre)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.dateN)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.lieuN)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.departementN)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.paysN)}}
                                {{ form_row(form.changementAdresse.nouveauxTitulaire.droitOpposition)}}
                            </div>
                            {# {% for newTitulaire in form.changementAdresse.nouveauxTitulaire %}
                                {% if loop.index < 8 %}
                                <div class="form-group">
                                    {{ form_label(newTitulaire)}}
                                    {{ form_errors(newTitulaire)}}
                                    {{ form_widget(newTitulaire, {'attr': {'class': ''}})}}
                                </div>
                                {% endif %}
                            {% endfor %} #}
                            <br>
                                <h3 class="text-center"> {{ form_label(form.changementAdresse.ancienAdresse) }} </h3>
                                <hr>
                                {% for adresse in form.changementAdresse.ancienAdresse %}
                                <div class="form-group">
                                    {{ form_label(adresse)}}
                                    {{ form_errors(adresse)}}
                                    {{ form_widget(adresse, {'attr': {'class': ''}})}}
                                </div>
                                {% endfor %}
                            <br>
                    </div>
                </div>
                <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                    <div class="col-10 col-sm-12 mx-auto">
                        <h3 class="text-center">
                            {{ form_label(form.changementAdresse.nouveauxTitulaire.adresseNewTitulaire) }}</h3>
                        <hr>
                        {% for address in form.changementAdresse.nouveauxTitulaire.adresseNewTitulaire %}
                        {% if loop.index < 9 %}
                        <div class="form-group">
                            {{ form_label(address)}}
                            {{ form_errors(address)}}
                            {{ form_widget(address, {'attr': {'class': ''}})}}
                        </div>
                        {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div style="display:none">
                        {{form_rest(form)}}
                    </div>
                </div>

                <div class="col-12 text-center mb-5">
                    <br>
                    <input type="submit" class="btn btn-lg btn-success" value="Valider">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script src="{{asset('Utils/jquerySteps/js/jquery.steps.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/jqueryValidate.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/index.js')}}"></script>
<script type="application/javascript">
    $('.choice-type-ancientitulaire').on('change', function(e) {
        $(e.target).parent().siblings().toggle();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script type="application/javascript">
    $('.choice-type-personne').on('change', function(e) {
        $(e.target).parent('.form-group').siblings().toggle();
    })
</script>
<script type="text/javascript">
    $('.js-datepicker').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });
</script>
<script>
    $(document).ready(
        function(){
            initFormStep(
                $("#example-advanced-form"),
                "h3",
                "fieldset",
                "fade"
            );
        }
    );
</script>
{% endblock %}