{% extends 'base.html.twig' %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block page_content %}
<div class="col-sm-10 col-lg-12 d-flex flex-row justify-content-center my-flex-container align-items-center mobile-center">
	<div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <div class="col-12 commander-firstview custom-form">
            <h2 class="col-md-10 mx-auto full-mobile">{{ commande.demarche.nom|upper }}</h2>
            <div class="row col-12 ">
                <hr>
                {{ form_start(form, {'attr': {'class': 'row'}}) }}
                    <div class="col-4 col-md-10 mx-auto full-mobile">
                        {% include "demande/caracteristicVehicle.html.twig" %}
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="col-10 col-sm-12 mx-auto">
                                <h3 class="text-center">{{ form_label(form.ctvo.ancienTitulaire) }}</h3>
                                <hr>
                            <div class="ancientitulaire">
                                {{ form_row(form.ctvo.ancienTitulaire.type)}}
                                {{ form_row(form.ctvo.ancienTitulaire.raisonsociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                {{ form_row(form.ctvo.ancienTitulaire.nomprenom)}}
                            </div>
                            <div class="ciPresent">                                
                                {{ form_row(form.ctvo.ciPresent)}}
                                {{ form_row(form.ctvo.numeroFormule, {'attr': {'data-row-style': 'display:none !important;'} })}}
                            </div>

                                <h3 class="text-center">{{ form_label(form.ctvo.acquerreur) }}</h3>
                                <hr>
                                <div class="titulaire">
                                    {{ form_row(form.ctvo.acquerreur.type)}}
                                    {{ form_row(form.ctvo.acquerreur.raisonSociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.ctvo.acquerreur.siren, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.ctvo.acquerreur.societeCommerciale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.ctvo.acquerreur.nomPrenomTitulaire)}}
                                    {{ form_row(form.ctvo.acquerreur.prenomTitulaire)}}
                                    {{ form_row(form.ctvo.acquerreur.genre)}}
                                    {{ form_row(form.ctvo.acquerreur.dateN)}}
                                    {{ form_row(form.ctvo.acquerreur.lieuN)}}
                                    {{ form_row(form.ctvo.acquerreur.departementN)}}
                                    {{ form_row(form.ctvo.acquerreur.paysN)}}
                                    {{ form_row(form.ctvo.acquerreur.droitOpposition)}}
                                </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-5 mx-auto form-row full-mobile">
                        <div class="col-10 col-sm-12 mx-auto">
                            <h3 class="text-center"> {{ form_label(form.ctvo.acquerreur.adresseNewTitulaire) }} </h3>
                            <hr>
                            <div class="vehicule-neuf">
                            {% for addresseNewTitulaire in form.ctvo.acquerreur.adresseNewTitulaire %}
                                <div class="form-group">
                                    {{ form_label(addresseNewTitulaire)}}
                                    {{ form_errors(addresseNewTitulaire)}}
                                    {{ form_widget(addresseNewTitulaire, {'attr': {'class': ''}})}}
                                </div>
                            {% endfor %}
                            </div>
                            <h3 class="text-center">{{ form_label(form.ctvo.cotitulaire) }}</h3>
                            <hr>
                            
                                <ul class="tags" data-prototype="{{ form_widget(form.ctvo.cotitulaire.vars.prototype)|e('html_attr') }}">
                                    {% for tag in form.ctvo.cotitulaire %}
                                        {% if loop.index < 5 %}
                                        <li>
                                            {{ form_label(tag.vars.prototype)|e  }}
                                            {{ form_errors(tag.vars.prototype)|e  }}
                                            {{ form_widget(tag.vars.prototype, {'attr': {'class': ''}})|e  }}
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div style="display:none;">
                            {{form_rest(form)}}
                        </div>
                    </div>
                    <div class="col-12 text-center mb-5">
                        <br>
                        <input type="submit" class="btn btn-md btn-success" value="Valider">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script type="application/javascript">
    $('.choice-type-ciPresent').on('change', function(e) {
        $(e.target).parent('.form-group').siblings().toggle();
    })
</script>
<script type="application/javascript">
    $('.choice-type-ancientitulaire').on('change', function(e) {
        $(e.target).parent('.form-group').siblings().toggle();
    })
</script>
<script type="application/javascript">
    $('.choice-type-personne').on('change', function(e) {
        $(e.target).parent('.form-group').siblings().toggle();
    })
</script>
<script type="application/javascript">
    $('.choice-type-cotitulaire').on('change', function(e) {
        $(e.target).parent('.form-group').siblings().toggle();
    })
</script>
<script type="application/javascript">
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<center><button type="button" class="add_tag_link btn btn-outline-primary btn-md">Ajouter cotitulaire</button></center>');
    var $newLinkLi = $('<p></p>').append($addTagButton);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.tags');
        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // tagindex when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
    
        // get the new index
        var index = $collectionHolder.data('index');
    
        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);
    
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);
    
        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);
    
        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div class="cotitulaire"></div>').append(newForm);
        addTagFormDeleteLink($newFormLi);
        $newLinkLi.before($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormButton = $('<center><button type="button" class="btn btn-outline-danger btn-md">Supprimer ce cotitulaire</button></center>');
        $tagFormLi.append($removeFormButton);
    
        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
    
{% endblock %}