// form-theme.html.twig

{% block form_row -%}
{% set row_class = attr['data-row-class'] | default('') %}
{% set row_style = attr['data-row-style'] | default('') %}
    <div class="form-group {{ row_class }}" style="{{ row_style }}" >
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}