{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #daf-list-wrapper ol > li > ul {
            color: #d9534f;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="col-md-12 col-lg-8 mt-0 mt-md-5">
        <h1 class="pl-4">Votre demande </h1>
                {% if demande.statusDoc == constant('App\\Entity\\Demande::DOC_VALID') %}
                    <div class="alert alert-success">
                        Votre document est valider , Vous pouvez l'envoyer par post
                    </div>
                {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_PENDING') %}
                    <div class="alert alert-warning" role="alert">
                        Votre document est en cours de validation, Veuillez attendre le retour de l'administrateur
                    </div>
                {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_NONVALID') %}
                    <div class="alert alert-danger">
                        Votre document n'est pas valide, Voici le retour:
                        <p>
                            {{ demande.motifDeRejet|nl2br }}
                        </p>
                    </div> 
                {% endif %}
        <ul>
            <li><b>Type Demande : </b> {{ demande.commande.demarche.nom }}</li>
            <li><b>Date : </b> {{ demande.commande.ceerLe | date('d-m-Y')}}</li>
            <li><b>Nom et prénom : </b> {{ client.clientNom }} {{ client.clientPrenom }}</li>
            <li><b>Département : </b> {{ demande.commande.codePostal }}</li>
            <li><b>Immatriculation : </b> {{ demande.commande.immatriculation }}</li>
        </ul>
        <h1 class="pl-4">Dossiers à fournir pour votre demande</h1>
        <div id="daf-list-wrapper">
            {{ daf|raw }}
        </div>
        <div class="text-center">
            <a href="{{ asset(pathCerfa) }}" target="blank">
                <button class="btn btn-success">
                    cerfa
                </button>
            </a>
        </div>
        <div class="">
            {% if form is not null %}
                {% include 'demande/file/FormDossier.html.twig' %}
            {% endif %}
            {% if demande.statusDoc != constant('App\\Entity\\Demande::DOC_VALID') %}
                <a href="{{ path("validate_file", {'demande': demande.id}) }}">
                    <button class="btn btn-info">
                        Valider
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="pl-4 mb-3 mb-md-0">
            <a href="{{ path('demande_list') }}">
                <i class="fa fa-arrow-left"></i> Retour à la liste de vos demandes
            </a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('input.custom-file-input[type="file"]').change(function (e) {
            let name = e.target.files[0].name;
            let element = $(e.target);
            element.next('label.custom-file-label').text(name);
            });
        $('.group-input').find('h4 label').map(
            (key, item) => { 
                if ($(item).next().length === 1) {
                     $(item).parents('div.group-input').find('label.custom-file-label').text($(item).next().text());
                } else {
                    $(item).parents('div.group-input').find('label.custom-file-label').text('Choisir un fichier...');
                }
            }
        );
    </script>
{% endblock %}
