{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #daf-list-wrapper ol > li > ul {
            color: #d9534f;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="rp_dmd">
        <div class="container">
            <div class="commande_block">
                <h2>Votre commande </h2>
                <div class="commande-container mb-3 pb-3">
                    {% if demande.statusDoc == constant('App\\Entity\\Demande::DOC_VALID') %}
                        <div class="alert alert-success">
                            Votre demande est validée, veuillez nous envoyer vos documents par courrier à l'adresse
                            suivante.
                            <br>pour un traitement plus rapide, veuillez mettre IMPÉRATIVEMENT sur votre enveloppe la référence suivante : {{ demande.reference | displayValue}}
                            <br>CG Officiel
                            <br>20 Impasse Camille Langlade
                            <br>31100 Toulouse
                        </div>
                    {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_PENDING') or demande.statusDoc == constant('App\\Entity\\Demande::DOC_UNCOMPLETED') %}
                        <div class="alert alert-warning" role="alert">
                            Votre demande est en cours de validation, une fois validée, veuillez nous envoyer vos documents par courrier à l'adresse
                            suivante :
                            <br>CG Officiel
                            <br>20 Impasse Camille Langlade
                            <br>31100 Toulouse
                        </div>
                    {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_RECEIVE_VALID') %}
                        <div class="alert alert-info" role="alert">
                            Vos documents ont bien été reçus et ont été validés.
                            <br>Vous recevrez votre commande d'ici quelques jours
                            <br>CG Officiel
                            <br>20 Impasse Camille Langlade
                            <br>31100 Toulouse
                        </div>
                    {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_NONVALID') %}
                        <div class="alert alert-danger">
                            Votre document n'est pas valide, Voici le retour:
                            <p>
                                {{ demande.motifDeRejet|nl2br }}
                            </p>
                        </div> 
                    {% endif %}
                    <ul>
                        <li><strong>Type Demande </strong> {{ demande.commande.demarche.nom }}</li>
                        <li class="grayb"><strong>Date </strong> {{ demande.commande.ceerLe | date('d-m-Y')}}</li>
                        <li><strong>Nom et prénom </strong> {{ client.clientNom }} {{ client.clientPrenom }}</li>
                        <li class="grayb"><strong>Département </strong> {{ demande.commande.codePostal }}</li>
                        <li><strong>Immatriculation </strong> {{ demande.commande.immatriculation }}</li>
                    </ul>
                </div>
                <div class="block_CCM menu-faq">
                    <div class="container">
                        <h3 class="home-secondview--titre">Pièces à fournir pour votre demande</h3>
                        <div class="comment-ca-marche-texte">
                            <!--A quoi sert le certificat d’immatriculation ?-->
                            <div class="accordeon_">
                                <div class="row">
                                    <button type="button" class="col-12 col-sm-6 col-md-7 menu-commander">
                                        <span class="menu-commander--button---text">Voir plus de details</span>
                                    </button>
                                    <div class="toggle-content col-12" style="display: none;">
                                        <div id="Changement-de-titulaire" class="row commander">
                                            <div class="commander-box">
                                                <div class="commander-box--section---description mt-3">
                                                    <div class="piece_fournir">
                                                        <div id="daf-list-wrapper" class="mb-2">
                                                            {{ daf|raw }}
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="piece_fournir">
                        <div class="hidden-lg-down hidden-md-down">
                            {% if form is not null %}
                                {% include 'demande/file/FormDossier.html.twig' %}
                            {% endif %}
                            <div class="text-center mb-5">
                            {% if demande.statusDoc != constant('App\\Entity\\Demande::DOC_VALID') and demande.statusDoc != constant('App\\Entity\\Demande::DOC_RECEIVE_VALID') %}
                                <div class="form-group">
                                    <button type="button" onclick="saveAndValidate();" class="btn-validate-command d-flex align-items-center justify-content-between btn btn-blue btn">
                                        {{ 'label.saveAndValidate' | trans }}
                                    </button>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="pl-sm-4 mb-3 mb-md-0">
                            <a href="{{ path('demande_history') }}" class="back-retour">
                                <i class="fa fa-arrow-left"></i> Retour à la liste de vos demandes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(".menu-commander").on("click", function() {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $(this)
                        .siblings(".toggle-content")
                        .slideUp(200);
            } else {
                $(".menu-commander").removeClass("active");
                $(this).addClass("active");
                $(".toggle-content").slideUp(200);
                $(this)
                        .siblings(".toggle-content")
                        .slideDown(200);
            }
        });
    </script>
    <script type="application/javascript">
        $('input.custom-file-input[type="file"]').change(function (e) {
            let name = e.target.files[0].name;
            let element = $(e.target);
            element.next('label.custom-file-label').text(name);
            });
        $('.group-input').find('h4 label').map(
            (key, item) => { 
                if ($(item).next().length === 1) {
                     $(item).parents('div.group-input').find('label.custom-file-label').text($(item).next().text());
                } else {
                    $(item).parents('div.group-input').find('label.custom-file-label').text('Parcourir');
                }
            }
        );
        function saveAndValidate() {
            $("#validate").prop('checked', true);
            $('#form-dossier').submit();
        }
    </script>
{% endblock %}
