{% extends 'base.html.twig' %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block class %}body-ccm{% endblock %}
{% block stylesheets %}
    {{ parent()}}
    <link href="{{asset('Utils/jquerySteps/css/jquery.steps.css')}}" rel="stylesheet">
    <link href="{{asset('Utils/jquerySteps/css/main.css')}}" rel="stylesheet">
    <link href="{{asset('Utils/jquerySteps/css/normalize.css')}}" rel="stylesheet">
    <style>
        .tooltip-inner {
            min-width: 100px;
            max-width: 50%;
        }
    </style>
{% endblock %}


{% block page_content %}
<div class="col-sm-10 col-lg-12 d-flex flex-row justify-content-center my-flex-container align-items-center mobile-center">
	<div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <div class="col-12 commander-firstview mt-4 custom-form">
            <h2 class="col-md-10 mx-auto full-mobile"> {{ commande.demarche.nom }}</h2>
            <div class="row col-12">
                <hr>
                    <div class="col-4 col-md-10 mx-auto full-mobile">
                        {% include "demande/caracteristicVehicle.html.twig" %}
                    </div>
                    {{ form_start(form, {'attr': {'id': 'example-advanced-form'}}) }}
                        <h3>Etape</h3>
                        <section style="position: relative;width: 100%;">
                            <legend>{{ form_label(form.duplicata.titulaire)}}</legend>
                                <div class="form-titulaire">
                                    {{ form_row(form.duplicata.titulaire.type)}}
                                    {{ form_row(form.duplicata.titulaire.raisonsociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.duplicata.titulaire.nomprenom)}}
                                </div>

                                <div class="motifDemande">
                                    {{ form_row(form.duplicata.motifDemande)}}
                                    {{ form_row(form.duplicata.datePerte)}}
                                </div>
                            <legend> 
                                {{ form_label(form.duplicata.numeroFormule)}}                              
                                <span type="button" class="fa fa-question-circle" data-html="true" data-toggle="tooltip" data-placement="top"
                                    template='{% include "demande/tooltips/templateCessionNumFormulCarteGrise.html.twig" %}'
                                    title="{% include 'demande/tooltips/cessionNumFormulCarteGrise.html.twig' %}">
                                </span>
                            </legend> 
                            {{ form_errors(form.duplicata.numeroFormule)}}
                            {{ form_widget(form.duplicata.numeroFormule)}}
                        </section>

                        <h3>Etape</h3>
                        <section style="position: relative;width: 100%;">
                            <legend>{{ form_label(form.duplicata.adresse)}}</legend>
                            {% for adresse in form.duplicata.adresse %}
                            <div class="form-group">
                                {{ form_label(adresse)}}
                                {{ form_errors(adresse)}}
                                {{ form_widget(adresse, {'attr': {'class': ''}})}}
                            </div>
                            {% endfor %}
                            <br>
                        </section>
                        <h3>Etape</h3>
                        <section style="position: relative;width: 100%;">
                            <legend>Récapitulatif des informations liées à la demande</legend>
                            <div id="resum"></div>
                            <div style="display:none;">
                                {{form_rest(form)}}
                            </div>
                        </section style="position: relative;width: 100%;">
                        {# <h3>Etape</h3>
                        <section>
                            <h4><strong>Liste des dossiers à fournir</strong></h4>
                            {% if daf is defined %}
                            <div id="daf-list-wrapper">
                                    {{ daf|raw }}
                                </div>
                            {% endif %}
                            <div class="col-12 text-center">
                                
                            </div> #}
                            {# {% if formFile is defined %}
                                {% if formFile is not null %}
                                    {% include 'demande/file/FormDossier.html.twig' %}
                                {% endif %}
                                {% if demande.statusDoc != constant('App\\Entity\\Demande::DOC_VALID') and demande.statusDoc != constant('App\\Entity\\Demande::DOC_RECEIVE_VALID') %}
                                    <a href="{{ path("validate_file", {'demande': demande.id}) }}">
                                        <button class="btn btn-info">
                                            Valider
                                        </button>
                                    </a>
                                {% endif %}
                            {% endif %} #}
                        {# </section> #}
                    {{ form_end(form) }}
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('Utils/js/jquery.js')}}" crossorigin="anonymous"></script>
<script src="{{ asset('Utils/js/jqueryUi.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/jquery.steps.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/jqueryValidate.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/duplicata.js')}}"></script>
<script type="text/javascript">
    $(document).ready(
        function(){
            initFormStep(
                $("#example-advanced-form"),
                "h3",
                "section",
                "fade"
            );
        }
    );

    $(document).ready(
        function(){
            showDatePerte(
                $('#demande_duplicata_duplicata_motifDemande')
            );
        }
    );

    $(document).ready(
        function(){
            datePickerFunction(
                $('.js-datepicker')
            );
        }
    );
    $(document).ready(
        function(){
            showElement(
                $('.choice-type-ancientitulaire')
            );
            showElement(
                $('.choice-type-personne')
            );
        }
    );

</script>
<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock %}