{% extends 'base.html.twig' %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}

{% block title %}{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}
{% block stylesheets %}
    <style>
        .tooltip-inner {
            min-width: 100px;
            max-width: 50%;
        }
    </style>
{% endblock %}


{% block page_content %}
<div class="col-sm-10 col-lg-12 d-flex flex-row justify-content-center my-flex-container align-items-center mobile-center">
	<div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <div class="col-12 commander-firstview custom-form">
            <h2 class="col-md-10 mx-auto full-mobile"> {{ commande.demarche.nom|upper }}</h2>
            <div class="row">
                <hr>
                {{ form_start(form, {'attr': {'class': 'row'}}) }}
                    <div class="col-5 mx-auto full-mobile">
                        {% include "demande/caracteristicVehicle.html.twig" %}
                    </div>
                    <div class="col-5 mx-auto form-row full-mobile">
                        <div class="col-12">
                                {{ form_label(form.duplicata.numeroFormule)}}
                                <span type="button" class="fa fa-question-circle" data-html="true" data-toggle="tooltip" data-placement="top"
                                    template='{% include "demande/tooltips/templateCessionNumFormulCarteGrise.html.twig" %}'
                                    title="{% include 'demande/tooltips/cessionNumFormulCarteGrise.html.twig' %}">
                                </span>
                                {{ form_errors(form.duplicata.numeroFormule)}}
                                {{ form_widget(form.duplicata.numeroFormule)}}
                                <br>
                        </div>
                        <div class="col-12">
                            <h3 class="test-center">{{ form_label(form.duplicata.titulaire)}}</h3>
                            <div class="form-titulaire">
                                {{ form_row(form.duplicata.titulaire.type)}}
                                {{ form_row(form.duplicata.titulaire.raisonsociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                {{ form_row(form.duplicata.titulaire.nomprenom)}}
                            </div>

                            <div class="motifDemande">
                                {{ form_row(form.duplicata.motifDemande)}}
                                {{ form_row(form.duplicata.datePerte)}}
                            </div>

                            {# <div class="">
                                {{ form_row(form.duplicata.demandeChangementTitulaire)}}
                            </div> #}

                            {{ form_rest(form) }}
                            <div class="col-12 text-center mb-5">
                                <br>
                                <input type="submit" class="btn btn-lg btn-success" value="Valider">
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="application/javascript">
    $('.choice-type-ancientitulaire').on('change', function(e) {
        $(e.target).parent().siblings().toggle();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script type="application/javascript">
    $('#demande_duplicata_duplicata_motifDemande').on('change', function (e) {
        var Value = $(".motifDemande").find(":selected").text();
        if (Value === "Perte") {
            $(e.target).parent().siblings().show();
        } else {
            $(e.target).parent().siblings().hide();
        }
    });
</script>
{% endblock %}