{% extends 'base.html.twig' %}

{% block class %}body-ccm{% endblock %}
{% block page_content %}
    <div class="esp_clientBlock">
        <div class="container">
            {{ include('client/layout/menu.html.twig') }}
            <h4 class="mt-5">Informations du compte</h4>
            {% set client = app.user.client %}
            <div class="demarche-container no-bg p-0">
                <table class="table table-striped border-0 custom-table">
                    <tr>
                        <th>Nom</th>
                        <td>{{ client.ClientNom}}</td>
                    </tr>
                    <tr>
                        <th>Prénom(s)</th>
                        <td>{{ client.ClientPrenom}}</td>
                    </tr>
                        <th> E-mail</th>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone mobile</th>
                        <td>{{ client.clientContact.contactTelmobile }}</td>
                    </tr>
                </table>
                <div class="text-center btn-compte">
                    <a href="{{ path('update_acount', {user: app.user.id}) }}" class="">
                        <button class="btn btn-blue">Modifier mes infos <i class="icomoon icon-modifier"></i></button>
                    </a>
                    <a href="{{ path('update_password', {user: app.user.id}) }}" class="">
                        <button class="btn link-connexion-register">Changer de mot de passe</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}