{% extends 'base.html.twig' %}

{% block class %}body-ccm{% endblock %}
{% block page_content %}
<div class="col-md-12 col-lg-10 mx-auto">
    <div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <br>
        <div class="col-md-10 col-sm-12 mr-lg-5">
            <hr><br>
            <h3>Vos informations</h3>
            {% set client = app.user.client %}
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <tr>
                        <th>Nom</th>
                        <td>{{ client.ClientNom}}</td>
                    </tr>
                    <tr>
                        <th>Prénom(s)</th>
                        <td>{{ client.ClientPrenom}}</td>
                    </tr>
                        <th> E-mail</th>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone mobile</th>
                        <td>{{ client.clientContact.contactTelmobile }}</td>
                    </tr>
                </table>
                <div class="text-center">
                    <a href="{{ path('update_password', {user: app.user.id}) }}" class="">
                        <button class="btn btn-primary">
                            Changer le mot de passe
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}