{% extends 'base.html.twig' %}

{% block class %}body-ccm{% endblock %}
{% block page_content %}
<div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">
    <div class="row d-flex comment-ca-marche-texte flex-row-reverse my-flex-container">
        <br>
        <div class="col-md-10 col-sm-12 mr-lg-5">
            <hr><br>
            <h3>Vos informations</h3>
            {% set client = app.user.client %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Nom</th>
                        <td>{{ client.ClientNom}}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ client.ClientPrenom}}</td>
                    </tr>
                    <tr>
                        <th>genre</th>
                        <td>{{ client.clientGenre }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ client.ClientDateNaissance| date("m/d/Y")}}</td>
                    </tr>
                    <tr>
                        <th>lieu de naissance</th>
                        <td>{{ client.ClientLieuNaissance }}</td>
                    </tr>
                    <tr>
                        <th>Pays de naissance</th>
                        <td>{{ client.clientPaysNaissance }}</td>
                    </tr>
                    <tr>
                        <th>Depatement naissance</th>
                        <td>{{ client.clientDptNaissance }}</td>
                    </tr>
                    <tr>
                        <th> e-mail</th>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th>telephone</th>
                        <td>{{ client.clientContact.contactTelmobile }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}