{% extends 'base.html.twig' %}

{% block class %}body-ccm{% endblock %}
{% block page_content %}
<div class="col-md-12 col-lg-10 mx-auto">
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
                <div class="form-client row d-flex flex-row justify-content-center">
                    <div class="col-10 col-lg-10 mx-auto">
                        <legend class="col-form-label">Changement de mot de passe</legend>
                        <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_errors(form.password) }}
                            {{ form_widget(form.password) }}
                        </div>
                        {% for passwordForm in form.plainPassword %}
                        <div class="form-group">
                            {{ form_label(passwordForm) }}
                            {{ form_errors(passwordForm) }}
                            {{ form_widget(passwordForm) }}
                        </div>
                        {% endfor %}
                        <div class="text-center mb-5">
                            <input type="submit" class="btn btn-success" value="Enregistrer" />
                        </div>
                    </div>
                </div>
            <div class="text-center">
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}