{% extends 'base.html.twig' %}

{% block class %}body-ccm{% endblock %}
{% block page_content %}
    <div class="esp_clientBlock">
        <div class="container">
            {{ include('client/layout/menu.html.twig') }}
            {{ form_start(form) }}
            <div class="demarche-container">
                <div class="block_form">
                    <div class="row">
                        <div class="col-12 col-lg-6 mx-auto">
                            <h4>Changement de mot de passe</h3>
                            <div class="form-group">
                                {{ form_label(form.password) }}
                                {{ form_errors(form.password) }}
                                {{ form_widget(form.password) }}
                            </div>
                            {% for passwordForm in form.plainPassword %}
                            <div class="form-group">
                                {{ form_label(passwordForm) }}
                                {{ form_errors(passwordForm) }}
                                {{ form_widget(passwordForm) }}
                            </div>
                            {% endfor %}
                            <div class="text-center mb-5">
                                <input type="submit" class="btn link-connexion-register" value="Enregistrer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="text-center">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}