{% trans_default_domain 'FOSUserBundle' %}

{% set inputAttrs = {class: 'registrer-form'} %}
{% set inputAttrsDate = {class: 'registrer-form js-datepicker'} %}
{% set labelAttrs = {class: 'register-form--label'} %}
{% set labelAttrsc = {class: 'register-form--client--label'} %}
{% set wrapperClassName = 'col-12 col-sm-10' %}
{% set smallWrapperClassName = 'col-12 col-sm-6' %}

<div class="register-block" data-parallax="scroll" data-image-src="{{ asset('asset/img/bg_inscription.jpg')}}">
	<div class="container">
		<div class="block_form">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}, 'label_attr': labelAttrs} )}}
					<div class="heading_form text-center"><h2>Créez votre compte et identifiez-vous en quelques clics, pour valider et suivre votre commande</h2></div>
					<div class="row justify-content-center with-mp">
						<div class="{{ wrapperClassName }}">
							{{ form_row(form.client.clientGenre, {'attr': inputAttrs, 'label_attr': labelAttrsc} )}}
							<div class="row">
								<div class="{{ smallWrapperClassName }}">
									{{ form_row(form.client.clientNom, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
								</div>

								<div class="{{ smallWrapperClassName }}">
									{{ form_row(form.client.clientPrenom, {'attr': inputAttrs, 'label_attr': labelAttrs}) }}
								</div>
							</div>
							<div class="row">
								<div class="{{ smallWrapperClassName }}">
									{{ form_row(form.client.clientContact.contact_telmobile, {'attr': inputAttrs, 'label_attr': labelAttrs}) }}
								</div>
								<div class="{{ smallWrapperClassName }}">
									{{ form_row(form.client.clientContact.contact_telfixe, {'attr': inputAttrs, 'label_attr': labelAttrs})
									}}
								</div>
							</div>
							{{ form_row(form.email, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
							{{ form_row(form.username, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
							{{ form_row(form.plainPassword, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
							<div class="row">
								{% for passwordForm in form.plainPassword %}
									<div class="{{ smallWrapperClassName }}">
										{{ form_row(passwordForm, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
									</div>
								{% endfor %}
							</div>
							<div class="retractation mb-5">

							{{ form_row(form.client.cgv, {'attr': inputAttrs} )}}
							{# {{ form_row(form.client.retractation, {'attr': inputAttrs} )}} #}
								<br>
								<a href="{{ path('cgv')}}" target="_blank" class="">
									<span class="menu-commander--button---text">Conditions générales de ventes CG Officiel</span>
								</a>
							</div>
							<div class="col-12">
								<div class="text-center mb-5">
									<input type="submit" class="btn-calcuer btn btn-blue" value="{{ 'registration.submit'|trans }}" />
								</div>
							</div>
						</div>
					</div>
					{{ form_end(form )}}
				</div>
			</div>
		</div>
	</div>
</div>

	