{% trans_default_domain 'FOSUserBundle' %}

{% set inputAttrs = {class: 'registrer-form'} %}
{% set inputAttrsDate = {class: 'registrer-form js-datepicker'} %}
{% set labelAttrs = {class: 'register-form--label'} %}
{% set wrapperClassName = 'col-11 col-sm-10' %}
{% set smallWrapperClassName = 'col-12 col-sm-6' %}

<style>
	.form-control {
		box-sizing: border-box !important;
	}
	.with-mp.col, .with-mp .col,
	.with-mp.col-1, .with-mp .col-3,
	.with-mp.col-10, .with-mp .col-12,
	.with-mp.col-11, .with-mp .col-13,
	.with-mp.col-12, .with-mp .col-14,
	.with-mp.col-2, .with-mp .col-4,
	.with-mp.col-3, .with-mp .col-5,
	.with-mp.col-4, .with-mp .col-6,
	.with-mp.col-5, .with-mp .col-7,
	.with-mp.col-6, .with-mp .col-8,
	.with-mp.col-7, .with-mp .col-9,
	.with-mp.col-8, .with-mp .col-10,
	.with-mp.col-9, .with-mp .col-11,
	.with-mp.col-lg, .with-mp .col-lg,
	.with-mp.col-lg-1, .with-mp .col-lg-3,
	.with-mp.col-lg-10, .with-mp .col-lg-12,
	.with-mp.col-lg-11, .with-mp .col-lg-13,
	.with-mp.col-lg-12, .with-mp .col-lg-14,
	.with-mp.col-lg-2, .with-mp .col-lg-4,
	.with-mp.col-lg-3, .with-mp .col-lg-5,
	.with-mp.col-lg-4, .with-mp .col-lg-6,
	.with-mp.col-lg-5, .with-mp .col-lg-7,
	.with-mp.col-lg-6, .with-mp .col-lg-8,
	.with-mp.col-lg-7, .with-mp .col-lg-9,
	.with-mp.col-lg-8, .with-mp .col-lg-10,
	.with-mp.col-lg-9, .with-mp .col-lg-11,
	.with-mp.col-md, .with-mp .col-md,
	.with-mp.col-md-1, .with-mp .col-md-3,
	.with-mp.col-md-10, .with-mp .col-md-12,
	.with-mp.col-md-11, .with-mp .col-md-13,
	.with-mp.col-md-12, .with-mp .col-md-14,
	.with-mp.col-md-2, .with-mp .col-md-4,
	.with-mp.col-md-3, .with-mp .col-md-5,
	.with-mp.col-md-4, .with-mp .col-md-6,
	.with-mp.col-md-5, .with-mp .col-md-7,
	.with-mp.col-md-6, .with-mp .col-md-8,
	.with-mp.col-md-7, .with-mp .col-md-9,
	.with-mp.col-md-8, .with-mp .col-md-10,
	.with-mp.col-md-9, .with-mp .col-md-11,
	.with-mp.col-sm, .with-mp .col-sm,
	.with-mp.col-sm-1, .with-mp .col-sm-3,
	.with-mp.col-sm-10, .with-mp .col-sm-12,
	.with-mp.col-sm-11, .with-mp .col-sm-13,
	.with-mp.col-sm-12, .with-mp .col-sm-14,
	.with-mp.col-sm-2, .with-mp .col-sm-4,
	.with-mp.col-sm-3, .with-mp .col-sm-5,
	.with-mp.col-sm-4, .with-mp .col-sm-6,
	.with-mp.col-sm-5, .with-mp .col-sm-7,
	.with-mp.col-sm-6, .with-mp .col-sm-8,
	.with-mp.col-sm-7, .with-mp .col-sm-9,
	.with-mp.col-sm-8, .with-mp .col-sm-10,
	.with-mp.col-sm-9, .with-mp .col-sm-11,
	.with-mp.col-xl, .with-mp .col-xl,
	.with-mp.col-xl-1, .with-mp .col-xl-3,
	.with-mp.col-xl-10, .with-mp .col-xl-12,
	.with-mp.col-xl-11, .with-mp .col-xl-13,
	.with-mp.col-xl-12, .with-mp .col-xl-14,
	.with-mp.col-xl-2, .with-mp .col-xl-4,
	.with-mp.col-xl-3, .with-mp .col-xl-5,
	.with-mp.col-xl-4, .with-mp .col-xl-6,
	.with-mp.col-xl-5, .with-mp .col-xl-7,
	.with-mp.col-xl-6, .with-mp .col-xl-8,
	.with-mp.col-xl-7, .with-mp .col-xl-9,
	.with-mp.col-xl-8, .with-mp .col-xl-10,
	.with-mp.col-xl-9, .with-mp .col-xl-11 {
		position: relative !important;
	    width: 100% !important;
	    min-height: 1px !important;
	    padding-right: 15px !important;
	    padding-left: 15px !important;
		box-sizing: border-box !important;
	}
	.with-mp.row , .with-mp .row {
		margin-right: -15px !important;
		margin-left: -15px !important;
	}
</style>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register col-md-12 col-lg-10 mx-auto row '}, 'label_attr': labelAttrs} )}}

	<div class="row justify-content-center with-mp">


		<div class="{{ wrapperClassName }}">
			{{ form_row(form.client.clientGenre, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientNom, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>

				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientPrenom, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
			</div>
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientContact.contact_telmobile, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientContact.contact_telfixe, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
			</div>
		</div>
		<div class="{{ wrapperClassName }}">
			{{ form_row(form.email, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.username, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.plainPassword, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				{% for passwordForm in form.plainPassword %}
					<div class="{{ smallWrapperClassName }}">
						{{ form_row(passwordForm, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
					</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="{{ wrapperClassName }}">
			<div class="col-12">
				<div class="text-center mb-5">
					<input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
				</div>
			</div>
		</div>

	</div>

{{ form_end(form )}}
