{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register col-md-12 col-lg-8 row '}, 'label_attr': {'class': 'register-form--label'}} )}}
<div class="col-10 row mx-auto mt-4">
	<h2>Identité du demandeur de la carte grise</h2>
	<div class="col-10 mx-auto">
		{{ form_row(form.client.clientGenre, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientNom, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientPrenom, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientDateNaissance, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientLieuNaissance, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientContact.contact_telmobile, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientContact.contact_telfixe, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-10 mx-auto">
		{{ form_row(form.email, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-10 mx-auto">
		{{ form_row(form.username, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.plainPassword, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<h2>Merci de renseigner votre adresse</h2>
	<div class="col-10 mx-auto">
		{{ form_row(form.client.clientAdresse.nom, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-10 mx-auto">
		{{ form_row(form.client.clientAdresse.complement, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientAdresse.codepostal, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	<div class="col-5 mx-auto">
		{{ form_row(form.client.clientAdresse.ville, {'attr': {'class': 'registrer-form'}, 'label_attr': {'class': 'register-form--label'}} )}}
	</div>
	
	<div class="col-10 mx-auto">
		<div class="checkbox mt-3 mb-3">
			<label class="fos_user_registration_register-checkbox">
				{{ form_row(form.termsAccepted, {'attr': {'class': 'registrer-form'}})}}				
			</label>
		</div>
		<div class="checkbox mt-3 mb-3">
			<label class="fos_user_registration_register-checkbox">
				{{ form_row(form.debutImmediat, {'attr': {'class': 'registrer-form'}})}}				
			</label>
		</div>
	</div>


	<div class="col-12 d-flex flex-row justify-content-center my-flex-container mb-5">
		<input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
	</div>
</div>
{{ form_end(form )}}
