{% trans_default_domain 'FOSUserBundle' %}

{% set inputAttrs = {class: 'registrer-form'} %}
{% set labelAttrs = {class: 'register-form--label'} %}
{% set wrapperClassName = 'col-11 col-sm-10' %}
{% set smallWrapperClassName = 'col-12 col-sm-6' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register col-md-12 col-lg-8 row '}, 'label_attr': labelAttrs} )}}

	<div class="row justify-content-center with-mp">

		<div class="{{ wrapperClassName }}"><h2>Identité du demandeur de la carte grise</h2></div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.client.clientGenre, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientNom, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>

				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientPrenom, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
			</div>
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientDateNaissance, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientLieuNaissance, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
			</div>
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientContact.contact_telmobile, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientContact.contact_telfixe, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
			</div>
		</div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.email, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.username, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				{% for passwordForm in form.plainPassword %}
					<div class="{{ smallWrapperClassName }}">
						{{ form_row(passwordForm, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="{{ wrapperClassName }}"><h2>Merci de renseigner votre adresse</h2></div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.client.clientAdresse.nom, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			{{ form_row(form.client.clientAdresse.complement, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
		</div>

		<div class="{{ wrapperClassName }}">
			<div class="row">
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientAdresse.codepostal, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
				<div class="{{ smallWrapperClassName }}">
					{{ form_row(form.client.clientAdresse.ville, {'attr': inputAttrs, 'label_attr': labelAttrs} )}}
				</div>
			</div>
		</div>
		
		<div class="{{ wrapperClassName }}">
			<div class="col-12">
				<div class="checkbox mt-3 mb-3">
					<label class="fos_user_registration_register-checkbox">
						{{ form_row(form.termsAccepted, {'attr': inputAttrs})}}				
					</label>
				</div>
				<div class="checkbox mt-3 mb-3">
					<label class="fos_user_registration_register-checkbox">
						{{ form_row(form.debutImmediat, {'attr': inputAttrs})}}				
					</label>
				</div>
				<div class="text-center mb-5">
					<input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
				</div>
			</div>
		</div>

	</div>

{{ form_end(form )}}
