<table class="table table-bordered table-striped mx-auto">
    <tr>
        <th>Taxe Regionale</th>
        <td>{{ taxe.TaxeRegionale }}
            €</td>
    </tr>
    <tr>
        <th>Taxe > 35CV</th>
        <td>{{ taxe.Taxe35cv }}
            €</td>
    </tr>
    <tr>
        <th>Taxe CO2</th>
        <td>{{ taxe.TaxeCO2 }}
            €</td>
    </tr>
    <tr>
        <th>Taxe SIV</th>
        <td>{{ taxe.TaxeSIV }}
            €</td>
    </tr>
    <tr>
        <th>Frais d'acheminement</th>
        <td>{{ taxe.TaxeRedevanceSIV }}
            €</td>
    </tr>
    <tr>
        <th>Frais de traitement de dossier</th>
        <td>
            {{ fraisTotalTraitement(commande) }} €
        </td>
    </tr>
    <tr>
        <th>TOTAL:</th>
        <td>
            <strong>{{ fraisTotal(commande) }}
                €</strong>
        </td>
    </tr>
</table>