<div class="list-grid details-taxe">
    <div class="list-grid__item">
        <div>Taxe Régionale</div>
        <div>{{ taxe.TaxeRegionale | displayValue }} €</div>
    </div>
    <div class="list-grid__item">
        <div>Taxe > 35CV</div>
        <div>{{ taxe.Taxe35cv | displayValue }} €</div>
    </div>
    <div class="list-grid__item">
        <div>Taxe CO2</div>
        <div>{{ taxe.TaxeCO2 | displayValue}} €</div>
    </div>
    <div class="list-grid__item">
        <div>Taxe Malus</div>
        <div>{{ taxe.TaxeMalus | displayValue}} €</div>
    </div>
    <div class="voir_plus_content_taxes" style="display:none;">
        <div class="list-grid__item">
            <div>Taxe ParaFiscale</div>
            <div>{{ taxe.TaxeParafiscale | displayValue}} €</div>
        </div>
        <div class="list-grid__item">
            <div>Taxe SIV</div>
            <div>{{ taxe.TaxeSIV | displayValue}} €</div>
        </div>
        <div class="list-grid__item">
            <div>Taxe d'acheminement</div>
            <div>{{ taxe.TaxeRedevanceSIV | displayValue}} €</div>
        </div>
        <div class="list-grid__item">
            <div>Frais de traitement de dossier</div>
            <div>{{ fraisTotalTraitement(commande) }} €</div>
        </div>
    </div>
    <div class="list-grid__item total-tax">
        <div>TOTAL:</div>
        <div><strong>{{ fraisTotal(commande) }} €</strong></div>
    </div>
    <div  class="list-grid__item list-grid__item-button">
        <div></div>
        <div>
            <button class="collapsed btn btn-info voir_plus_button d-flex align-items-center justify-content-between"  id="more-details-tax">
                <span>voir plus</span><span class="moins">voir moins</span><i class="icon-arrow-down"></i>
            </button>
        </div>
    </div>
</div>
