    <div class="list-grid">
        <div class="list-grid__item">
            <div >{{ 'home.resum.mark'|trans }}</div>
            <div>{{ commande.carInfo.marque }}</div>
        </div>
        <div  class="list-grid__item">
            <div>{{ 'home.resum.model'|trans }}</div>
            <div>{{ commande.carInfo.model | displayValue }}</div>
        </div>
        <div class="voir_plus_content_car" style="display: none;">
            <div class="list-grid__item">
                <div>{{ 'home.resum.color'|trans }}</div>
                <div>{{ commande.carInfo.color | displayValue }}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.nbPlace'|trans }}</div>
                <div>{{ commande.carInfo.nbPlace | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.power'|trans }}</div>
                <div>{{ commande.carInfo.horsePower | displayValue}} ch</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.powerFiscal'|trans }}</div>
                <div>{{ commande.carInfo.horsePowerFiscal | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.serialNum'|trans }}</div>
                <div>{{ commande.carInfo.serialNumber | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.vin'|trans }}</div>
                <div>{{ commande.carInfo.vin | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.co2'|trans }}</div>
                <div>{{ taxe.CO2 | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.gender'|trans }}</div>
                <div>{{ taxe.Genre | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.ptac'|trans }}</div>
                <div>{{ taxe.PTAC | displayValue}}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.energi'|trans }}</div>
                <div>{{ taxe.Energie | displayEnergy }}</div>
            </div>
            <div class="list-grid__item">
                <div>{{ 'home.resum.dateCirculationStarted'|trans }}</div>
                <div>{{ taxe.DateMEC | date('Y-m-d') }}</div>
            </div>
        </div>
        <div  class="list-grid__item list-grid__item-button">
            <div>
                <button class="collapsed btn btn-info d-flex align-items-center justify-content-between"  id="voir_plus_button">
                    <span>voir plus</span><span class="moins">voir moins</span><i class="icon-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>