{% extends 'base.html.twig' %}

{% from 'shared/macro.html.twig' import delete_form %}

{% block page_content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12 comment-ca-marche-texte">
                    <a href="{{ path('home') }}" class="no-underline">
                        <button class="btn btn-aqua-blue mb-4">
                            Nouvelle commande<i class="icon-add"></i>
                        </button>
                    </a>
                    <div class="table-responsive">
                        <table class="table table-striped custom-table">
                            <thead>
                            <tr>
                                <th scope="col">Demande</th>
                                <th scope="col">Date</th>
                                <th scope="col">Département</th>
                                <th scope="col">Immatriculation</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for commande in commandes %}
                                    <tr>
                                        <th class="responsive-toggle">Demande<span></span></th><td>{{ commande.demarche.nom }}</td>
                                        <th class="responsive-toggle">Date<span></span></th><td>{{ commande.ceerLe|date('d-m-Y') }}</td>
                                        <th class="responsive-toggle">Département<span></span></th><td class="text-center">{{ commande.codePostal | displayValue}}</td>
                                        <th class="responsive-toggle">Immatriculation<span></span></th><td class="text-center">{{ commande.immatriculation | displayValue}}</td>
                                        <th class="responsive-toggle">Statut<span></span></th><td>
                                        <span id="badge" class="badge badge-{{ statusOfCommande(commande, "style") }}">
                                            {{ statusOfCommande(commande, "text") }}
                                        </span>
                                        </td>
                                        <th class="responsive-toggle">Action<span></span></th><td>
                                            <div class="flex flex-column content-actions">
                                                {% if is_granted(constant('\\App\\Security\\Voter\\CommandeVoter::PASSER'), commande) %}
                                                    {% if commande.demande is defined and commande.demande is null and commande.transaction is defined and commande.transaction is not null and commande.transaction.status == '00' %}
                                                        <a href="{{path('new_demande', {'commande': commande.id })}}">
                                                            <button type="button" class="btn resume-btn">Remplir le formulaire</button>
                                                        </a>
                                                    {% elseif 
                                                        commande.transaction is defined and commande.transaction is null or
                                                        (commande.demande.transaction is defined and commande.demande.transaction is null)
                                                    %}
                                                        <a href="{{path('commande_recap', {'commande': commande.id })}}">
                                                            <button type="button" class="btn resume-btn">Résumer</button>
                                                        </a>
                                                    {% endif %}
                                                    <button data-url="{{ path('commande_annuler', {id: commande.id, _token: csrf_token('delete' ~ commande.id)}) }}"
                                                            type="button" class="btn cancel-btn">Annuler</button>
                                                {% elseif 
                                                    commande.demande is defined and
                                                    commande.demande is not null and
                                                    (
                                                        commande.transaction is defined and commande.transaction is not null and commande.transaction.status == '00' or 
                                                        commande.demande.transaction is defined and commande.demande.transaction is not null and commande.demande.transaction == "00"
                                                    )
                                                %}
                                                    <a href="{{path('demande_dossiers_a_fournir', {'id': commande.demande.id })}}">
                                                        <button type="button" class="btn resume-btn">Ajouter mes dossiers</button>
                                                    </a>
                                                {% else %}
                                                    <a href="{{path('commande_recap', {'commande': commande.id })}}">
                                                        <button type="button" class="btn resume-btn">Résumer</button>
                                                    </a>
                                                {% endif %}
                                            </div>

                                        </td>
                                    </tr>
                            {% endfor %}
                            {% if commandes|length == 0 %}
                                <tr>
                                    <td colspan="5">Aucune commande trouvée</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>                  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.cancel-btn').click(function () {
                if (confirm('Etes-vous sûr de vouloir annuler cette commande ? ')) {
                    window.location.href = $(this).data('url');
                }
            });
        });
    </script>
{% endblock %}