{% extends 'base.html.twig' %}

{% block page_content %}
{% set taxe = commande.taxes %}
{% if commande is defined %}
    <div class="rp_dmd">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 resultat-estimation mx-auto">
                    <h2 class="col-12 text-center">RESUME DE LA COMMANDE</h2>
                    <div class="row recap-demande-wrapper  pt-5 pb-5">
                        <img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}"
                             class="rounded col-2 mx-auto d-block img-thumbnail mb-3" style="height:100px;" alt="">
                        <div class="col-10 mx-auto">
                            <h2 class="col-12 mb-5 row mx-0">Récapitulatif de la demande</h2>
                            {{ include('commande/_resum_recap_demande.html.twig') }}

                        </div>
                    </div>

                    <div class="col-md-12 px-0 col-lg-12 mx-auto d-flex my-flex-container">
                        <div class="col-12 px-0 row">
                            <div class="col-6 mx-auto">
                                <h2 class="mb-4">CARACTÉRISTIQUES DU VÉHICULE</h2>
                                {{ include('commande/_resum_caracteristics_car.html.twig') }}
                            </div>
                            <div class="col-6 mx-auto">
                                <h2 class="mb-4">DÉTAIL DES TAXES</h2>
                                {{ include('commande/_resum_taxe_car.html.twig') }}
                            </div>
                            <div class="col-12 mx-auto mt-5">
                                <div class="block_form">
                                    {% if commande.transaction is not null and commande.transaction.status == "00" %}
                                        <div class="block_form--btn-actions">
                                            {# <a href="{{path('payment_facture', {'demande': commande.id })}}" target="_blank">
                                                <button type="button" class="btn link-connexion-register ">Facture</button>
                                            </a> #}
                                            <a href="{{path('new_demande', {'commande': commande.id })}}">
                                                <button type="button" class="btn btn-blue ">Faire la Demande</button>
                                            </a>
                                        </div>
                                    {% else %}
                                        {{ form_start(formCGV)}}
                                        <div>
                                            {{ form_row(formCGV.termsAccepted)}} 
											<br>
											<br>
											<a href="{{ path('cgv')}}" target="_blank" class="">
												<span class="menu-commander--button---text">Conditions générales de ventes CG Officiel</span>
											</a>  
                                            {{ form_row(formCGV.enregistrer)}} <br>
                                        </div>
                                        {{ form_end(formCGV)}}
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}