{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<div>
    {% if demande.commande is defined and demande.commande is not null and demande.commande.saved %}
        <div class="alert alert-success">
            la demande est validée et a été envoyée à TMS
        </div>
    {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_VALID') %}
        <div class="alert alert-success">
            La demande est validée, attende des documents par courrier à l'adresse
        </div>
    {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_PENDING') %}
        <div class="alert alert-warning" role="alert">
            La demande est en cours de validation
        </div>
    {% elseif demande.statusDoc == constant('App\\Entity\\Demande::DOC_NONVALID') %}
        <div class="alert alert-danger">
            Motif de rejet:
            <p>
                {{ demande.motifDeRejet|nl2br }}
            </p>
        </div>
    {% elseif demande.commande.saved %}
        <div class="alert alert-success">
            la demande est validée et a été envoyée
        </div>
    {% endif %}
    <h2>Récapitulatif: </h2>
    <ul>
        <li><b>Type Demande : </b> {{ demande.commande.demarche.nom }}</li>
        <li><b>Date : </b> {{ demande.commande.ceerLe | date('d-m-Y')}}</li>
        <li><b>Nom et prénom : </b> {{ demande.commande.firstClient.clientNom }} {{ demande.commande.firstClient.clientPrenom }}</li>
        <li><b>Département : </b> {{ demande.commande.codePostal }}</li>
        <li><b>Immatriculation : </b> {{ demande.commande.immatriculation }}</li>
    </ul>
    {# start information #}
        {% include "CRUD/tmsInfos.html.twig" %}
    {# end information  #}
</div>
<div id="daf-list-wrapper">
    <h2>La liste des documents attendu sont: </h2>
    {{ daf|raw }}
</div>
<div>
    <h2>Les documents fournis sont: </h2>
    {% for col in form %}
        {% if col.vars.type is defined and col.vars.type == 'file' %}
                <div>
                    <h3 style="margin-left: 40px;">{{ form_label(col) }}
                        {% if checkFile(files, col.vars.name) != "" %}
                            ==>
                            <small>
                                <a href="{{ asset(checkFile(files, col.vars.name)) }}"
                                    target="_blank">
                                    <button class="btn btn-default">
                                        <span class="fa fa-eye"></span> Voir
                                    </button>
                                </a>
                            </small>
                        {% endif %}
                    </h4>
                </div>
            <hr>
        {% endif %}
    {% endfor %}
</div>
{% if demande.statusDoc == constant('App\\Entity\\Demande::DOC_PENDING') %}
<h3>
    Réponse:
</h3>
<form action="" id="formResponse" method="post">
    <div>
        <label for="invalidate_doc_simulate">
            Motif d'invalidation des documents
        </label>
        <div>
            <textarea name="invalidate_doc_simulate" id="invalidate_doc_simulate" cols="200" rows="10"></textarea>
        </div>
    </div>
    <input type="submit" class="btn btn-default" id="denyForm" value="Refusé">
</form>
<hr>
<form action="" id="formResponse" method="post">
    <div>
        <label for="valid_doc_simulate">
            <input type="checkbox" name="valid_doc_simulate" id="valid_doc_simulate">
            Valider les documents à envoyer
        </label>
    </div>
    <input type="submit" class="btn btn-default" id="responseForm" value="Valider">
</form>
{% endif %}
{% if demande.statusDoc == constant('App\\Entity\\Demande::DOC_VALID') %}
<h3>
    Réponse:
</h3>
<form action="" id="formResponse" method="post">
    <div>
        <label for="valid_doc_real">
            <input type="checkbox" name="valid_doc_real" id="valid_doc_real">
            Valider les documents reçus par courriel
        </label>
    </div>
    <input type="submit" class="btn btn-default" id="responseForm" value="Valider">
</form>
{% endif %}
<script>
    $(document).ready(function(){
        $('#responseForm').on('click', function(){
            if (!confirm('êtes-vous sur ?'))
            {
                return false;
            }
        });
        $('#denyForm').on('click', function(){
            if ($('#invalidate_doc_simulate').val() === "") {
                alert('vous devez ajouter une motif de rejet !')
                return false;
            } else {
                if (!confirm('êtes-vous sur ?'))
                {
                    return false;
                } else {
                    return true;
                }
            }
        });
    })
</script>
{% endblock %}