{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block seo %}
    <base href="{{ path( 'show_cat', {slug : categorie.slug}) }}"/>
    <meta name="keywords" content="{{ categorie.description }}" />
    <meta name="x-ua-compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="{{ categorie.description }}"/>
    <meta property="og:title" content="{{ categorie.nom | lower }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ path( 'show_cat', {slug : categorie.slug}) }}">
	<meta property="og:description" content="{{ categorie.description }}">
	<meta property="og:video" content="">
	<meta property="og:locale" content="fr_FR">
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:url" content="{{ path( 'show_cat', {slug : categorie.slug}) }}"/>
	<meta name="twitter:title" content="{{ categorie.nom | lower }}"/>
	<meta property="twitter:description" content="{{ categorie.description }}"/>
{% endblock %}

{% block body_id %}{% endblock %}

{% block class %}body-ccm{% endblock %}

{% block page_content %}
    <div class="content-wrapper blog">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-12 main-blog">
                    <div class="blog-card--titre">
                        <h2 class="page-title">
                            {{ categorie.nom }}</h2>
                        <div class="text-head">
                            <p>{{ categorie.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="row blog-list mb-5">
                            {% for article in articles %}
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                                    <div class="blog-post">
                                        <div class="blog-post--image">
                                            <figure>
                                                <a href="{{ path('blog_show', {'slug': article.slug}) }}" style="background-image: url('{{ asset('uploads/' ~ article.image) }}');"></a>
                                            </figure>
                                            {# <div class="blog-post--category">
                                                {% for categorie in article.categories %}
                                                    <a href="{{ path('show_cat', {'slug':categorie.slug}) }}" class="blog-post--category-item">
                                                        {{ categorie.nom | capitalize}}
                                                    </a>
                                                    {% if not loop.last %}{% endif %}
                                                {% endfor %}
                                            </div> #}
                                        </div>
                                        <div class="blog-post--informations">
                                            <a href="{{ path('blog_show', {'slug': article.slug}) }}" class="blog-post--titre">
                                                <h3>{{ article.titre }}</h3>
                                            </a>
                                            <div class="blog-post--description">{{ article.description | truncate(70, true) | raw }}</div>

                                            <div class="blog-post--action">
                                                <div class="blog-post--date">Crée le {{ article.date | date('d M Y') }}</div>
                                                <a href="{{ path('blog_show', {'slug': article.slug}) }}" class="btn link-connexion-register more">Lire la suite</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-12 pagination pagination-css  d-flex align-items-center flex-row justify-content-center my-flex-container">
                                {{ knp_pagination_render(articles) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        {{ include("blog/layout/sidebar.html.twig") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-xll-block">
        <div id="aside_right" class="aside_right">
            <div id="right_formulaireFx" class="sectionTop_">
                <div class="form_demarche"></div>
                <img src="{{ asset("asset/img/multiplePay.png")}}" class="mx-auto"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} 
{{ parent() }}
{% endblock %}