<!DOCTYPE html>
<html lang="fr" xml:lang="fr">

<head>
	{{ include('home/layout/header.html.twig') }}

	{% block seo %}{% endblock %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190433976-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-190433976-1');
	</script>
	<!-- End Global site tag (gtag.js) - Google Analytics -->

	<title>CGOfficiel {% block title %}{% endblock %}</title>
	<link rel="icon" href="{{ asset('asset/favicon/favicon.ico') }}">
	<link href="/fontawesome/css/all.css" rel="stylesheet">
	{% block stylesheets %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	{% endblock %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block class %}{% endblock %}">
	{{ include('home/composant/header.html.twig') }}
	<!-- Content -->
	{# Iary flash style #}
	<section class="sectionTop_">
		{% block page_content %}{% endblock %}
	</section>
	{% block pagetext_content %}{% endblock %}
	{{ include('home/composant/footer.html.twig') }}
{% block javascripts %}
	<script src="{{ asset('Utils/js/jquery.js')}}" crossorigin="anonymous"></script>
	<script src="{{ asset('Utils/js/jqueryUi.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="{{ asset('javascript/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('javascript/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('asset/libs/js/jquery.sticky.js') }}" type="text/javascript"></script>
	<script src="{{ asset('asset/libs/js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('asset/libs/js/parallax.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('javascripts/selectForm.js') }}" type="text/javascript"></script>
	<script src="{{ asset('javascripts/home.js') }}" type="text/javascript"></script>
	{% if (is_full_view() or is_not_mobile_view())%}
		<script src="{{ asset('javascripts/tiretAuto.js') }}"></script>
	{% endif %}
	<script type="text/javascript">
        cookiesChecker.init();
        // or customize it a bit:
        //cookiesChecker.init({
        //    cookieKey:'custom-cookie-name',
        //    cookieValue:'custom-cookie-value',
        //    cookieDays:361,
        //    containerId:'cookie-custom-alert-container',
        //    htmlTemplate:'<div>SOME COOKIE INFO <a href="javascript:cookiesChecker.accept();">OK</a></div>'
        //});
	</script>
	<script type="text/javascript">
		$(function () {
			$('textarea.ckeditor').ckeditor();
		})
		$('#myModal').on('shown.bs.modal', function () {
			$('#myInput').trigger('focus')
		});
	</script>
{% endblock %}
</body>
</html>
