<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="fr-FR"/>
<meta name="language" content="fr-FR"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--____________________________________________________________________________FIN LINK META-->
<!--____________________________________________________________________________LINK CSS-->

<!-- LINK MAIN-->
<link rel="stylesheet" href="{{ asset('build/css/styles.css') }}">

<!-- LINK BOOTSTRAP-->
<link rel="stylesheet" href="{{ asset('asset/libs/css/bootstrap.min.css') }}">
<!-- LINK NORMALIZE-->
<link rel="stylesheet" href="{{ asset('asset/libs/css/normalize.min.css') }}">
<!-- LINK FONTAWESOME-->
<link rel="stylesheet" href="{{ asset('asset/libs/css/fontawesome.css') }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('asset/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('asset/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('asset/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('asset/favicon/site.webmanifest') }}">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!--____________________________________________________________________________FIN LINK CSS-->

<title>
	{% block title %}CGOfficiel{% endblock %}
</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">