<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="fr-FR"/>
<meta name="language" content="fr-FR"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--____________________________________________________________________________FIN LINK META-->
<!--____________________________________________________________________________LINK CSS-->

<!-- LINK MAIN-->
<link rel="stylesheet" href="{{ asset('build/css/styles.css') }}">

<!-- LINK BOOTSTRAP-->
<link rel="stylesheet" href="{{ asset('asset/libs/css/bootstrap.min.css') }}">
<!-- LINK NORMALIZE-->
<link rel="stylesheet" href="{{ asset('asset/libs/css/normalize.min.css') }}">
<!-- LINK FONTAWESOME-->
<link rel="stylesheet" href="{{ asset('asset/libs/css/fontawesome.css') }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('asset/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('asset/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('asset/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('asset/favicon/site.webmanifest') }}">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>
	.bs-border-box {
	    box-sizing: border-box;
	}
	.form-control {
		box-sizing: border-box !important;
	}
	.with-mp.col, .with-mp .col,
	.with-mp.col-1, .with-mp .col-3,
	.with-mp.col-10, .with-mp .col-12,
	.with-mp.col-11, .with-mp .col-13,
	.with-mp.col-12, .with-mp .col-14,
	.with-mp.col-2, .with-mp .col-4,
	.with-mp.col-3, .with-mp .col-5,
	.with-mp.col-4, .with-mp .col-6,
	.with-mp.col-5, .with-mp .col-7,
	.with-mp.col-6, .with-mp .col-8,
	.with-mp.col-7, .with-mp .col-9,
	.with-mp.col-8, .with-mp .col-10,
	.with-mp.col-9, .with-mp .col-11,
	.with-mp.col-lg, .with-mp .col-lg,
	.with-mp.col-lg-1, .with-mp .col-lg-3,
	.with-mp.col-lg-10, .with-mp .col-lg-12,
	.with-mp.col-lg-11, .with-mp .col-lg-13,
	.with-mp.col-lg-12, .with-mp .col-lg-14,
	.with-mp.col-lg-2, .with-mp .col-lg-4,
	.with-mp.col-lg-3, .with-mp .col-lg-5,
	.with-mp.col-lg-4, .with-mp .col-lg-6,
	.with-mp.col-lg-5, .with-mp .col-lg-7,
	.with-mp.col-lg-6, .with-mp .col-lg-8,
	.with-mp.col-lg-7, .with-mp .col-lg-9,
	.with-mp.col-lg-8, .with-mp .col-lg-10,
	.with-mp.col-lg-9, .with-mp .col-lg-11,
	.with-mp.col-md, .with-mp .col-md,
	.with-mp.col-md-1, .with-mp .col-md-3,
	.with-mp.col-md-10, .with-mp .col-md-12,
	.with-mp.col-md-11, .with-mp .col-md-13,
	.with-mp.col-md-12, .with-mp .col-md-14,
	.with-mp.col-md-2, .with-mp .col-md-4,
	.with-mp.col-md-3, .with-mp .col-md-5,
	.with-mp.col-md-4, .with-mp .col-md-6,
	.with-mp.col-md-5, .with-mp .col-md-7,
	.with-mp.col-md-6, .with-mp .col-md-8,
	.with-mp.col-md-7, .with-mp .col-md-9,
	.with-mp.col-md-8, .with-mp .col-md-10,
	.with-mp.col-md-9, .with-mp .col-md-11,
	.with-mp.col-sm, .with-mp .col-sm,
	.with-mp.col-sm-1, .with-mp .col-sm-3,
	.with-mp.col-sm-10, .with-mp .col-sm-12,
	.with-mp.col-sm-11, .with-mp .col-sm-13,
	.with-mp.col-sm-12, .with-mp .col-sm-14,
	.with-mp.col-sm-2, .with-mp .col-sm-4,
	.with-mp.col-sm-3, .with-mp .col-sm-5,
	.with-mp.col-sm-4, .with-mp .col-sm-6,
	.with-mp.col-sm-5, .with-mp .col-sm-7,
	.with-mp.col-sm-6, .with-mp .col-sm-8,
	.with-mp.col-sm-7, .with-mp .col-sm-9,
	.with-mp.col-sm-8, .with-mp .col-sm-10,
	.with-mp.col-sm-9, .with-mp .col-sm-11,
	.with-mp.col-xl, .with-mp .col-xl,
	.with-mp.col-xl-1, .with-mp .col-xl-3,
	.with-mp.col-xl-10, .with-mp .col-xl-12,
	.with-mp.col-xl-11, .with-mp .col-xl-13,
	.with-mp.col-xl-12, .with-mp .col-xl-14,
	.with-mp.col-xl-2, .with-mp .col-xl-4,
	.with-mp.col-xl-3, .with-mp .col-xl-5,
	.with-mp.col-xl-4, .with-mp .col-xl-6,
	.with-mp.col-xl-5, .with-mp .col-xl-7,
	.with-mp.col-xl-6, .with-mp .col-xl-8,
	.with-mp.col-xl-7, .with-mp .col-xl-9,
	.with-mp.col-xl-8, .with-mp .col-xl-10,
	.with-mp.col-xl-9, .with-mp .col-xl-11 {
		position: relative !important;
	    width: 100% !important;
	    min-height: 1px !important;
	    padding-right: 15px !important;
	    padding-left: 15px !important;
		box-sizing: border-box !important;
	}
	.with-mp.row , .with-mp .row {
		margin-right: -15px !important;
		margin-left: -15px !important;
	}
</style>

<!--____________________________________________________________________________FIN LINK CSS-->

<title>
	{% block title %}CGOfficiel{% endblock %}
</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">