{% extends 'crm_base.html.twig' %}

{% block page_content %}
{% set taxe = commande.taxes %}
    {% if commande is defined %}
        <div class="col-md-12 row col-lg-12">
            <hr>
            <h2 class="col-12 text-center">RESUME DE LA COMMANDE</h2>
            <div class="row col-md-12 col-lg-6 resultat-estimation mx-auto pt-5 pb-5">
                <img src="{{ asset('asset/CarLogos/Logos/'~commande.carInfo.marque | lower~'.jpg') }}"
                    class="rounded mx-auto d-block img-fluid mb-3" alt="">
                <div class="col-12 mx-auto">
                    <h2 class="col-12">Caractéristique du véhicule</h2>
                    {{ include('commande/_resum_caracteristics_car.html.twig') }}
                </div>
            </div>
            <div class="row col-md-12 col-lg-6 resultat-estimation mx-auto d-flex flex-row-reverse my-flex-container pt-5 pb-5">
                <div class="col-12 mx-auto">
                    <h2 class="col-12">Récapitulatif de la demande</h2>
                    {{ include('commande/_resum_recap_commande.html.twig') }}
                    <hr>
                    <h2 class="col-12">Détail des taxes</h2>
                    {{ include('commande/_resum_taxe_car.html.twig') }}
                    <br>
                    {% if commande.demande is not null and commande.demande.transaction is not null and commande.demande.transaction.status == "00" %}
                        <div class="text-center">
                            <a href="{{path('route_crm_payment_facture_demande', {'demande': commande.demande.id })}}" target="_blank">
                                <button type="button" class="btn link-connexion-register ">Facture</button>
                            </a>
                        </div>
                    {% elseif commande.facture is defined and commande.facture is not null %}
                        <div class="text-center">
                            <a href="{{path('route_crm_payment_facture_commande', {'commande': commande.id })}}" target="_blank">
                                <button type="button" class="btn link-connexion-register ">Facture</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
