{% extends "crm_base.html.twig" %}
{% block page_content %}
    {{ form_start(form)}}
    <div class="row align-items-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="block_form">
                    {{ form_row(form.Email, {'attr': {'label': 'form-control', 'placeholder': 'Adresse éléctronique'}} )}}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="block_form">
                    {{ form_row(form.Immatriculation, {'attr': {'label': 'form-control', 'placeholder': 'N° Immatriculation'}} )}}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="block_form">
                    {{ form_row(form.Nom, {'attr': {'label': 'form-control', 'placeholder': 'Nom ou prénom '}} )}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 pl-md-0">
            {{ form_rest(form)}}
        </div>
    </div>
    {{ form_end(form)}}

    <div class="container-result">
        {% if commandes %}
        <h3>Résultats de la recherche</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped border-0 custom-table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Type Demande</th>
                        <th scope="col">Date</th>
                        <th scope="col">Dép.</th>
                        <th scope="col">Immatriculation</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.demarche.nom }}</td>
                        <td>{{ commande.ceerLe | date('d-m-Y')}}</td>
                        <td>{{ commande.codePostal }}</td>
                        <td>{{ commande.immatriculation }}</td>
                        <td>
                            <span
                                class="badge badge-{{ statusOfCommande(commande, "style") }}">{{ statusOfCommande(commande, "text") }}</span>
                        </td>
                        <td>
                            <a href="{{path('route_crm_commande_recap', {'commande': commande.id })}}">
                                <button type="button" class="badge badge-pill badge-primary ">Résumé</button>
                            </a>
                            {% if commande.demande is defined and commande.demande is not null and ((commande.demande.transaction is not null and commande.demande.transaction.status == "00") or (commande.transaction is not null and commande.transaction.status == "00")) %}
                                <a href="{{path('route_crm_dossier_fournir', {'demande': commande.demande.id })}}">
                                    <button type="button" class="badge badge-pill badge-warning ">Documents</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Aucune demande trouvée</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        {% endif %}
    </div>
{% endblock %}