{% extends "crm_base.html.twig" %}
{% block page_content %}
    {{ form_start(form)}}
    <div class="row">
        <div class="col">
            {{ form_row(form.Email, {'attr': {'label': 'form-control', 'placeholder': 'Adresse éléctronique'}} )}}
        </div>
        <div class="col">
            {{ form_row(form.Immatriculation, {'attr': {'label': 'form-control', 'placeholder': 'N° Immatriculation'}} )}}
            
        </div>
        <div class="col">
            {{ form_row(form.Nom, {'attr': {'label': 'form-control', 'placeholder': 'Nom ou prénom '}} )}}
        </div>
    </div>
    {{ form_rest(form)}}
    {{ form_end(form)}}

    <div class="container">
        {% if demandes %}
        <br>
        <h3>Résultats de la recherche</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Type Demande</th>
                        <th scope="col">Date</th>
                        <th scope="col">Département</th>
                        <th scope="col">Immatriculation</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.id }}</td>
                        <td>{{ demande.commande.demarche.nom }}</td>
                        <td>{{ demande.commande.ceerLe | date('d-m-Y')}}</td>
                        <td>{{ demande.commande.codePostal }}</td>
                        <td>{{ demande.commande.immatriculation }}</td>
                        <td>
                            <span
                                class="badge badge-{{ statusOfCommande(demande.commande, "style") }}">{{ statusOfCommande(demande.commande, "text") }}</span>
                        </td>
                        <td>
                            <a href="{{path('route_crm_demande_recap', {'demande': demande.id })}}">
                                <button type="button" class="badge badge-pill badge-primary ">Résumé</button>
                            </a>
                            {% if demande.transaction is not null and demande.transaction.status == "00" %}
                            <a href="{{path('route_crm_dossier_fournir', {'demande': demande.id })}}">
                                <button type="button" class="badge badge-pill badge-warning ">Documents</button>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Aucune demande trouvé</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        {% endif %}
    </div>
{% endblock %}