<!-- Demarche formulaire /Iary  -->
<div class="aside_right">
    <div class="sectionTop_">
        <div class="form_demarche">
            <div class="demarche_block">
                <div class="demarche_block_item">
                    <div id="Demarche" class="title_dermarche text-center">
                        <p>Bienvenue sur le service d’immatriculation de véhicule en ligne, rapide, sécurisé et agréé</p>
                        <h1>
                            {% if defaultDemarche is defined and defaultDemarche is not null %}
                                {% if defaultDemarche.type  == constant('App\\Entity\\TypeDemande::TYPE_CTVO') %}
                                    Achat d'un véhicule d'occasion: commandez votre certificat d'immatriculation
                                {% elseif defaultDemarche.type  == constant('App\\Entity\\TypeDemande::TYPE_DUP') %}
                                    Commandez un duplicata de votre certificat d'immatriculation
                                {% elseif defaultDemarche.type  == constant('App\\Entity\\TypeDemande::TYPE_DCA') %}
                                    Certificat d'immatriculation: Effectuer un changement d'adresse
                                {% endif %}
                            {% else %}
                                Choisissez votre démarche
                            {% endif %}
                        </h1>
                    </div>
                    <div class="block_form">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                {% if formulaire is defined %}
                                    {% if is_mobile() and is_device('samsung') %}
                                        {{ form_start(formulaire, {'attr': {'id': 'form_demarche'}})}}
                                        <div class="demarche">
                                            {{ form_row(formulaire.demarche, {
                                                'attr':{
                                                    'class': 'form-control-plaque'
                                                },
                                                'label_attr': {
                                                    'class': 'text-uppercase resultat-estimation-p'}
                                                })
                                            }}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_row(formulaire.immatriculation, {
                                                        'attr':{
                                                            'class': 'form-control-plaque ',
                                                            'maxlength': '9',
                                                            'minlength': '5',
                                                            'placeholder': 'AA-123-AA'
                                                        },
                                                        'label_attr': {
                                                            'class': 'text-uppercase resultat-estimation-p'}
                                                        }
                                                    )}}
                                                </div>
                                                <div class="col-md-6 AutoComplete_CP">
                                                {{ form_row(formulaire.codePostal, {
                                                    'attr':{'class':'mx-auto form-control--dep'},
                                                    'label_attr': {'class': 'text-uppercase resultat-estimation-p'}
                                                    }
                                                )}}
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="text-md-right mx-auto search-box" id="calcul">
                                            <button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
                                        </div>
                                        {{ form_end(formulaire)}}
                                    {% else %}
                                        {{ form_start(formulaire, {'attr': {'id': 'form_demarche'}})}}
                                        <div class="demarche">
                                            {{ form_row(formulaire.demarche, {
                                                'attr':{
                                                    'class': 'form-control-plaque'
                                                },
                                                'label_attr': {
                                                    'class': 'text-uppercase resultat-estimation-p'}
                                                })
                                            }}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_row(formulaire.immatriculation, {
                                                        'attr':{
                                                            'onkeyup':'this.value = this.value.toUpperCase()',
                                                            'class': 'form-control-plaque ',
                                                            'onblur': 'this.value = valueTreatement(this.value)',
                                                            'maxlength': '9',
                                                            'minlength': '5',
                                                            'placeholder': 'BB-321-BB'
                                                        },
                                                        'label_attr': {
                                                            'class': 'text-uppercase resultat-estimation-p'}
                                                        }
                                                    )}}
                                                </div>
                                                <div class="col-md-6 AutoComplete_CP">
                                                {{ form_row(formulaire.codePostal, {
                                                    'attr':{'class':'mx-auto form-control--dep'},
                                                    'label_attr': {'class': 'text-uppercase resultat-estimation-p'}
                                                    }
                                                )}}
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="text-md-right mx-auto search-box" id="calcul">
                                            <button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
                                        </div>
                                        {{ form_end(formulaire)}}
                                    {% endif %}
                                
                                <div id="formVN" style="display:none;">
                                    <div class="d-flex justify-content-start">
                                        <div onclick="$('#formulaire_demarche').val('1').change();" id='backButton' class='back-retour'><i class="icomoon icon-right-arrow"></i> Retour</div>
                                    </div>
                                    {% set formDivn = tab[3] %}
                                    {{ form_start(formDivn)}}
                                        {{ form_row(formDivn.department, {'attr':{'class':'mx-auto form-control--dep'},
                                                'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
                                        {{ form_row(formDivn.genre, {'attr':{'class':'mx-auto form-control--dep'},
                                                'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
                                        {{ form_row(formDivn.puissanceFiscale, {'attr':{'class':'mx-auto form-control--dep'},
                                                'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
                                        {{ form_row(formDivn.energie, {'attr':{'class':'mx-auto form-control--dep'},
                                                'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form_row(formDivn.tauxDeCo2, {'attr':{'class':'mx-auto form-control--dep'},
                                                    'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(formDivn.Marque, {'attr':{'class':'mx-auto form-control--dep'},
                                                    'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
                                            </div>
                                        </div>
                                        <div class="col-md-6 mx-auto search-box">
                                            <button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
                                        </div>
                                    {{ form_end(formDivn)}}
                                </div>
                                <div id="formDC" style="display:none;">
                                    <div class="d-flex justify-content-start">
                                        <div onclick="$('#formulaire_demarche').val('1').change();" id='backButton' class='back-retour'><i class="icomoon icon-right-arrow"></i> Retour</div>
                                    </div>
                                    <div class="title_dermarche text-center">
                                        <h3>Téléchargez le formulaire
                                            <br>CERFA n° 15776*01</h3>
                                    </div>
                                    <div class="title_dermarche text-center">
                                        <p>
                                            Le formulaire CERFA n° 15776*01 doit être rempli par le vendeur et signé par l'acheteur. Ce dernier est nécessaire au nouveau détenteur du véhicule pour l'immatriculer (carte grise) à son nom.
                                        </p>
                                    </div>
                                    <div class="title_dermarche text-center"> 
                                        <p><strong>(à remplir par l’ancien propriétaire et le nouveau proprietaire)</strong></p>
                                        <div class="col-md-6 mx-auto search-box">
                                            <a href="/../download/cgofficiel_cerfa-15776-01.pdf" target="blank">
                                                <button type="submit" class="btn-calcuer btn btn-blue">{{ "Télécharger" | upper}} <i class="icon-pdf"></i></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <a href="{{ path('formulaire')}}">Formulaire</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Demarche formulaire /Iary  -->
<div class="commentaire-form search_blog_">
    {{ form_start(formSearch) }}
    {{ form_widget(formSearch)}}
    {{ form_end(formSearch) }}
</div>
<h4 class="sidebar-titre">Liste des catégories</h4>
<ul class="list-group">
    {% for category in cat %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ path('show_cat',{'slug':category.slug}) }}">{{ category.nom }}</a>
        <span class="badge badge-primary badge-pill">{{ category.articles | length }}</span>
    </li>
    {% endfor %}
</ul>
<h4 class="sidebar-titre">FAQ</h4>
<br>
<div class="col-12 mx-auto ">
    {# {{ include('blog/search.html.twig') }} #}
    <br>
    {% for faq in faqs %}
        <!-- Button trigger modal -->
        <div class="col-12 mx-auto blog-faq-list mb-2">
            <div class="col-11 faq-item mx-auto">
                <a href="#" class="col-10 mx-auto " data-toggle="modal" data-target="#exampleModalLong{{ faq.id }}">
                    <strong>{{ faq.titre }}</strong>
                </a>
                <p class="col-10 mx-auto">{{ faq.contenu | slice(0,136) | raw }}...</p>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong{{ faq.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle{{ faq.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle{{ faq.id }}">{{ faq.titre }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ faq.contenu | raw }}
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        </div>
                        {# {% if is_granted( 'ROLE_USER' ) %}
                            <a class="btn btn-secondary" href="{{path('user_faq_edit',{'id':faq.id})}}">Modifier</a>
                        {% endif %}
                        {% if is_granted( 'ROLE_ADMIN' ) %}
                            <a class="btn btn-secondary" href="{{path('user_faq_delete',{'id':faq.id})}}">Supprimer</a>
                        {% endif %} #}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


                            