<div class="col-md-12 col-lg-8 d-flex flex-row justify-content-center my-flex-container align-items-center">
	<div class="row d-flex flex-row-reverse my-flex-container pt-5 pb-5">
		<h1 class="col-12 col-sm-12 home-secondview--titre">Commandez votre certificat d'immatriculation</h1>

		{% for demarche in demarches %}
			<div class="col-12 col-sm-6 col-lg-6">
				<button type="button" data-toggle="modal" data-target="#{{demarche.type}}" class="row col-10 mx-auto menu-commander  d-flex align-items-center justify-content-center my-flex-container">
					<span class="col-4 menu-commander--button---icon d-flex flex-row justify-content-center my-flex-container mt-3 mb-3">
						<i class="fas fa-3x fa-clone"></i>
					</span>
					<div class="col-8 mx-auto menu-commander--button---text">
						<h2 class="col-10 mx-auto">{{ demarche.nom }}</h2>
						<div class="col-10 mx-auto menu-box--description hidden-xl-down">
							Vous disposez d’un délai d’un mois soit 30 jours pour le faire, sinon vous vous exposez à une amende de 4ème classe.
						</div>
					</div>
				</button>
			</div>
			<div class="modal" id="{{demarche.type}}">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal body -->
						<div class="modal-body">
							<div id="{{demarche.type}}" class="row commander">
								<div class="row search col-12">
									<div class="col-12 search-titre mt-5">
										<h2>Calculez le prix de votre
											<br>certificat d'immatriculation</h2>
									</div>
									<div class="col-12 search-titre">
										<p class="col-8 mx-auto text-center text-uppercase">
											Saisissez votre plaque d'immatriculation ainsi que votre département afin de pouvoir calculer une estimation du prix de votre carte grise.
										</p>
									</div>

									<div id="{{demarche.type}}" class="col-8 col-md-6 col-xl-4 mx-auto">

										{{ form_start(tab[(demarche.id)])}}
										<div style="display:none;">
											{{ form_row(tab[(demarche.id)].demarche)}}
										</div>

										{{ form_row(tab[(demarche.id)].immatriculation, {
											'attr':{
												'onkeyup':'this.value = this.value.toUpperCase()',
												'class': 'col-12 form-control-plaque ',
												'onblur': 'this.value = valueTreatement(this.value)',
												'maxlength': '9',
												'minlength': '5'
											},
											'label_attr': {
												'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
											}
												)}}

										{{ form_row(tab[(demarche.id)].codePostal, {
											'attr':{'maxlength':'3','minlength':'2', 'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
										}
										)}}
										<!-- <div class="col-12 mx-auto search-box bg-dark"> <div class="row col-12 mx-auto input-group "> <label for="Immatriculation" class="col-12 search-box--titre">Demarche</label> </div> </div> <div class="col-12 mx-auto search-box bg-dark"> <div
										class="row col-12 mx-auto input-group "> <label for="Immatriculation" class="col-12 search-box--titre">Numero d'Immatriculation</label> </div> </div> <div class="col-12 mx-auto search-box mt-5"> <div class="row col-12 mx-auto input-group "> <label
										for="Departement" class="col-12 search-box--titre">Departement d'immatriculation</label> </div> </div> -->
										<div class="col-12 col-md-6 mx-auto text-center search-box">
											<button type="submit" class="btn btn-primary btn-sm mx-auto">CALCULER</button>
										</div>
										{{ form_end(tab[(demarche.id)])}}

										<div id="resultecg"></div>

									</div>
								</div>
							</div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<div id="resultecg"></div>
