{# <div class="col-12 d-flex flex-row justify-content-center my-flex-container flex-wrap align-content-start">
	<div class="row center-container-hp d-flex my-flex-container pt-3 pb-3 justify-content-center align-content-center">
		{% if app.user %}
		<div class="hidden-lg-up hidden-md-up">
			<ul class="espace-client-menu col-12 col-lg-12 col-xl-12 list-group mx-auto mb-4 mt-5">
				<li class="list-group-item d-flex justify-content-between align-items-center active">
					<a href="{{ path('compte') }}">Mon Profil</a>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<a href="{{ path('commande_list') }}">Demandes en cours</a>
					<span class="badge badge-primary badge-pill">{{ countCommandeUnchecked(app.user) }}</span>
				</li>
				</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
					<a href="{{ path('demande_list')}}">Commandes effectuées</a>
					<span class="badge badge-primary badge-pill">{{ countDemande(app.user) }}</span>
				</li>
				
			</ul>
		</div>
		{% endif %}
		<h2 class="txt-immatriculation">
			démarche en quelques clics
		</h2>
		<div class="col-12 text-center mt-4 mb-4">
			<img class="img-fluid img-down-hp" src='{{ asset("asset/img/down.png")}}' alt='image down'>
		</div>
		{% for demarche in demarches %}
			<div class="col-12 col-md-6 col-lg-4 demande-element" onmouseover="h2over(this)" onmouseout="h2out(this)" id="{{demarche.type}}demande" alt="{{demarche.id}}">
				<button type="button" data-toggle="modal" data-target="#{{demarche.type}}" class="demande-btn">
					<span class="demande-icon"></span>
					<div class="demande-info">
						<h2 class="col-10 mx-auto">{{demarche.nom}}</h2><span class="span-h2" id="{{demarche.type}}demandeh2"></span> 
						<div class="col-10 mx-auto menu-box--description hidden-xl-down">
							Vous disposez d’un délai d’un mois soit 30 jours pour le faire, sinon vous vous exposez à une amende de 4ème classe.
						</div>
					</div>
				</button>
			</div>
			<div class="modal" id="{{demarche.type}}">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal body -->
						{% if demarche.type == 'DIVN' %}
						<div class="modal-body">
							<div class="popup-center-container search">
								<div class="col-12 search-titre mt-5">
									<h2>Calculez le prix de votre
										<br>certificat d'immatriculation</h2>
								</div>
								<div class="col-12 search-titre">
									<p class="col-8 mx-auto text-center text-uppercase">
										Saisissez votre département et les informations du véhicule afin de pouvoir calculer une estimation du prix de votre carte grise.
									</p>
								</div>
								{% set formDivn = tab[(demarche.id)] %}
								{{ form_start(formDivn)}}
									{{ form_row(formDivn.department, {'attr':{'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}})}}
									{{ form_row(formDivn.genre, {'attr':{'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}})}}
									{{ form_row(formDivn.puissanceFiscale, {'attr':{'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}})}}
									{{ form_row(formDivn.energie, {'attr':{'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}})}}
									{{ form_row(formDivn.tauxDeCo2, {'attr':{'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}})}}
									{{ form_row(formDivn.Marque, {'attr':{'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}})}}
									<div class="col-12 col-md-6 mx-auto text-center search-box">
										<button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
									</div>
								{{ form_end(formDivn)}}
							</div>
						</div>
						{% elseif demarche.type == 'DC' %}
						<div class="modal-body">
							<div class="popup-center-container search">
								<div class="col-12 search-titre mt-5">
									<h2>Téléchargez le formulaire
										<br>CERFA n° 15776*01</h2>
								</div>
								<div class="col-12 search-titre">
									<p class="col-7 mx-auto text-center text-uppercase">
										Le formulaire CERFA n° 15776*01 doit être rempli par le vendeur et signé par l'acheteur. Ce dernier est nécessaire au nouveau détenteur du véhicule pour l'immatriculer (carte grise) à son nom.
									</p>
								</div>
								<div class="text-center"> 
									<a href="/../download/cgofficiel_cerfa-15776-01.pdf" target="blank">
										<button class="btn btn-outline-danger btn-lg text-center" type="button" id="button-addon2"><i class="fas fa-file-pdf"></i></button>
									</a>
									<p>CERTIFICAT DE CESSION D’UN VÉHICULE D’OCCASION</p>
									<p>(à remplir par l’ancien propriétaire et le nouveau proprietaire)</p>
									<div class="col-12 col-md-6 mx-auto text-center search-box">
										<a href="/../download/cgofficiel_cerfa-15776-01.pdf" target="blank">
											<button type="submit" class="btn btn-primary btn-sm mx-auto">{{ "Télécharger" | upper}}</button>
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<div class="modal-body">
							<div id="{{demarche.type}}" class="row commander">
								<div class="row search col-12">
									<div class="col-12 search-titre mt-5">
										<h2>Calculez le prix de votre
											<br>certificat d'immatriculation</h2>
									</div>
									<div class="col-12 search-titre">
										<p class="col-8 mx-auto text-center text-uppercase">
											Saisissez votre plaque d'immatriculation ainsi que votre département afin de pouvoir calculer une estimation du prix de votre carte grise.
										</p>
									</div>

									<div id="{{demarche.type}}" class="col-8 col-md-6 col-xl-4 mx-auto">

										{{ form_start(tab[(demarche.id)])}}
									<div style="display:none;">
										{{ form_row(tab[(demarche.id)].demarche)}}	
									</div>		
								{% if immatStatic is defined %}						
									<div style="display:none;">
										{{ form_row(tab[(demarche.id)].immatriculation, {
											'attr':{
												'onkeyup':'this.value = this.value.toUpperCase()',
												'class': 'col-12 form-control-plaque ',
												'onblur': 'this.value = valueTreatement(this.value)',
												'maxlength': '9',
												'minlength': '5',
												'value': immatStatic,
											},
											'label_attr': {
												'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
											}
										)}}
									</div>
								{% else %}
									<div>
										{{ form_row(tab[(demarche.id)].immatriculation, {
											'attr':{
												'onkeyup':'this.value = this.value.toUpperCase()',
												'class': 'col-12 form-control-plaque ',
												'onblur': 'this.value = valueTreatement(this.value)',
												'maxlength': '9',
												'minlength': '5',
												'placeholder': 'BB-321-BB',
											},
											'label_attr': {
												'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
											}
										)}}
									</div>
								{% endif %}
											
										{{ form_row(tab[(demarche.id)].codePostal, {
											'attr':{'maxlength':'3','minlength':'2', 'class':'col-6 mx-auto text-center form-control--dep'},
											'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
										}
										)}}
										{% if demarche.type == 'DCA' %}
											{{ form_row(tab[(demarche.id)].fourthChange
											)}}
										{% else %}
											<div class="hidden" style="display: none;">{{ form_row(tab[(demarche.id)].fourthChange)}}</div>
										{% endif %}
										<!-- <div class="col-12 mx-auto search-box bg-dark"> <div class="row col-12 mx-auto input-group "> <label for="Immatriculation" class="col-12 search-box--titre">Demarche</label> </div> </div> <div class="col-12 mx-auto search-box bg-dark"> <div
										class="row col-12 mx-auto input-group "> <label for="Immatriculation" class="col-12 search-box--titre">Numero d'Immatriculation</label> </div> </div> <div class="col-12 mx-auto search-box mt-5"> <div class="row col-12 mx-auto input-group "> <label
										for="Departement" class="col-12 search-box--titre">Departement d'immatriculation</label> </div> </div> -->
										<div class="col-12 col-md-6 mx-auto text-center search-box">
											<button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
										</div>
										{{ form_end(tab[(demarche.id)])}}

										<div id="resultecg"></div>

									</div>
								</div>
							</div>
						</div>
						{% endif %}
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="critair">
			<a class="critairLink" href="http://www.certificat-air.gouv.fr" target="_blank"><img class="img-fluid" src='{{ asset("asset/img/critair.png")}}' alt='image down'></a>
		</div>
	</div>
	<div id="resultecg"></div>
</div> #}
<div class="form_demarche">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8">
				<div class="demarche_block">
					<div class="demarche_block_item">
						<div id="Demarche" class="title_dermarche text-center">
							<p>Bienvenue sur le service d’immatriculation <br/>de véhicule en ligne, rapide, sécurisé et agréé</p>
							<h2>Choisissez votre démarche</h2>
						</div>
						<div class="block_form">
							<div class="row justify-content-center">
								<div class="col-md-10">
									{% if formulaire is defined %}
									{{ form_start(formulaire, {'attr': {'id': 'form_demarche'}})}}
									<div class="demarche">
										{{ form_row(formulaire.demarche, {
											'attr':{
												'class': 'form-control-plaque'
											},
											'label_attr': {
												'class': 'text-uppercase resultat-estimation-p'}
											})
										}}
										<div class="row">
											<div class="col-md-6">
												{{ form_row(formulaire.immatriculation, {
													'attr':{
														'onkeyup':'this.value = this.value.toUpperCase()',
														'class': 'form-control-plaque ',
														'onblur': 'this.value = valueTreatement(this.value)',
														'maxlength': '9',
														'minlength': '5',
														'placeholder': 'BB-321-BB'
													},
													'label_attr': {
														'class': 'text-uppercase resultat-estimation-p'}
													}
												)}}
											</div>
											<div class="col-md-6">
											{{ form_row(formulaire.codePostal, {
												'attr':{'maxlength':'3','minlength':'2', 'class':'mx-auto form-control--dep'},
												'label_attr': {'class': 'text-uppercase resultat-estimation-p'}
												}
											)}}
											</div>
										</div>
									</div>	
									<div class="text-md-right mx-auto search-box" id="calcul">
										<button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
									</div>
									{{ form_end(formulaire)}}
									<div id="formVN" style="display:none;">
										<div class="d-flex justify-content-start">
											<div onclick="$('#formulaire_demarche').val('1').change();" id='backButton' class='back-retour'><i class="icomoon icon-right-arrow"></i> Retour</div>
										</div>
										{% set formDivn = tab[3] %}
										{{ form_start(formDivn)}}
											{{ form_row(formDivn.department, {'attr':{'class':'mx-auto form-control--dep'},
													'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
											{{ form_row(formDivn.genre, {'attr':{'class':'mx-auto form-control--dep'},
													'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
											{{ form_row(formDivn.puissanceFiscale, {'attr':{'class':'mx-auto form-control--dep'},
													'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
											{{ form_row(formDivn.energie, {'attr':{'class':'mx-auto form-control--dep'},
													'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
											<div class="row">
												<div class="col-md-6">
													{{ form_row(formDivn.tauxDeCo2, {'attr':{'class':'mx-auto form-control--dep'},
														'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
												</div>
												<div class="col-md-6">
													{{ form_row(formDivn.Marque, {'attr':{'class':'mx-auto form-control--dep'},
														'label_attr': {'class': 'text-uppercase resultat-estimation-p'}})}}
												</div>
											</div>
											<div class="col-md-6 mx-auto search-box">
												<button type="submit" class="btn-calcuer btn btn-blue">CALCULER <i class="icomoon icon-right-arrow"></i></button>
											</div>
										{{ form_end(formDivn)}}
									</div>
									<div id="formDC" style="display:none;">
										<div class="d-flex justify-content-start">
											<div onclick="$('#formulaire_demarche').val('1').change();" id='backButton' class='back-retour'><i class="icomoon icon-right-arrow"></i> Retour</div>
										</div>
										<div class="title_dermarche text-center">
											<h3>Téléchargez le formulaire
												<br>CERFA n° 15776*01</h3>
										</div>
										<div class="title_dermarche text-center">
											<p>
												Le formulaire CERFA n° 15776*01 doit être rempli par le vendeur et signé par l'acheteur. Ce dernier est nécessaire au nouveau détenteur du véhicule pour l'immatriculer (carte grise) à son nom.
											</p>
										</div>
										<div class="title_dermarche text-center"> 
											<p><strong>(à remplir par l’ancien propriétaire et le nouveau proprietaire)</strong></p>
											<div class="col-md-6 mx-auto search-box">
												<a href="/../download/cgofficiel_cerfa-15776-01.pdf" target="blank">
													<button type="submit" class="btn-calcuer btn btn-blue">{{ "Télécharger" | upper}} <i class="icon-pdf"></i></button>
												</a>
											</div>
										</div>
									</div>
									{% else %}
									<a href="{{ path('formulaire')}}">Formulaire</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
