{% form_theme form with [
    'forms/my_custom_theme.html.twig'
] %}
<hr>
{% if demande.statusDoc != constant('App\\Entity\\Demande::DOC_VALID') and demande.statusDoc != constant('App\\Entity\\Demande::DOC_RECEIVE_VALID') %}
    {{ form_start(form, {'attr':{'id':'form-dossier'}}) }}
        <div class="row justify-content-center">
            {% for col in form %}
                {% if col.vars.type is defined and col.vars.type == 'file' %}
                <div class="col-md-6 col-lg-4 col-xl-3 text-center">
                    <div class="group-input">
                        <div class="group-input-item">
                            <div class="group-input-item_">
                                <div class="titre_file_">
                                    <h4>{{ form_label(col)}}</h4>
                                </div>
                                <div>{{ form_errors(col) }}</div>
                                <div class="custom-flex">
                                    <div class="row">
                                        <div class="col-9 pr-0">{{ form_widget(col) }}</div>
                                        <div class="col-3">
                                            {% if checkFile(files, col.vars.name) != "" %}
                                                <a href="{{ asset(checkFile(files, col.vars.name)) }}" class="btn-bown" target="_blank"><i class="far fa-eye"></i></a>
                                            {% else %}
                                                <button onclick="$('#form-dossier').submit();" type="button" class="btn-bown"><i class="fas fa-save" title="Download"></i></span></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {# don't touch this #}
        <div class="" style="display: none;">
            <input type="checkbox" name="validate" id="validate" style="display: none;" class="hidden">
        </div>
        {# end don't touch this #}
        <div class="text-center">
            {{ form_rest(form)}}
        </div>
    {{ form_end(form)}}
{% else %}
    <div class="row justify-content-center">
    {% for col in form %}
        {% if col.vars.type is defined and col.vars.type == 'file' %}
            <div class="col-md-6 col-lg-4 col-xl-3 text-center">
                <div class="group-input blue">
                    <div class="group-input-item">
                        <div class="group-input-item_">
                            <div class="titre_file_">
                                <h4>{{ form_label(col) }}
                                    {% if checkFile(files, col.vars.name) != "" %}
                                    <small>
                                        <a href="{{ asset(checkFile(files, col.vars.name)) }}"
                                            target="_blank">{{ form.vars.value.getRealFileName(col.vars.name) }}</a>
                                    </small>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}