{% extends 'base.html.twig' %}

{% block title %}TESTSOAP{% endblock %}

{% block body %}
	<div class="col-12 commander-firstview">
		<div class="row col-11 mx-auto">
			<div class="col-12" id="demarche"></div>

{% if is_granted("IS_AUTHENTICATED_FULLY") %}

    {% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
	<script>
		function datashow2() {
                $.ajax({
                    url: "incphp/formCTVO.php",
                    method: "POST",
                    type: "POST",
                    //async: false,
                    data: {currentid: {{ app.user.id}}, currentnom: '{{client.ClientNom}}', currentprenom : '{{client.ClientPrenom}}', currentgenre : '{{genre}}', currentdaten: '{{ client.ClientDateNaissance| date("Y-m-d")}}', currentlieun: '{{ client.ClientLieuNaissance }}' },
                    success: function (data) {
                        $("#demarche").html(data);


                    }
                });
            };
            
            datashow2();

	</script>

    {% endblock %}
	


{% endif %}

        </div>
    </div>
{% endblock %}