{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% form_theme form 'demande/demande_custom_theme.html.twig'%}



{% block stylesheets %} 
{{ parent()}}
<link href="/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('build/style.css') }}" />
<link href="{{asset('Utils/jquerySteps/css/jquery.steps.css')}}" rel="stylesheet">
<link href="{{asset('Utils/jquerySteps/css/main.css')}}" rel="stylesheet">
<link href="{{asset('Utils/jquerySteps/css/normalize.css')}}" rel="stylesheet">
 {% endblock %}



{% block sonata_admin_content %}
<div class="rp_dmd">
    <div class="container">
        <div class="row">
             <div class="col-12 commander-firstview mt-4 custom-form">
                <h2 class="text-center mb-4 full-mobile">{{ commande.demarche.nom|upper }}</h2>
                <hr>
                <div class="resultat-estimation mb-5 full-mobile">{% include "demande/caracteristicVehicle.html.twig" %}</div>
                <hr>
                 {{ form_start(form, {'attr': {'id': 'example-advanced-form'}}) }}
                    <h3>Etape</h3>
                    <section style="position: relative;width: 100%;">
                        <div class="row">
                            <div class="col-md-5">
                                <legend>{{ form_label(form.divn.acquerreur) }}</legend>
                                <div class="titulaire">
                                    {{ form_row(form.divn.acquerreur.type)}}
                                    {{ form_row(form.divn.acquerreur.raisonSociale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.divn.acquerreur.siren, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.divn.acquerreur.societeCommerciale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                    {{ form_row(form.divn.acquerreur.nomPrenomTitulaire)}}
                                    {{ form_row(form.divn.acquerreur.prenomTitulaire)}}
                                    {{ form_row(form.divn.acquerreur.genre)}}
                                    {{ form_row(form.divn.acquerreur.dateN)}}
                                    {{ form_row(form.divn.acquerreur.lieuN)}}
                                    {#{{ form_row(form.divn.acquerreur.departementN)}}
                                    {{ form_row(form.divn.acquerreur.paysN)}}#}
                                    {{ form_row(form.divn.acquerreur.droitOpposition)}}
                                </div>
                            </div>
                            <div class="col-md-2 d-none d-lg-block"><div class="col-sep d-flex align-items-center justify-content-center"><span></span></div></div>
                            <div class="col-md-5">
                                <legend>{{ form_label(form.divn.acquerreur.adresseNewTitulaire) }}</legend>
                                {% for addresseNewTitulaire in form.divn.acquerreur.adresseNewTitulaire %}
                                    <div class="form-group">
                                        {{ form_label(addresseNewTitulaire)}}
                                        {{ form_errors(addresseNewTitulaire)}}
                                        {{ form_widget(addresseNewTitulaire, {'attr': {'class': ''}})}}
                                    </div>
                                {% endfor %} 
                            </div>
                        </div>
                        <legend>{{ form_label(form.divn.cotitulaire) }}</legend>
                        <ul class="tags" data-prototype="{{ form_widget(form.divn.cotitulaire.vars.prototype)|e('html_attr') }}">
                            {% for tag in form.divn.cotitulaire %}
                                {% if loop.index < 5 %}
                                <li>
                                    {{ form_label(tag.vars.prototype)|e  }}
                                    {{ form_errors(tag.vars.prototype)|e  }}
                                    {{ form_widget(tag.vars.prototype, {'attr': {'class': ''}})|e  }}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul> 
                    </section>

                    <h3>Etape</h3>
                    <section style="position: relative;width: 100%;">
                            <div class="row">
                                <div class="col-md-5">
                                    <legend>{{ form_label(form.divn.vehicule) }}</legend>
                                    <div class="form-info">
                                        {{ form_row(form.divn.vehicule.vin)}}
                                        {{ form_row(form.divn.vehicule.d1Marque)}}
                                        {{ form_row(form.divn.vehicule.d2Version)}}
                                        {{ form_row(form.divn.vehicule.z1Mention1)}}
                                        {{ form_row(form.divn.vehicule.z1Value)}}    
                                        {{ form_row(form.divn.vehicule.g1PoidsVide)}}
                                        {{ form_row(form.divn.vehicule.f2MmaxTechAdm)}}
                                        {{ form_row(form.divn.vehicule.gMmaxAvecAttelage)}}
                                        {{ form_row(form.divn.vehicule.f2MmaxAdmServ)}} 
                                        {{ form_row(form.divn.vehicule.derivVp)}}
                                        {{ form_row(form.divn.vehicule.j3Carrosserie)}}
                                        {{ form_row(form.divn.vehicule.s1NbPlaceAssise)}}
                                        {{ form_row(form.divn.vehicule.j1Genre)}}
                                        <div class="form-vehicule">            
                                            {{ form_row(form.divn.vehicule.type)}}
                                            {{ form_row(form.divn.vehicule.kNumRecepCe)}}
                                            {{ form_row(form.divn.vehicule.dateReception)}}
                                            {{ form_row(form.divn.vehicule.d21Cenit)}}
                                            {{ form_row(form.divn.vehicule.d3Denomination, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.f3MmaxAdmEns, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.jCategorieCe, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.j2CarrosserieCe, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.p1Cyl, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.p2PuissKw, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.p3Energie, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.p6PuissFiscale, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.qRapportPuissMasse, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.s2NbPlaceDebout, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.u1NiveauSonore, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.u2NbTours, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.v7Co2, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                            {{ form_row(form.divn.vehicule.v9ClasseEnvCe, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 d-none d-lg-block"><div class="col-sep d-flex align-items-center justify-content-center"><span></span></div></div>
                                <div class="col-md-5">
                                    <legend>{{ form_label(form.divn.carrosier) }}</legend>
                                    <div class="carrossier">
                                        {{ form_row(form.divn.carrosier.typeCarrossier)}}
                                        {{ form_row(form.divn.carrosier.raisonSocialCarrossier, {'attr': {'data-row-style': 'display:none !important;'} })}}
                                        {{ form_row(form.divn.carrosier.nomCarrosssier)}}
                                        {{ form_row(form.divn.carrosier.prenomCarrossier)}}
                                    </div>
                                        {{ form_row(form.divn.carrosier.agrement)}}
                                        {{ form_row(form.divn.carrosier.justificatifs)}}
                                    <legend>{{ form_label(form.divn.caracteristiqueTechniquePart) }}</legend>
                                    <div id="caract" data-prototype="{{ form_widget(form.divn.caracteristiqueTechniquePart.vars.prototype)|e('html_attr') }}">
                                        {% for row in form.divn.cotitulaire %}
                                            {% if loop.index < 3 %}
                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                </div>
                                                <div class="panel-body">
                                                    {{ form_label(row.vars.prototype)|e  }}
                                                    {{ form_errors(row.vars.prototype)|e  }}
                                                    {{ form_widget(row.vars.prototype, {'attr': {'class': ''}})|e  }}
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </section>

                    <h3>Etape</h3>
                    <section style="position: relative;width: 100%;">
                        <legend>Récapitulatif des informations liées à la demande</legend>
                        <div id="resum"></div>
                        <div style="display:none;">
                            {{form_rest(form)}}
                        </div>
                    </section>

                    {# <h3>Etape</h3>
                    <section style="position: relative;width: 100%;">
                    </section> #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="pl-4 mb-3 mb-md-0">
        <a href="{{app.request.headers.get('referer')}}" class="back-retour">
            <i class="fa fa-arrow-left"></i> Retour à la liste des documents
        </a>
    </div>
</div>

{% endblock %}
{% block javascripts %} 
<script src="{{ asset('Utils/js/jquery.js')}}" crossorigin="anonymous"></script>
<script src="{{ asset('Utils/js/jqueryUi.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/jquery.steps.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/jqueryValidate.js')}}"></script>
<script src="{{asset('Utils/jquerySteps/js/divn.js')}}"></script>
<script type="application/javascript">
    var $collection;
    var $addNewItems = $('<center><button type="button" class="btn btn-outline-info">Ajouter caractéristique</button></center>');
    var $newLink = $('<p></p>').append($addNewItems);
    jQuery(document).ready(function(){
        $collection = $('#caract');
        $collection.append($addNewItems);
        $collection.data('index',$collection.find('.panel').length);
        $collection.find('.panel').each(function() {
            addRemoveButton($(this));
        });
        $addNewItems.click(function(){
            addNewForm($collection, $addNewItems);
        });
    });

    function addNewForm($collection, $addNewItems){
        var protoType = $collection.data('prototype');
        var index = $collection.data('index');
        var newForm = protoType;
        newForm = newForm.replace(/__name__/g, index);
        $collection.data('index', index + 1);
        var $panel = $('<div class="panel panel-warning"><div class="panel-heading"></div></div>');
        var $panelBody = $('<div class="panel-body"></div>').append(newForm);
        $panel.append($panelBody);
        addRemoveButton($panel);
        $addNewItems.before($panel);
    }

    function addRemoveButton($panel) {
        var $removeButton = $('<center><button type="button" class="btn btn-outline-danger btn-md">Effacer caractéristique</button></center><br>');
        var $panelFooter = $('<div class="panel-footer"></div>').append($removeButton);
        $panel.append($panelFooter);

        $removeButton.click(function(e){
            $panel.remove();
        });
    }
</script>
<script type="application/javascript">
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<center><button type="button" class="add_tag_link btn btn-outline-primary btn-md">Ajouter cotitulaire</button></center>');
    var $newLinkLi = $('<p></p>').append($addTagButton);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.tags');
        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
    
        // get the new index
        var index = $collectionHolder.data('index');
    
        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);
    
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);
    
        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);
    
        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<p></p>').append(newForm);
        addTagFormDeleteLink($newFormLi);
        $newLinkLi.before($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormButton = $('<center><button type="button" class="btn btn-outline-danger btn-md">Supprimer ce cotitulaire</button></center>');
        $tagFormLi.append($removeFormButton);
    
        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
<script type="text/javascript">

    $(document).ready(
        function(){
            initFormStep(
                $("#example-advanced-form"),
                "h3",
                "section",
                "fade"
            );
        }
    );

    $(document).ready(
        function(){
            showElement(
                $('.choice-type-carrossier')
            );
            showElement(
                $('.choice-type-personne')
            );
            showElement(
                $('.choice-type-reception')
            );
        }
    );

    $(document).ready(
        function(){
            datePickerFunction(
                $('.js-datepicker')
            );
        }
    );

</script>
</script>   
<script src="{{ asset('asset/libs/js/jquery.sticky.js') }}" type="text/javascript"></script>
<script src="{{ asset('javascripts/home.js') }}"></script> 
{% endblock %}