{# templates/bundles/TwigBundle/Exception/error404.html.twig
{% extends 'base.html.twig' %}

{% block page_content %}
<div>
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        
        <p>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
            <br>
            La page demandée n'a pas pu être localisée
            <br><a href="{{ path('Accueil') }}">retour à l'accueil</a>.
        </p>
</div>
{% endblock %} #}

{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block class %}body-erreur{% endblock %}
{% block page_content %}
<div class="erreur-block">
    <div class="error-container">
        <div class="erreur">500</div>
        <h1 class="text-center">{{"Une erreur s'est produite" | upper}}.</h1>
        <p class="desc-error">
            {# Quelque chose est cassé. S'il vous plaît laissez-nous savoir ce que vous faisiez. Désolé pour tout inconvénient causé. #}
            Nous ne trouvons pas la plaque d'immatriculation que vous avez rentré, merci de vérifier les informations que vous avez rentré, ou contactez notre service client.
            {# Vous pouvez <a href="{{ path('contact') }}">nous contacter</a> et nous pouvons vous aider! #}
        </p>
        <p>
            <a href="{{ path('contact') }}" class="btn link-connexion-register">{{"Service Client" | upper}} <i class="fas fa-angle-double-right"></i></a>
            <a class="btn btn-erreur" href="{{ path('Accueil') }}">{{"Retour à la page d'accueil" | upper}}</a>
        </p>
    </div>
</div>
{% endblock %}