
<h3 class="text-center title-client">ESPACE CLIENT</h3>
<div class="nav-client mt-5">
    <ul class="d-flex align-items-center">
        <li><a href="{{ path('espace_client') }}" class="nav-client-item home-item"><img src="{{ asset('asset/img/home-espace-client.png')}}" alt="home espace client"></a></li>
        <li><a href="{{ path('demande_history') }}" class="nav-client-item">Historique</a></li>
        <li><a href="{{ path('email_history') }}" class="nav-client-item">Mails réçus</a></li>
        <li><a href="{{ path('compte') }}" class="nav-client-item">Mes infos</a></li>
    </ul>
</div>