<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<body>
  <div class="container">
  <div class="invoice">
    <div class="row">
      <div class="col-7">
        <img src="{{ asset('asset/img/logo-CGofficiel-carte-grise-certificat-immatriculation.png')}}" class="logo">
      </div>
      <div class="col-5">
        <h1 class="document-type display-4">FACTURE</h1>
        <p class="text-right"><strong>N°{{demande.dateDemande | date('Ymd')}}-{{demande.commande.demarche.type}}/{{demande.id}}{{demande.transaction.id}}</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <p>
          <strong>
            {{ app.user.client.clientGenre }} 
            {{ app.user.client.clientPrenom }} 
            {{ app.user.client.clientNom | upper}}
          </strong>
          <br>
            {{ app.user.client.clientAdresse.numero }} 
            {{ app.user.client.clientAdresse.nom }} 
            {{ app.user.client.clientAdresse.complement }} 
            {{ app.user.client.clientAdresse.extension }} 
          <br>
            {{ app.user.client.clientAdresse.codePostal }} 
            {{ app.user.client.clientAdresse.ville | upper }} 
        </p>
      </div>
      <div class="col-5">
        <br><br><br>
				<p>
          <strong>CG Officiel</strong><br>
          20 Impasse Camille Langlade, <br>
          31000 Toulouse
        </p>
      </div>
    </div>
    <br>
    <br>
    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>N° de facture</th>
          <th>Date</th>
          <th>Ref client</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{demande.dateDemande | date('Ymd')}}-{{demande.commande.demarche.type}}/{{demande.id}}{{demande.transaction.id}}</td>
          <td>{{demande.dateDemande | date('d/m/Y')}}</td>
          <td>{{demande.transaction.transactionId}}</td>
        </tr>
      </tbody>
    </table>

		<table class="table table-striped">
      <thead>
        <tr>
          <th>Libellé</th>
          <th>Frais HT</th>
          <th>Montant HT</th>
          <th>TVA</th>
          <th>Montant TTC</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ demande.commande.demarche.nom }}</td>
          <td>{{ fraisTotalTraitement(demande.commande) }} €</td>
          <td>{{ demande.commande.taxes.taxeTotale }} €</td>
          <td>{{tvaFraisTotalTraitement(demande.commande)}} €</td>
          <td>{{total}} €</td>

        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
        <table class="table table-sm text-right">
          <tr>
            <td><strong>Total HT</strong></td>
            <td class="text-right">{{ fraisTotal(demande.commande) }} €</td>
          </tr>
          <tr>
            <td>TVA 20%</td>
            <td class="text-right">{{tvaFraisTotalTraitement(demande.commande)}} €</td>
          </tr>
          <tr>
            <td><strong>Total TTC</strong></td>
            <td class="text-right">{{total}} €</td>
          </tr>
        </table>
      </div>
    </div>

    <p class="conditions">
      En votre aimable règlement
      <br>
      Et avec nos remerciements.
      <br><br>
      Conditions de paiement : paiement à réception de facture, à 15 jours.
      <br>
      Aucun escompte consenti pour règlement anticipé.
      <br>
      Règlement par virement bancaire.
      <br><br>
      En cas de retard de paiement, indemnité forfaitaire pour frais de recouvrement : 40 euros (art. L.4413 et L.4416 code du commerce).
    </p>

    <hr>
    <p class="bottom-page text-right">
      CG Officiel - N° SIRET 99999999999 Toulouse<br>
			20 Impasse Camille Langlade,31000 Toulouse 05 61 51 69 222 - www.cgofficiel.fr<br>
      IBAN FR31 9999 9999 9999 9999 9999 9999 - SWIFT CCBPFRPPMTZ
    </p>
  </div>
</div>
{% if lien is defined %}
{{ lien|raw }}
{% endif %}
</body>
</html>

