<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Facture N°{{commande.facture.numeroFactureValue }}</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ pathToWeb ~ asset('css/style.css') }}">
  <style type="text/css">
    .logo-facture{
      width:100px;
    }
    body{
      font-family:Roboto;
      font-size: 14px;
    }
    .foot{
      <!-- 
        position:absolute;
        top: 120%; 
      -->
    }
    h1{
      font-size: 30px;
    }
  </style>
</head>

<body>
  {% if commande.transaction is not null %}
    {% set currentTransaction = commande.transaction %}
  {% else %}
    {% set currentTransaction = commande.demande.transaction %}
  {% endif %}
  <br>
  <br>
  <br>
  <div class="container">
  <div class="invoice">
    <div class="row">
      <div class="col-7">
        <img src="{{  pathToWeb ~ asset('asset/img/logo.png')}}" class="logo-facture">
      </div>
      <div class="col-5">
        <h1>FACTURE</h1>
        <p><strong>N°{{ commande.facture.getNumeroFactureValue }}</strong></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-7">
				<p>
          <strong>CG Officiel</strong><br>
          20 Impasse Camille Langlade, <br>
          31000 TOULOUSE
        </p>        
      </div>
      <div class="col-5">
        <p>
          <strong>
          {% if commande.facture.typePerson == 1 %}
            Société {{commande.facture.socialReason}}
          {% else %}
            {{commande.facture.name}} {{commande.facture.firstName}}
          {% endif %}
          </strong>
          <br>
            {{ commande.facture.adresse.numero }} 
            {{ commande.facture.adresse.extension }} 
            {{ commande.facture.adresse.typevoie | displayAdress}} 
            {{ commande.facture.adresse.nom | upper }} 
            {{ commande.facture.adresse.complement }} 
          <br> 
            {{ commande.facture.adresse.codePostal }} 
            {{ commande.facture.adresse.ville | upper }}
        </p>
      </div>
    </div>
    <br>
    <br>

    <table class="table table-bordered table-sm">
      <thead class="table-active">
        <tr>
          <th>N° de facture</th>
          <th class="text-center">Date</th>
          <th class="text-center">Ref client</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{commande.facture.getNumeroFactureValue }}</td>
          <td class="text-center">{{commande.transaction.createAt | date('d/m/Y')}}</td>
          <td class="text-center">{{commande.transaction.transactionId}}</td>
        </tr>
      </tbody>
    </table>
    <br>
		<table class="table table-bordered table-sm">
      <thead class="table-active">
        <tr>
          <th>Produit</th>
          <th class="text-center">Prix HT</th>
          <th class="text-center">Taux TVA</th>
          <th class="text-center">TVA</th>
          <th class="text-center">Prix TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Taxes fiscales carte grise </strong>
            <br>Démarche : {{commande.demarche.nom}} 
            <br>Département de résidence : {{commande.codePostal}} 
            <br>Numéro d'immatriculation : {{commande.immatriculation}} 
            <br>VIN : {{commande.taxes.VIN}} 
            <br>Modèle : {{commande.carInfo.model}} 
            <br>Marque : {{commande.carInfo.marque}} 
            <br>Département plaque : {{commande.codePostal}} 
        </td>
          <td class="text-center"><strong>{{(commande.taxes.taxeTotale)|number_format(2, '.', ',') }} €</strong></td>
          <td class="text-center">0%</td>
          <td class="text-center"><strong>0,00 €</strong></td>
          <td class="text-center"><strong>{{(commande.taxes.taxeTotale)|number_format(2, '.', ',') }} €</strong></td>
        </tr>
        <tr>
          <td><strong>Frais de dossier</strong></td>
          <td class="text-center"><strong>{{(fraisdossierWithoutTva(commande))|number_format(2, '.', ',') }} €</strong></td>
          <td class="text-center">{{ tvaCommande(commande) }}</td>
          <td class="text-center"><strong>{{(tvaTraitement(commande))|number_format(2, '.', ',') }} €</strong></td>
          <td class="text-center"><strong>{{(fraisTraitementWhithTva(commande))|number_format(2, '.', ',') }} €</strong></td>
        </tr>
        {% if commande.systempayTransaction.multiple is not null and commande.systempayTransaction.multiple > 0 %}
        <tr>
          <td><strong>Frais gestion paiement plusieurs fois</strong></td>
          <td class="text-center"><strong>{{(fraisdossierWithoutTvaMultiple(commande))|number_format(2, '.', ',') }}
              €</strong>
          </td>
          <td class="text-center">{{ tvaCommande(commande) }}</td>
          <td class="text-center"><strong>{{(tvaTraitementMultiple(commande))|number_format(2, '.', ',') }} €</strong>
          </td>
          <td class="text-center"><strong>{{(totalMultiple(commande))|number_format(2, '.', ',') }} €</strong>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <br>
    <div class="row">
      <div class="col-7">
        <p>Votre demande sera validée une fois que nous aurons reçu vos documents par courrier</p>
        <p> Merci d’avoir fait confiance à CG Officiel </p>
      </div>
      <div class="col-5">
        <table class="table table-md text-right table-active">
            <tr>
              <td><strong>Total HT : </strong></td>
              <td class="text-right"><strong>{{(fraisTotalHTMultipleResult(commande)|number_format(2, '.', ','))}} €</strong></td>
            </tr>
            <tr>
              <td><strong>Base HT pour TVA :</strong></td>
              <td class="text-right"><strong>{{(fraisdossierWithoutTvaMultipleResult(commande)|number_format(2, '.', ','))}} €</strong></td>
            </tr>
          <tr>
            <td><strong>TVA {{ tvaCommande(commande) }} :</strong></td>
            <td class="text-right bg"><strong>{{(tvaTraitement(commande)|number_format(2, '.', ',') )}} €</strong></td>
          </tr>
          <tr class="table-active">
            <td><strong>Total TTC :</strong></td>
            <td class="text-right"><strong>{{(totalMultipleResult(commande))|number_format(2, '.', ',') }} €</strong></td>
          </tr>
        </table>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-12 foot">
      <hr>
      <p class="bottom-page text-right">
        <small>
            CG Officiel - N° SIRET 83897291700010 Toulouse<br>
            20 Impasse Camille Langlade, 31000 Toulouse 09 77 42 31 20 - www.cgofficiel.fr<br>
            IBAN FR76 3000 4003 3900 0102 24 95 637 - SWIFT CCBPFRPPMTZ
        </small>      
      </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>