<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Facture N°{{demande.dateDemande | date('Ymd')}}-{{demande.commande.demarche.type}}/{{demande.id}}{{demande.transaction.id}}</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{{ pathToWeb ~ asset('css/style.css') }}">
</head>

<body>
  <div class="container">
  <div class="invoice">
    <div class="row">
      <div class="col-7">
        <img src="{{  pathToWeb ~ asset('asset/img/logo-CGofficiel-carte-grise-certificat-immatriculation.png')}}" class="logo">
      </div>
      <div class="col-5">
        <h1 class="document-type display-4">FACTURE</h1>
        <br>
        <br>
        <p><strong>N°{{demande.dateDemande | date('Ymd')}}-{{demande.commande.demarche.type}}/{{demande.id}}</strong></p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-7">
        <p>
          <strong>
            {{ app.user.client.clientGenre }} 
            {{ app.user.client.clientPrenom }} 
            {{ app.user.client.clientNom | upper}}
          </strong>
          <br>
            {{ app.user.client.clientAdresse.numero }} 
            {{ app.user.client.clientAdresse.nom }} 
            {{ app.user.client.clientAdresse.complement }} 
            {{ app.user.client.clientAdresse.extension }} 
          <br>
            {{ app.user.client.clientAdresse.codePostal }} 
            {{ app.user.client.clientAdresse.ville | upper }} 
        </p>
      </div>
      <div class="col-5">
        <br>
        <br>
        <br>
				<p>
          <strong>CG Officiel</strong><br>
          20 Impasse Camille Langlade, <br>
          31000 Toulouse
        </p>
      </div>
    </div>
    <br>
    <br>

    <table class="table table-bordered table-sm">
      <thead class="table-active">
        <tr>
          <th>N° de facture</th>
          <th class="text-center">Date</th>
          <th class="text-center">Ref client</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{demande.dateDemande | date('Ymd')}}-{{demande.commande.demarche.type}}/{{demande.id}}{{demande.transaction.id}}</td>
          <td class="text-center">{{demande.dateDemande | date('d/m/Y')}}</td>
          <td class="text-center">{{demande.transaction.transactionId}}</td>
        </tr>
      </tbody>
    </table>
    <br>
		<table class="table table-bordered table-sm">
      <thead class="table-active">
        <tr>
          <th>Libellé</th>
          <th class="text-center">Montant HT</th>
          <th class="text-center">TVA</th>
          <th class="text-center">Montant TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{demande.commande.demarche.nom}} <strong><small>(1)</small></strong></td>
          <td></td>
          <td></td>
          <td class="text-center">{{demande.commande.taxes.taxeTotale}} €</td>
        </tr>
        <tr>
          <td>Frais de dossier <strong><small>(2)</small></strong></td>
          <td class="text-center">{{fraisTotalTraitement(demande.commande)}} €</td>
          <td class="text-center">{{tvaTraitement(demande.commande)}} €</td>
          <td class="text-center">{{fraisTraitementWhithTva(demande.commande)}} €</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total TTC</strong></td>
          <td></td>
          <td></td>
          <td class="text-center"><strong>{{total(demande.commande)}} €</strong></td>
        </tr>
      </tfoot>
    </table>
    <p>
      <small>(1) Non soumis TVA <br>
      (2) Soumis TVA 20%</small>
    </p>
    <br>
    <br>

    <p class="conditions">
      En votre aimable règlement
      <br>
      Et avec nos remerciements.
      <br><br>
      Conditions de paiement : paiement à réception de facture, à 15 jours.
      <br>
      Aucun escompte consenti pour règlement anticipé.
      <br>
      Règlement par virement bancaire.
      <br><br>
      En cas de retard de paiement, indemnité forfaitaire pour frais de recouvrement : 40 euros (art. L.4413 et L.4416 code du commerce).
    </p>

    <hr>
    <p class="bottom-page text-right">
      <small>
          CG Officiel - N° SIRET 99999999999 Toulouse<br>
          20 Impasse Camille Langlade,31000 Toulouse 05 61 51 69 222 - www.cgofficiel.fr<br>
          IBAN FR31 9999 9999 9999 9999 9999 9999 - SWIFT CCBPFRPPMTZ
      </small>      
    </p>
  </div>
</div>
</body>
</html>