{% extends 'base.html.twig' %}

{% block title %}Paiement {% endblock %}

{% block page_content %}
{% if commande is defined %}
{% set taxe = commande.taxes %}
{% endif %}
<div class="rp_dmd">
    <div class="container">

        <div class="systempay col-12">
            <h4>CHOISISSEZ VOTRE MODE DE PAIEMENT</h4>
            <ul>
                <li class="mb-3">
                    <div class="txt">Paiement en une fois</div>
                    <span class="line"></span>
                    <a data-href="{{path('pay_online', {'commande': commande.id})}}" class="btn-payment btn btn-lg btn-outline-info">Sélectionner</a>
                </li>
                {% if constant('App\\Entity\\Systempay\\Transaction::MULTI_PROPOSE_UP') < (amount / 100) %}
                    <li class="mb-3">
                        <div class="txt">Paiement en 3 fois<span>( &asymp; {{ (amount3fois / 3) | round(2, 'common') }} x 3 soit {{ amount3fois }})</span></div>
                        <span class="line"></span>
                        <a data-href="{{path('pay_online', {'commande': commande.id, 'multiple': 3})}}" class="btn-payment btn btn-lg btn-outline-info">Sélectionner</a>
                    </li>
                    <li class="mb-3">
                        <div class="txt">Paiement en 4 fois<span>(&asymp; {{ (amount4fois / 4) | round(2, 'common') }} x 4 soit {{ amount3fois }})</span></div>
                        <span class="line"></span>
                        <a data-href="{{path('pay_online', {'commande': commande.id, 'multiple': 4})}}" class="btn-payment btn btn-lg btn-outline-info">Sélectionner</a>
                    </li>
                {% endif %}
            </ul>
            <div class="btn btn-lg btn-outline-info btn-payment-submit">Payer</div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-lg-12 resultat-estimation mx-auto">
                <h2 class="col-12 text-center">Récapitulatif de la demande</h2>
                <div class="row recap-demande-wrapper  pt-5 pb-5">
                    <div class="col-10 mx-auto">
                        <h2 class="col-12 mb-0 row mx-0"></h2>
                        {{ include('commande/_resum_recap_demande.html.twig') }}
                    </div>
                </div>

                <div class="col-md-12 px-0 col-lg-12 mx-auto d-flex my-flex-container">
                    <div class="col-12 px-0 row">
                        <div class="col-6 mx-auto">
                            <h2 class="mb-4">CARACTÉRISTIQUES DU VÉHICULE</h2>
                            {{ include('commande/_resum_caracteristics_car.html.twig') }}
                        </div>
                        <div class="col-6 mx-auto">
                            <h2 class="mb-4">DÉTAIL DES TAXES</h2>
                            {{ include('commande/_resum_taxe_car.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btn-payment').on('click',function(){
                let parent = $(this).parent('li.mb-3');
                parent.siblings('li.mb-3').removeClass('active');
                parent.addClass('active');
            });
            $('.btn-payment-submit').click(function () {
                let active = $('li.mb-3.active');
                if (active.length !== 1) {
                    alert('veuillez selectioner le type de paiement');
                } else if (active.length === 1) {
                    let link = active.find('a.btn-payment');
                    let url = link.data('href');
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock %}
