<div class="row">
	<div id="cadre" class="col-11  mx-auto">
		<div class="col-12 mx-auto home-texte home-texte1 mb-5 ">
			<h3>
			Avec CG Officiel, obtenez rapidement et facilement votre Certificat d'immatriculation / carte grise</h3>
		<div>
			<p>Effectuer une demande de certificat d’immatriculation (carte grise) en ligne est désormais chose simple grâce à notre service d’immatriculation des véhicules en ligne.</p>
			<p>Simplifiez-vous donc la vie ; Il n’est plus nécessaire de se déplacer pour obtenir un nouveau certificat d’immatriculation (carte grise). <a href="#" class="link-hp-texte"> Obtenez rapidement votre carte grise</a>, tout en économisant du temps pour vos démarches ; nous réceptionnons vos documents via notre service d’immatriculation de carte grise en ligne, accessible à l’adresse
				<a href="#" class="link-hp-texte">www.cgofficiel.fr</a>.
			</p>
			<p>
				<strong>Tout dossier complet sera traité dans les 24 heures</strong>
			</p>
			<p>Dès réception de votre nouvelle carte grise, pensez à vous procurer sur le site officiel du Certificat qualité de l'air, une
				<strong><a href="http://www.certificat-air.gouv.fr" target="_blank">vignette Crit'Air</a></strong>, l'autocollant sécurisé obligatoire dans certaines grandes villes de France.</p>
		</div>
	</div>
</div>
<div class="dual-hp-container d-flex col-11  mx-auto">
	<div class="dual-hp-left">
		<div id="cadre2" class="col-12 home-back mx-auto home-texte">
			<h3>Démarche Simplifiée :</h3>
			<ol class="col-12" style="margin-left:10px !important">
				<li>
					<span class="li-texte3">Créez votre compte
					</span>
				</li>
				<li>
					<span class="li-texte3">
					</span>
					Renseignez votre plaque d’immatriculation et les informations nécessaires à l’établissement du certificat d’immatriculation (carte grise) pour votre véhicule et validez votre commande en procédant au règlement.</li>
				<li>
					<span class="li-texte3">
					</span>Envoyez vos documents et dès réception de votre dossier complet, votre commande sera traitée dans les 24h.</li>
			</ol>

			{# <div class="col-12 row home-texte2">
				<div class="col-12 mx-auto home-texte2--titre">
					<p>1. Créez votre compte</p>
					<p>2. Renseignez votre plaque d’immatriculation et les informations nécessaires à l’établissement du certificat d’immatriculation (carte grise) pour votre véhicule et validez votre commande en procédant au règlement</p>
					<p>3. Envoyez vos documents et dès réception de votre dossier complet, votre commande sera traitée dans les 24h</p>
				</div>
			</div> #}
		</div>
		<div id="cadre3" class="col-12 col-md-12 mx-auto">
			<div class="home-texte">
				<h3>Les avantages de CG Officiel</h3>
				<ol class="col-12" style="margin-left:10px !important">
					<li>
						<span class="li-texte3">Gagnez du temps :
						</span>
						simplifiez vos démarches en accédant au service d'immatriculation de véhicules en ligne de CG Officiel. Économisez du temps et de l’argent sur vos frais de
						déplacement et stationnement.</li>
					<li>
						<span class="li-texte3">Simplicité :
						</span>fini les files d’attente et le parcours du combattant en préfecture ; grâce au service de demande de certificat d’immatriculation (carte grise) de CG Officiel, vous effectuez vos démarches et passez commande depuis votre domicile.</li>
					<li>
						<span class="li-texte3">Livraison rapide :
						</span>recevez rapidement votre certificat d’immatriculation (carte grise) directement à l’adresse de votre domicile.</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="dual-hp-right">
		<div class="bloc-txt-sidebar mt-4 text-center">
			{% if formulaire is defined %}
				{{ form_start(formulaire)}}
				<div class="demarche">
				{{ form_row(formulaire.demarche, {
					'attr':{
						'class': 'col-12 form-control-plaque '
					},
					'label_attr': {
						'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
					})
				}}
				{{ form_row(formulaire.immatriculation, {
					'attr':{
						'onkeyup':'this.value = this.value.toUpperCase()',
						'class': 'col-12 form-control-plaque ',
						'onblur': 'this.value = valueTreatement(this.value)',
						'maxlength': '9',
						'minlength': '5',
						'placeholder': 'BB-321-BB'
					},
					'label_attr': {
						'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
					}
						)}}
				{{ form_row(formulaire.codePostal, {
					'attr':{'maxlength':'3','minlength':'2', 'class':'col-12 mx-auto text-center form-control--dep'},
					'label_attr': {'class': 'col-12 text-center text-uppercase resultat-estimation-p'}
				}
				)}}
				</div>	
				<div class="col-12 col-md-6 mx-auto text-center search-box" id="calcul">
					<button type="submit" class="btn btn-primary btn-sm mx-auto">CALCULER</button>
				</div>
				{{ form_end(formulaire)}}
			{% else %}
			<a href="{{ path('formulaire')}}">Formulaire</a>
			{% endif %}
		</div>
		<div class="bloc-txt-sidebar mt-4">
			<p>Le certificat qualité de l’air est un autocollant rond qui s’achète auprès de <a href="http://www.certificat-air.gouv.fr" target="_blank">www.certificat-air.gouv.fr</a>. Il est délivré en fonction des émissions de CO2, émissions polluantes des véhicules. Il se présente sous forme d’autocollant rond à coller sur le parebrise. Il classe les véhicules et permet la circulation dans certaines villes lors de pics de pollution et est obligatoire dans certaines zones. Son coût est environ de 3,62 euros et est envoyé par voie postale. Certaines collectivités offrent des avantages aux véhicules affichant cet autocollant.</p>
		</div>
		<div class="bloc-txt-sidebar mt-4 text-center">
			<a href="{{ path('faq')}}">FAQ</a>
		</div>
	</div>
</div>
<div class="col-11  mx-auto home-texte d-flex">
	<div class="downloadCERFA hidden-md-down">
		<div class="downloadCERFA-element">
			<span>CERFA 13751*01</span>
			<img class="img-fluid" src="{{ asset('asset/img/cerfa/cerfa13751-01.jpg') }}">
			<a href="{{ asset('download/cgofficiel_cerfa-13751-01.pdf') }}" class="download-link" targer="_blank">Télécharger</a>
		</div>
		<div class="downloadCERFA-element">
			<span>CERFA 13757*03</span>
			<img class="img-fluid" src="{{ asset('asset/img/cerfa/cerfa13757-03.jpg') }}">
			<a href="{{ asset('download/cgofficiel_cerfa_13757-03.pdf') }}" targer="_blank" class="download-link" >Télécharger</a>
		</div>
		<div class="downloadCERFA-element">
			<span>CERFA 15776*01</span>
			<img class="img-fluid" src="{{ asset('asset/img/cerfa/cerfa15776-01.jpg') }}">
			<a href="{{ asset('download/cgofficiel_cerfa-15776-01.pdf') }}" class="download-link" targer="_blank">Télécharger</a>
		</div>
	</div>
	<div class="infoCERFA">
		<h3>Documents nécessaires pour une demande concernant un certificat d’immatriculation (carte grise):</h3>
		<h4>Pour un véhicule d’occasion</h4>
		<p>Les pièces nécessaires pour établir votre certificat d’immatriculation / carte grise sont :</p>
		<p>
			<strong>1- Demander un changement d’adresse :</strong> un justificatif de domicile(copie), une pièce d’identité en cours de validité (copie), 
			le certificat d’immatriculation /carte grise, et <a href="#" class="linkCERFA">le CERFA n°13750*05</a>, le mandat <a href="{{ asset('download/cgofficiel_cerfa_13757-03.pdf') }}" targer="_blank" class="linkCERFA">CERFA N° 13757*03</a>. 
			Pour les véhicules dont la plaque d’immatriculation est sous la forme 1234 AA 12, vous recevrez un nouveau certificat d’immatriculation ( carte grise).
			Pour les véhicules dont l’immatriculation se présente sous la forme AA 123 AA, vous recevrez une étiquette à coller sur votre certificat d’immatriculation (carte grise). Au bout du 4ème changement
			d’adresse pour un même véhicule, vous recevrez un nouveau certificat d’immatriculation (carte grise).
		</p>
		<p>Dans les 2 cas vous pouvez circuler pendant un mois dans l’attente de votre certificat d’immatriculation (carte grise) car le propriétaire d’un véhicule a un mois pour déclarer son changement d’adresse, passé ce délai il est susceptible d’encourir une contravention de 4ème classe.</p>
		<p>
			<strong>2- Demander un duplicata :</strong> un justificatif de domicile (copie), attestation assurance, déclaration de perte ou de vol <a href="#" class="linkCERFA">CERFA n° 13753*04</a> (original) , copie recto/verso de sa pièce
			d’identité, demande d’immatriculation <a href="{{ asset('download/cgofficiel_cerfa_13757-03.pdf') }}" targer="_blank" class="linkCERFA">CERFA N° 13750*05</a>, copie du permis de conduire, mandat N°13757*03, le procès verbal du contrôle technique à jour (copie) ainsi
			que le numéro de formule figurant sur les certificats d’immatriculation (carte grise) à demander à son assurance si vous vous ne l’avez plus.
		</p>
		<p>
			<strong>3- Demande de changement du titulaire de véhicule d’occasion :</strong> original de l’ancien certificat d’immatriculation ( carte grise) , la déclaration de cession (original) <a href="{{ asset('download/cgofficiel_cerfa-15776-01.pdf') }}" target="_blank" class="linkCERFA">Cerfa n° 15776*01</a>, 
			un justificatif de domicile de moins de 6 mois (copie),le procès-verbal du contrôle technique, à jour (copie), pour les véhicules de plus de quatre ans (copie), demande d’immatriculation
			<a href="#" class="linkCERFA">CERFA N° 13750*05</a> , mandat <a href="{{ asset('download/cgofficiel_cerfa_13757-03.pdf') }}" targer="_blank" class="linkCERFA">CERFA N°13757*03</a>, permis de conduire (copie), pièce d’identité (copie), attestation assurance,
			<span class="block"><strong>Important :le vendeur doit impérativement vous remettre l’ancien certificat d’immatriculation, barré, daté et signé par ses soins, avec la date et l’heure de la vente. Pour
			votre sécurité, il doit aussi vous fournir le certificat de non gage (ou certificat de situation administrative), attestant qu’il a payé toutes ses amendes et que son véhicule n’a
			pas n’a pas été déclaré comme irréparable après un accident.</strong></span>
		</p>
		<h3>Pour un véhicule neuf</h3>
		<p>
			Les pièces nécessaires pour établir votre certificat d’immatriculation / carte grise sont : la déclaration de cession ou la facture d’achat (original), le quitus fiscal fourni par le Trésor Public
			attestant la régularité du véhicule pour la TVA (original), le certificat de conformité fourni par le constructeur (original),un justificatif de domicile daté de moins de 6 mois (copie).
		</p>
	</div>
</div>
<div class="col-11  mx-auto home-texte mb-4 mt-4">
	<h3>Pièces à fournir</h3>
	<div class="dossier d-flex justify-content-center flex-wrap">
		<a data-toggle="modal" data-target="#dossier-1" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-1.jpg') }}">
			<span class="numero-dossier">1</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
		<a data-toggle="modal" data-target="#dossier-2" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-2.jpg') }}">
			<span class="numero-dossier">2</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
		<a data-toggle="modal" data-target="#dossier-3" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-3.jpg') }}">
			<span class="numero-dossier">3</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
		<a data-toggle="modal" data-target="#dossier-4" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-4.jpg') }}">
			<span class="numero-dossier">4</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
		<a data-toggle="modal" data-target="#dossier-5" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-5.jpg') }}">
			<span class="numero-dossier">5</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
		<a data-toggle="modal" data-target="#dossier-6" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-6.jpg') }}">
			<span class="numero-dossier">6</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
		<a data-toggle="modal" data-target="#dossier-7" class="dossier-element d-flex align-items-center justify-content-center">
			<img src="{{ asset('asset/img/dossier/dossier-7.jpg') }}">
			<span class="numero-dossier">7</span>
			<span class="txt-dossier">Permis de conduire</span>
		</a>
	</div>
	<div class="modal" id="dossier-1">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="dossier-2">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="dossier-3">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="dossier-4">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="dossier-5">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="dossier-6">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="dossier-7">
		<div class="modal-dialog">
			<div class="modal-content text-center padd-10">
				<span class="title-dossier">Permis de conduire</span>
				<div class="desc-dossier">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cadre4" class="col-11  mx-auto">
	<div class="col-12 home-texte4">
		<p>
			<strong>
				En tant que professionnel de l'automobile, CG Officiel est habilité par la Préfecture, au Système d'Immatriculation des Véhicules (SIV). Non affilié au gouvernement, CG officiel est également agréé par le Ministère de l'Intérieur (n°222442) , et
				habilité par le Trésor Public (n°55337) afin de vous proposer ce service d'immatriculation de véhicule en ligne et vous épargner ainsi tout déplacement pour vous démarches.
			</strong>
		</p>
	</div>

	<div class="col-12 mx-auto home-texte5">
		<p>
			<strong>Si vous préférez envoyer votre demande à l’ANTS, l’Agence nationale des Titres Sécurisés, prenez en compte la possibilité du délai de traitement des demandes d’immatriculation plus importantes, 
				avec son système automatisé de demandes de cartes grises mis en place le 6 novembre 2017 .</strong>
		</p>
	</div>

	<div class="col-12 arrow-up mb-5">
		<a href="#up">
			<span class="arrowup">Retour</span>
		</a>
	</div>
</div>
</div>