<div class="block_page">
	<div class="container">
		<h1 class="home-secondview--titre">Contact</h1>
		<hr class="border--light-2">
		<div class="form_contact_">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<h2 class="contact-title mt-2">Envoyer un message</h2>
					<hr class="border--light-2">
					<div class="card-block contact-form">
						<div class="block_form">
						{{form_start(form)}}
							<div class="row">
								<div class="col-12 col-sm-6">
									<div class="form-group">
										{{ form_label(form.firstName) }}
										{{ form_errors(form.firstName) }}
										{{form_widget(form.firstName)}}
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										{{ form_label(form.name) }}
										{{ form_errors(form.name) }}
										{{form_widget(form.name)}}
									</div>
								</div>
							</div>
							<div class="form-group">
								{{ form_label(form.email) }}
								{{ form_errors(form.email) }}
								{{form_widget(form.email)}}
							</div>
							{# <div class="form-group">
								{{ form_label(form.raison) }}
								{{ form_errors(form.raison) }}
								{{form_widget(form.raison)}}
							</div> #}
							<div class="form-group">
								{{ form_label(form.description) }}
								{{ form_errors(form.description) }}
								{{form_widget(form.description)}}
							</div>
								{{form_widget(form.submit)}}

							{{form_rest(form)}}
						{{form_end(form)}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{# <div class="editeur_">
			<h2 class="contact-title mt-3">Editeur:</h2>
			<hr class="border--light-2">
			<div class="text-contact">
				<p dir="ltr">CGOFFICIEL, SARL au capital de 500,00 €, inscrite au RCS de Toulouse sous le numéro 838 972 917, ayant son siège social&nbsp;20 Impasse Camille Langlade 31100 Toulouse.</p>
				<p dir="ltr">N°&nbsp;de TVA intracommunautaire&nbsp;: FR11838972917</p>
				<p dir="ltr">Directeur de la publication&nbsp;: Alain ABADIE</p>
				<p dir="ltr">Hébergeur&nbsp;: le Site est hébergé par la société&nbsp;OVH&nbsp;:</p>
				<p dir="ltr">SAS au capital de&nbsp;10&nbsp;069&nbsp;020&nbsp;€</p>
				<p dir="ltr">Siège social : 2 rue Kellermann 59100 Roubaix - France</p>
				<p dir="ltr">RCS Lille Métropole 424 761 419 00045</p>
				<p dir="ltr">Vous trouverez ci-après les conditions d’utilisation du site Internet, que vous acceptez du seul fait de la consultation de ce site. Si vous êtes mineur, vous vous engagez à ne consulter ce site qu’en présence de vos parents ou tuteur
					qui auront préalablement accepté les présentes conditions.</p>
				<p>Les présentes conditions, comme l’ensemble du contenu du site, peuvent être modifiées à tout moment et sans préavis.</p>
				<p>Nous nous réservons le droit de refuser l’admission ou d’exclure et supprimer le profil de toute personne qui ne respecterait pas les présentes conditions.</p>
				<p>Toute prestation de services payants effectuée par l’intermédiaire de notre site est soumise également à nos conditions générales de prestation de services que vous pouvez consulter en cliquant sur ce lien.</p>
				<p>&nbsp;</p>
			</div>
		</div> #}
	</div>
</div>