{% extends 'base.html.twig' %}


{% block page_content %}
<div class="col-8">
    <div>
        <br>
        <h3>
            {% if responses.response_code == "00" %}
                    Felicitation ! <br>
                {% else %}
                    Désolé ! Votre transaction n'a pas réussit. <br>
            {% endif %}
            
            {{ "#{responses.response_code}" | statusMessage }}
        </h3>
    </div>
    <div><br>
        Voici le récapitulatif de votre transaciton : 
        <br><br>
        <table class="table-striped">
            <tbody>
                <tr>
                    <td>Référence de la transaction </td>
                    <td>{{ responses.transaction_id }}</td>
                </tr>
                <tr>
                    <td>Montant de la transaction </td>
                    <td>{{ responses.amount | amount(2) }}</td>
                </tr>
                <tr>
                    <td>Numéro de la carte </td>
                    <td>{{ responses.card_number | cardNumber(responses.card_validity) }}</td>
                </tr>
                <tr>
                    <td>Autorisation </td>
                    <td>{{ responses.authorisation_id }}</td>
                </tr>
                <tr>
                    <td>Certificat de la transaction </td>
                    <td>{{ responses.payment_certificate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
{% endblock %}