{% extends 'email_base.html.twig' %}


{% block body %}
  {% if demande.transaction is not null %}
    {% set currentTransaction = demande.transaction %}
  {% else %}
    {% set currentTransaction = demande.commande.transaction %}
  {% endif %}
                            <td class="bodyEmail" bgcolor="#ffffff">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Type demande <span>:</span></strong>
                                        </td>
                                        <td>{{ demande.commande.demarche.nom }}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Date <span>:</span></strong>
                                        </td>
                                        <td>{{ currentTransaction.createAt | date('d/m/Y')}}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Nom et prénom(s) <span>:</span></strong>
                                        </td>
                                        <td>{{ client.clientNom }} {{ client.clientPrenom }}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Département <span>:</span></strong>
                                        </td>
                                        <td>{{ demande.commande.codePostal }}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Immatriculation <span>:</span></strong>
                                        </td>
                                        <td>{{ demande.commande.immatriculation }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="bodyTransa" bgcolor="#ffffff">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr class="transaB">
                                        <td class="transaItem">
                                            <strong>Dossiers à valider sont en pièce joint et doivent comporter :</strong>
                                            Historique de la transaction effectuée par <a href="mailto:{{ client.user.email }}">{{ client.user.email }}</a>
                                            <hr>
                                            {{ daf|raw }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="footer" bgcolor="#03347e">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="footercopy">
                                            Si vous trouvez que les documents sont valides , veuillez cliquer sur ce lien pour valider : 
                                            <a style="color:#ffffff;" href="{{ absolute_url(path("demande_document_validate", {"demande": demande.id, "checker": demande.checker})) }}">
                                                <b>validation des dossiers</b>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" class="footercopy">
                                            Si vous pensez que ces documents ne sont pas valide, veuillez mettre les raisons dans le champs text du lien suivant :
                                            <a style="color:#ffffff;" href="{{ absolute_url(path("demande_document_nonvalidate", {"demande": demande.id, "checker": demande.checker})) }}">
                                                <b>motif de rejet</b>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
{# <table width="100%" summary="" border="0" cellpadding="0" cellspacing="0" align="left" bgcolor="#FFFFFF" style="margin:0 auto">
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Type Demande </b></td>
        <td>: {{ demande.commande.demarche.nom }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Date </b></td>
        <td>: {{ demande.commande.ceerLe | date('d-m-Y')}}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Nom et prénom </b></td>
        <td>: {{ client.clientNom }} {{ client.clientPrenom }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Département </b></td>
        <td>: {{ demande.commande.codePostal }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Immatriculation </b></td>
        <td>: {{ demande.commande.immatriculation }}</td>
    </tr>
    <tr>
        <td height="20" colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"><h1 class="pl-4" style="color:#1a3f78;font-size:24px;margin-top:20px;">Dossiers à valider sont en pièce joint et doivent comporter :</h1></td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="daf-list-wrapper">
                {{ daf|raw }}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div>
                Si vous trouvez que les documents sont valides , veuillez cliquer sur ce lien pour valider : 
                <a style="color:#1a3f78;" href="{{ absolute_url(path("demande_document_validate", {"demande": demande.id, "checker": demande.checker})) }}">
                    <b>valider</b>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div>
                Si vous pensez que ces documents ne sont pas valide, veuillez mettre les raisons dans le champs text du lien suivant :
                <a style="color:#1a3f78;" href="{{ absolute_url(path("demande_document_nonvalidate", {"demande": demande.id, "checker": demande.checker})) }}">
                    <b>non valider</b>
                </a>
            </div>
        </td>
    </tr>
</table> #}
{% endblock %}