{% extends 'email_base.html.twig' %}


{% block body %}
    <div style="font-family:Raleway;color:#7296ce;font-size:35px;padding-top:50px;text-align:center">
        {{ "#{responses.response_code}" | statusMessage }}
    </div>

    <div style="font-family:Raleway;color:#002a6a;font-size:22px;padding-top:20px;padding-bottom:15px;text-align:center;border:1px solid #002a6a;border-radius:5px;width:fit-content;padding-left:20px;padding-right:20px;margin-right:auto;margin-left:auto">        
        <div>
            Historique de la transaction effectuée par {{ responses.customer_email }} 
            <br> <hr>
        </div>
        {% if transaction is defined and transaction is not null %}
        <table class="table-striped">
            <tbody>
                <tr>
                    <th>Type de demande</th>
                    <td>: {{ transaction.commande.demarche.nom }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>: {{ transaction.commande.ceerLe | format('d/M/Y') }}</td>
                </tr>
                {# <tr>
                    <td>Nom et prénom(s)</td>
                    <td>: {{ transaction.card_number | cardNumber(transaction.card_validity) }}</td>
                </tr> #}
                <tr>
                    <th>Département </th>
                    <td>: {{ transaction.commande.codePostal }}</td>
                </tr>
                <tr>
                    <th>Immatriculation </th>
                    <td>: {{ transaction.commande.immatriculation }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        {% endif %}
        
        <table class="table-striped">
            <tbody>
                <tr>
                    <th class="text-left">Référence de la transaction </th>
                    <td class="text-left">{{ responses.transaction_id }}</td>
                </tr>
                <tr>
                    <th class="text-left">Montant de la transaction </th>
                    <td class="text-left">{{ responses.amount | amount(2) }}</td>
                </tr>
                <tr>
                    <th class="text-left">Numéro de la carte </th>
                    <td class="text-left">{{ responses.card_number | cardNumber(responses.card_validity) }}</td>
                </tr>
                <tr>
                    <th class="text-left">Autorisation </th>
                    <td class="text-left">{{ responses.authorisation_id }}</td>
                </tr>
                <tr>
                    <th class="text-left">Certificat de la transaction </th>
                    <td class="text-left">{{ responses.payment_certificate }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table width="80%" style="margin:auto;color:#002a6a;font-size:22px;padding:20px;">
            {% if responses.response_code == "00" %}
            <tr>
                <td>
                    <p>
                    Pour finaliser votre demande, merci de nous faire parvenir les documents nécessaires à votre demande, sur CG Officiel et par courrier à l'adresse 20 Impasse Camille Langlade 31 100 Toulouse
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                <center>
                    <img style="height:70px;width:auto;margin:auto;" src="https://www.cgofficiel.fr/asset/img/0977423130-CGofficiel-carte-grise-certificat-immatriculationx70.png" alt="logo" class="CToWUd a6T" tabindex="0">
                </center>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    <p>
                        Il y a eu un problème lors de votre transaction, vous pouvez réessayer depuis depuis votre espace client sur
                        <a href="https://www.cgofficiel.fr" target="_blank"> https://www.cgofficiel.fr</a>. Pour toute autre demande, notre service client reste à votre disposition.
                    </p>
                <tr>
            </tr>
            <tr>
                <td>
                    <center>
                        <img style="height:70px;width:auto;margin:auto;" src="https://www.cgofficiel.fr/asset/img/0897010800-CGofficiel-carte-grise-certificat-immatriculationx70.png" alt="logo" class="CToWUd a6T" tabindex="0">
                    </center>   
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}