{% extends 'email_base.html.twig' %}


{% block body %}

    <div style="font-family:Raleway;color:#7296ce;font-size:35px;padding-top:50px;text-align:center">
        {{ "#{responses.response_code}" | statusMessage }}
    </div>

<table width="100%" summary="" border="0" cellpadding="0" cellspacing="0" align="left" bgcolor="#FFFFFF" style="margin:0 auto">
    <tr>
        <td width="130" height="40" colspan=2><b style="color:#1a3f78;">Historique de la transaction effectuée par {{ responses.customer_email }} </b></td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Référence de la transaction </b></td>
        <td>: {{ responses.transaction_id }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Montant de la transaction </b></td>
        <td>: {{ responses.amount | amount(2) }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Numéro de la carte </b></td>
        <td>: {{ responses.card_number | cardNumber(responses.card_validity) }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Autorisation </b></td>
        <td>: {{ responses.authorisation_id }}</td>
    </tr>
    <tr>
        <td width="130" height="20"><b style="color:#1a3f78;">Certificat de la transaction </b></td>
        <td>: {{ responses.payment_certificate }}</td>
    </tr>
</table>

    <div style="font-family:Raleway;color:#002a6a;font-size:22px;padding-top:20px;padding-bottom:15px;text-align:center;border:1px solid #002a6a;border-radius:5px;width:fit-content;padding-left:20px;padding-right:20px;margin-right:auto;margin-left:auto">        
        {# {% if transaction is defined and transaction is not null %}
        <table class="table-striped">
            <tbody>
                <tr>
                    <th>Type de demande</th>
                    <td>: {{ transaction.commande.demarche.nom }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>: {{ transaction.commande.ceerLe | format('d/M/Y') }}</td>
                </tr>
                {# <tr>
                    <td>Nom et prénom(s)</td>
                    <td>: {{ transaction.card_number | cardNumber(transaction.card_validity) }}</td>
                </tr> #}
                {#<tr>
                    <th>Département </th>
                    <td>: {{ transaction.commande.codePostal }}</td>
                </tr>
                <tr>
                    <th>Immatriculation </th>
                    <td>: {{ transaction.commande.immatriculation }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        {% endif %} #}
        <hr>
        <table width="80%" style="margin:auto;color:#002a6a;font-size:22px;padding:20px;">
            {% if responses.response_code == "00" %}
            <tr>
                <td>
                    <p>
                    Pour finaliser votre demande, merci de nous faire parvenir les documents nécessaires à votre demande, sur CG Officiel et par courrier à l'adresse 20 Impasse Camille Langlade 31 100 Toulouse
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                <center>
                    <img style="height:70px;width:auto;margin:auto;" src="https://www.cgofficiel.fr/asset/img/0977423130.png" alt="logo" class="CToWUd a6T" tabindex="0">
                </center>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    <p>
                        Il y a eu un problème lors de votre transaction, vous pouvez réessayer depuis depuis votre espace client sur
                        <a href="https://www.cgofficiel.fr" target="_blank"> https://www.cgofficiel.fr</a>. Pour toute autre demande, notre service client reste à votre disposition.
                    </p>
                <tr>
            </tr>
            <tr>
                <td>
                    <center>
                        <img style="height:70px;width:auto;margin:auto;" src="https://www.cgofficiel.fr/asset/img/0897010800.png" alt="logo" class="CToWUd a6T" tabindex="0">
                    </center>   
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}