                            <td class="bodyEmail" bgcolor="#ffffff">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Type demande <span>:</span></strong>
                                        </td>
                                        <td>{{ commande.demarche.nom}}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Date <span>:</span></strong>
                                        </td>
                                        <td>{{ commande.systempayTransaction.createdAt | date('d/m/Y')}}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Département <span>:</span></strong>
                                        </td>
                                        <td>{{ commande.codePostal }}</td>
                                    </tr>
                                    <tr class="recapDemande">
                                        <td class="col35">
                                            <strong>Immatriculation <span>:</span></strong>
                                        </td>
                                        <td>{{ commande.immatriculation}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="bodyTransa" bgcolor="#ffffff">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr class="transaB">
                                        <td class="transaItem">
                                            <strong>{{ "#{responses.vads_trans_status}" | statusMessage }}</strong>
                                            Historique de la transaction effectuée par <a href="mailto:{{ responses.vads_cust_email }}">{{ responses.vads_cust_email }}</a>
                                            <hr>
                                            <table width="100%" border="0" cellspacing="4px" cellpadding="0">
                                                <tr class="recapTransa">
                                                    <td class="col50">
                                                        <strong>Référence de la transaction</strong>
                                                    </td>
                                                    <td>{{ responses.vads_trans_id }}</td>
                                                </tr>
                                                <tr class="recapTransa">
                                                    <td class="col50">
                                                        <strong>Montant de la transaction</strong>
                                                    </td>
                                                    <td>{{ responses.vads_amount | amount(2) }} </td>
                                                </tr>
                                                <tr class="recapTransa">
                                                    <td class="col50">
                                                        <strong>Numéro de la carte</strong>
                                                    </td>
                                                    <td>{{ responses.vads_card_number }}</td>
                                                </tr>
                                                <tr class="recapTransa">
                                                    <td class="col50">
                                                        <strong>Autorisation</strong>
                                                    </td>
                                                    <td>{{ responses.vads_auth_number }}</td>
                                                </tr>
                                                <tr class="recapTransa">
                                                    <td class="col50">
                                                        <strong>Certificat de la transaction</strong>
                                                    </td>
                                                    <td>{{ responses.vads_payment_certificate }}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="footer" bgcolor="#03347e">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="footercopy">
                                            Pour finaliser votre commande, merci de nous faire parvenir les documents nécessaires à votre demande sur <a href="https://www.cgofficiel.fr/" target="_blank">CG Officiel</a> et par courrier à l'adresse <br><strong>20 impasse Camille Langlade 31100 Toulouse</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="padding: 20px 0 0 0;">
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td bgcolor="#ffffff" style="text-align: center; padding: 0px;">
                                                        <a href="tel:0972740107"><img src="https://www.cgofficiel.fr/asset/img/0972740107.png" alt="" border="0" style="max-width: 300px;background:fff" /></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>